<!-- prettier-ignore -->
<% 
  const _src = srcPath; 
  const _public = publicPath;
  const _imageSrc = typeof imageSrc !== 'undefined' ? imageSrc : '';
  const _alt = typeof alt !== 'undefined' ? alt : '';
  const imgBase = `${_public}/resources/img/mro/renewal/home-mo`;
%>

<div class="vm-home-promo-banner">
  <a href="<%= href %>" class="promo-banner-link">
    <img src="<%= imgBase %>/<%= _imageSrc %>" alt="<%= alt %>" />
  </a>
</div>
