@charset "utf-8";
.logo_wrap {
    text-align: center;
    padding: 10px 5px
}

.logo_wrap.hidden {
    display: none;
}

.chat_top {
    position: relative
}

.chat_name {
    font-size: 20px;
    text-align: center;
    padding: 20px 5px;
    box-shadow: 5px -1px 7px #eee
}

.chat_top .prev_page {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: #000;
    font-size: 20px
}

#chatArea {
    padding: 10px;
    background-color: #f6f7fb;
    height: calc(100% - 114px);
    overflow-y: auto;
}

.msg_list {
    margin: 10px 5px;
}

.msg_list.my_msg {
    text-align: right;
}

.chat_user {
    display: block;
    margin-bottom: 5px
}

.msg_date {
    vertical-align: bottom;
    font-size: 11px;
    color: #a0a0a0
}

.msg_box {
    max-width: 85%;
    display: inline-block;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px; /* white-space: pre-wrap; */
    word-break: break-word;
    word-wrap: break-word;
}

/* 메시지 전송 */
.msg_send_wrap {
    position: relative;
    box-shadow: 1px -4px 7px #eee;
    padding: 5px
}

.msg_send_wrap .message {
    padding: 5px 50px 5px 5px;
    outline: none;
    width: 100%; /* width:calc(100% - 50px);  */
    border: 0;
    height: 30px;
    vertical-align: middle;
}

.msg_send_wrap .btn_send {
    position: absolute;
    background: #3da981;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 50px; /* padding: 0 5px; */
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    color: #fff; /* border-radius: 20px; */
}

/* 채팅 리스트 */
.chat_sort:after {
    content: '';
    display: block;
    clear: both;
}

.user_img img {
    width: 50px;
    height: 50px;
}
