<%
  const _href = typeof href !== 'undefined' ? href : '#';
  const _label = typeof label !== 'undefined' ? label : '';
  const _target = typeof target !== 'undefined' ? target : null;
  const _rel = (_target === '_blank') ? 'noopener noreferrer' : null;
%>

<a class="vits-text-link"
   href="<%= _href %>"
   <% if (_target) { %> target="<%= _target %>"<% } %>
   <% if (_rel) { %> rel="<%= _rel %>"<% } %>>
  <%= _label %>
</a>
