/* stylelint-disable scss/at-rule-no-unknown */
@charset "utf-8";

@forward "tailwind.css";

// base
@forward "base";

// layout
@forward "layout";

// components
@forward "components";

// pages
@forward "pages";

// vendors
@forward "vendors";
