
@mixin normal {
  font-family: ManropeR, NotoR, serif;
  font-weight: normal;
}

@mixin bold {
  font-family: ManropeB, NotoB, serif;
  font-weight: normal;
}

/* 인라인 가로스크롤 */

@mixin inline-scrolling {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: .2rem;
  overflow: visible hidden;
  font-size: 0;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

// cover그라디언트

@mixin cover-img($radius: 15px, $color: rgba(0, 0, 0, .1)) {
  position: relative;

  &::before {
    @include Position($top: 0, $left: 0);
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $color;
    border-radius: $radius;
  }
}

/* 폰트만 삭제시킴 */

@mixin hide-txt {
  font-size: 0;
  line-height: 0;
}

@mixin hidden {
  @include hide-txt;
  position: absolute;
  visibility: hidden;
}

@mixin break-word {
  word-break: break-all;
  word-wrap: break-word;
}

/* 투명도 믹스인 */

@mixin opacity($opacity) {
  filter: alpha(opacity=$opacity-ie); /* For IE5~IE9 */
  opacity: $opacity; /* All modern browsers */
  $opacity-ie: $opacity * 100;
}

/* 포지션 믹스인 */
// @include position($top: 0, $left: 0)
@mixin position($position: absolute, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  inset: $top $right $bottom $left;
}

/* 백그라운드 믹스인 */
// @include background($sprite:'error', $type:'png', $position:right center); ---  사용법
// @include background($sprite:'error', $type:'jpg'); ---  사용법
// @include background($sprite:'error', $type:'jpg', $position:20% 20%, $size:100%); ---  사용법
@mixin background($sprite, $type: "png", $position: 0 0, $size: auto, $path: "icons") {
  background-image: url("../../assets/images/#{$path}/#{$sprite}.#{$type}");
  background-repeat: no-repeat;
  background-position: $position;
  background-size: $size;
}

/* 말줄임표 */
// 인자 값의 기본 값은 1
// @include ellipsis($w:100px, $lines:2); --- 사용법
@mixin ellipsis($w: 100%, $lines: 1, $display: block) {
  @if  $lines == 1 {
    display: $display;
    width: $w;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    display: $display;
    width: $w;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
}

// 커스텀 스크롤바
@mixin custum-scroll($minus: 5px) {
  &::-webkit-scrollbar {
    width: 17px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e1e1e1;
    background-clip: content-box;
    border: $minus solid transparent;
    border-radius: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fafafa;
    background-clip: content-box;
    border: $minus solid transparent;
    border-radius: 15px;
  }
  scrollbar-base-color: #e1e1e1;
  scrollbar-face-color: #e1e1e1;
  scrollbar-highlight-color: #e1e1e1;
  scrollbar-track-color: #fafafa;
  scrollbar-arrow-color: #fafafa;
  scrollbar-shadow-color: #fafafa;
  scrollbar-dark-shadow-color: #fafafa;
}

// @include box-shadow($top:0, $left:0px, $blur:15px, $color:rgba(50, 50, 50, 0.75));

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    box-shadow: inset $top $left $blur $color;
  }

  @else {
    box-shadow: $top $left $blur $color;
  }
}

/* 미디어쿼리 믹스인 */
// @include media( $queryPoint: "(max-width:480px)" ){
//  width : 50%;
// }

@mixin media($queryPoint) {
  @media #{ $queryPoint } {
    @content;
  }
}

// 미디어 쿼리 MIXIN
// --------------------------------------------------

// Break Point (Desktop First 기준 내림차순 설정)
// only PC

@mixin pc-only {
  @media screen and (min-width: $tablet-l-width + 1) {
    @content;
  }
}

// PC large

@mixin pc-large {
  @media screen and (min-width: $desktop-l-width + 1) {
    @content;
  }
}

// --------------------------------------------------

// 태블릿

@mixin tab {
  @media screen and (max-width: $tablet-l-width) {
    @content;
  }
}

// 모바일

@mixin mob {
  @media screen and (max-width: $tablet-s-width - 1) {
    @content;
  }
}

// 모바일 large

@mixin mob-large {
  @media screen and (max-width: $mob-l-width) {
    @content;
  }
}

// 모바일 mid

@mixin mob-mid {
  @media screen and (max-width: $mob-m-width) {
    @content;
  }
}

// 모바일 small

@mixin mob-small {
  @media screen and (max-width: $mob-s-width) {
    @content;
  }
}
