// -----------------------------------------------------------------------------
// abstracts/_variables.scss
// - 프로젝트 전역 변수(디자인 토큰/브레이크포인트/z-index) 모음
// -----------------------------------------------------------------------------

@use 'sass:map';
@use 'sass:list';
@use '@/assets/scss/abstracts/functions' as fn;

/* desktop width */
$desktop: (
  'min': 1024px,
  'default': 1280px
);

/* width */
$desktop-width-min: fn.rem(map.get($desktop, 'min'));
$desktop-width: fn.rem(map.get($desktop, 'default'));

/* height */

/* header */
$header-topbar-height: fn.rem(46);
$header-main-height: fn.rem(100);
$header-gnb-height: fn.rem(50);
$header-gnb-full-height: calc(100vh - ($header-topbar-height + $header-main-height));
$header-height: $header-topbar-height + $header-main-height + $header-gnb-height;
$header-panel-height-max: 50vh;

/* z-index */
$zindex-base: 1;
$zindex-skipnav: 9999;
$zindex-header-rank: 100;
$zindex-header-search: 50;
$zindex-header-panel: 10;
$zindex-select-option: 10;
$zindex-base-deafult: 10;
$zindex-compare-layer: 100;
$zindex-modal: 1000 !default;

/* radius */
$radius: (
  'sm': 4px,
  'md': 8px,
  'lg': 12px,
  'xl': 56px
);

/* unit 단위 배수 리스트 */
$unit: (
  2: fn.rem(2),
  4: fn.rem(4),
  8: fn.rem(8),
  12: fn.rem(12),
  16: fn.rem(16),
  20: fn.rem(20),
  24: fn.rem(24),
  32: fn.rem(32),
  36: fn.rem(36),
  40: fn.rem(40),
  44: fn.rem(44),
  48: fn.rem(48),
  52: fn.rem(52),
  56: fn.rem(56),
  'switch': 'false'
);

/* 태블릿 구간 공통 안전 여백 (레이아웃 깨짐 방지용) */
$tablet-gutter: map.get($unit, 20);
