/* kendo ui overriding var */
:root {
  --kendo-color-primary: blue; /* 기본 버튼 색 */
  --kendo-color-primary-hover: #e64a19; /* 호버 */
  --kendo-color-primary-active: #d84315; /* 클릭 */
}

$desktop-l-width: 1440px;
$tablet-l-width: 1024px;
$tablet-s-width: 768px;
$mob-l-width: 640px;
$mob-m-width: 425px;
$mob-s-width: 375px;
