<!-- prettier-ignore -->
<% 
  const _src = srcPath; 
  const _public = publicPath;
  const _imageSrc = typeof imageSrc !== 'undefined' ? imageSrc : `${_public}/resources/img/mro/renewal/temp/temp-ex01.jpg`;
  const _imageHref = typeof imageHref !== 'undefined' ? imageHref : '';
%>

<a href="<%= _imageHref %>" class="vits-main-modal-link">
  <img src="<%= _imageSrc %>" alt="" />
</a>
