**/dist/**
**/build/**
**/public/**
**/config/**
**/node_modules/**
**/*.test.{js,jsx,ts,tsx}
**/*.spec.{js,jsx,ts,tsx}
*.css
*.scss
*.html
*.png
*.json
*.d.ts
*.map
*.md
*.zip
*.test.js
*.test.ts
*.spec.js
*.spec.ts
**/**/*.json
**/__tests__/*.*
**/dist/**/*.*
