<% const _src = srcPath; const _public = publicPath; %>

<section class="vits-coupon-">
  <!-- 쿠폰 변경 헤더 -->
  <h2 class="sr-only">상품 추가</h2>
  <div class="vits-product-order">
    <!-- 상품 정보 -->
    <div class="vits-product-summary">
      <div class="vits-product-thumb">
      </div>
  
      <div class="vits-product-info">
        <div class="vits-product-meta">
          <span class="vits-product-brand">한국전선</span>
          <span class="vits-product-code">WIRE-002</span>
        </div>
  
        <p class="vits-product-name">
          VCT 600V 3C 2.5sq 전선
        </p>
  
        <p class="vits-product-desc">
          흑색 / 35SQ · 3C(고압) 절단조장(24년 04월)
        </p>
      </div>
    </div>
  
    <!-- 입력 영역 -->
    <div class="vits-order-input">
      <p class="vits-order-guide">
        원하는 길이를 입력해 주세요. 수량을 입력해 주세요.
      </p>
  
      <div class="vits-order-controls">
        
      </div>
    </div>
  
    <!-- 추가된 항목 리스트 -->
    <ul class="vits-order-list">
      <li class="vits-order-item">
        <span class="vits-order-spec">3 m x 15개</span>
        <span class="vits-order-price">224,112원</span>
        <button type="button" class="vits-order-remove" aria-label="삭제"></button>
      </li>
  
      <li class="vits-order-item">
        <span class="vits-order-spec">12 m x 1개</span>
        <span class="vits-order-price">224,112원</span>
        <button type="button" class="vits-order-remove" aria-label="삭제"></button>
      </li>
  
      <li class="vits-order-item">
        <span class="vits-order-spec">15 m x 2개</span>
        <span class="vits-order-price">224,112원</span>
        <button type="button" class="vits-order-remove" aria-label="삭제"></button>
      </li>
    </ul>
  </div>
  
  
</section>
