<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이메일 - 회원가입 인증 메일</title>
  </head>
  <body style="margin: 0; padding: 0; background-color: #f7f8fc">
    <table
      role="presentation"
      cellpadding="0"
      cellspacing="0"
      border="0"
      width="100%"
      style="
        width: 100%;
        background-color: #f7f8fc;
        border: 0;
        outline: 0;
        border-collapse: collapse;
        border-spacing: 0;
      "
    >
      <tr>
        <td align="center" style="padding: 32px 16px 75px; border: 0; outline: 0">
          <table
            role="presentation"
            cellpadding="0"
            cellspacing="0"
            border="0"
            width="680"
            style="
              width: 680px;
              background-color: #ffffff;
              border: 0;
              outline: 0;
              border-collapse: collapse;
              border-spacing: 0;
            "
          >
            <tr>
              <td style="padding: 40px 40px 20px; border: 0; outline: 0">
                <!-- [D] 운영소스 기준, 로고 경로 변경해야 함. -->
                <a href="https://vitsonmro.com/" target="_blank" style="display: block; text-decoration: none">
                  <img
                    src="https://madive15.github.io/vitson-HTML/public/resources/img/mro/renewal/email/email-head-logo.png"
                    alt="비츠온MRO"
                    width="150"
                    height="32"
                    style="width: 150px; height: 32px; display: block; border: 0; outline: none"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td style="padding: 20px 40px 0; border: 0; outline: 0">
                <table
                  role="presentation"
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  width="100%"
                  style="width: 100%; border: 0; outline: 0; border-collapse: collapse; border-spacing: 0"
                >
                  <tr>
                    <td
                      style="
                        border: 0;
                        outline: 0;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 24px;
                        font-weight: 700;
                        color: #000000;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      회원가입 인증 메일입니다.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 36px 40px 0; border: 0; outline: 0">
                <table
                  role="presentation"
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  width="100%"
                  style="width: 100%; border: 0; outline: 0; border-collapse: collapse; border-spacing: 0"
                >
                  <tr>
                    <td
                      style="
                        border: 0;
                        outline: 0;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #444444;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      안녕하세요, <b style="font-weight: 600">(주)비츠온MRO</b> 입니다.
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        padding: 8px 0 0;
                        border: 0;
                        outline: 0;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #444444;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      <b style="font-weight: 600">홍길동님</b>&nbsp;&nbsp;(주)비츠온MRO에 가입해주셔서 감사합니다.
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        padding: 36px 0 0;
                        border: 0;
                        outline: 0;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #444444;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      즐겁고 편리한 쇼핑을 하실 수 있도록 최선을 다하겠습니다.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 36px 40px; border: 0; outline: 0">
                <table
                  role="presentation"
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  width="100%"
                  style="width: 100%; border: 0; outline: 0; border-collapse: collapse; border-spacing: 0"
                >
                  <tr>
                    <td style="border: 0; outline: 0; border-top: 1px solid #dadada; font-size: 0; line-height: 0">
                      &nbsp;
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 0 40px 24px; border: 0; outline: 0">
                <table
                  role="presentation"
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  width="100%"
                  style="width: 100%; border: 0; outline: 0; border-collapse: collapse; border-spacing: 0"
                >
                  <tr>
                    <td
                      style="
                        border: 0;
                        outline: 0;
                        height: 50px;
                        border-bottom: 1px solid #1b1b1b;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 16px;
                        font-weight: 600;
                        color: #1b1b1b;
                        line-height: 1.3;
                        vertical-align: middle;
                      "
                    >
                      회원정보
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 0 60px; border: 0; outline: 0">
                <table
                  role="presentation"
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  width="100%"
                  style="width: 100%; border: 0; outline: 0; border-collapse: collapse; border-spacing: 0"
                >
                  <tr>
                    <td
                      width="108"
                      style="
                        padding: 0 0 24px;
                        border: 0;
                        outline: 0;
                        width: 108px;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #767676;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      아이디
                    </td>
                    <td
                      style="
                        padding: 0 0 24px;
                        border: 0;
                        outline: 0;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #2e2e2e;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      vitsonuser123
                    </td>
                  </tr>
                  <tr>
                    <td
                      width="100"
                      style="
                        padding: 0 0 24px;
                        border: 0;
                        outline: 0;
                        width: 108px;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #767676;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      상호명
                    </td>
                    <td
                      style="
                        padding: 0 0 24px;
                        border: 0;
                        outline: 0;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #2e2e2e;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      홍길동
                    </td>
                  </tr>
                  <tr>
                    <td
                      width="100"
                      style="
                        padding: 0 0 24px;
                        border: 0;
                        outline: 0;
                        width: 108px;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #767676;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      연락처
                    </td>
                    <td
                      style="
                        padding: 0 0 24px;
                        border: 0;
                        outline: 0;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #2e2e2e;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      <a
                        style="
                          display: inline-block;
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 14px;
                          font-weight: 400;
                          color: #2e2e2e !important;
                          line-height: 1.3;
                          text-decoration: none;
                          pointer-events: none;
                        "
                        >010-1234-5678</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td
                      width="100"
                      style="
                        border: 0;
                        outline: 0;
                        width: 108px;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #767676;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      이메일
                    </td>
                    <td
                      style="
                        border: 0;
                        outline: 0;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #2e2e2e;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      <a
                        style="
                          display: inline-block;
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 14px;
                          font-weight: 400;
                          color: #2e2e2e !important;
                          line-height: 1.3;
                          text-decoration: none;
                          pointer-events: none;
                        "
                        >user@example.com</a
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 36px 40px 0; border: 0; outline: 0">
                <table
                  role="presentation"
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  width="100%"
                  style="width: 100%; border: 0; outline: 0; border-collapse: collapse; border-spacing: 0"
                >
                  <tr>
                    <td style="border: 0; outline: 0; border-top: 1px solid #dadada; font-size: 0; line-height: 0">
                      &nbsp;
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
               <td align="center" style="padding: 44px 0; border: 0; outline: 0">
                <table role="presentation" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse: collapse; border-spacing: 0">
                  <tr>
                    <td
                      align="center"
                      width="360"
                      height="64"
                      style="
                        width: 360px;
                        height: 64px;
                        background-color: #e51e25;
                        border-radius: 8px;
                        border: 0;
                        outline: 0;
                      "
                    >
                      <a
                        href="https://vitsonmro.com"
                        target="_blank"
                        style="
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 20px;
                          font-weight: 700;
                          color: #ffffff !important;
                          line-height: 64px;
                          text-align: center;
                          text-decoration: none;
                        "
                      >비츠온MRO 바로가기</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td
                align="center"
                style="
                  padding: 0 40px 40px;
                  border: 0;
                  outline: 0;
                  font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                  font-size: 13px;
                  font-weight: 400;
                  color: #bebebe;
                  line-height: 1.3;
                  text-align: center;
                  vertical-align: top;
                "
              >
                본 메일은 발신전용입니다.<br />
                궁금하신 점이나 불편한 사항은 고객센터를 통해 문의해 주시기 바랍니다.
              </td>
            </tr>
            <tr>
              <td style="padding: 28px 48px; background: #444444; border: 0; outline: 0">
                <table
                  role="presentation"
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  width="100%"
                  style="width: 100%; border: 0; outline: 0; border-collapse: collapse; border-spacing: 0"
                >
                  <tr>
                    <td
                      style="
                        padding: 0 8px 0 0;
                        border: 0;
                        outline: 0;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 12px;
                        font-weight: 400;
                        color: #bebebe;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      <span
                        style="
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 12px;
                          font-weight: 400;
                          color: #bebebe;
                          line-height: 1.3;
                        "
                        >(주)일신비츠온</span
                      >&nbsp;&nbsp;&nbsp;&nbsp;
                      <a
                        href="mailto:online@vitson.co.kr"
                        style="
                          display: inline-block;
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 12px;
                          font-weight: 400;
                          color: #bebebe !important;
                          line-height: 1.3;
                          text-decoration: underline;
                        "
                        >online@vitson.co.kr</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        padding: 8px 0 0;
                        border: 0;
                        outline: 0;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 11px;
                        font-weight: 400;
                        color: #767676;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      <a
                        style="
                          display: inline-block;
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 11px;
                          font-weight: 400;
                          color: #767676 !important;
                          text-decoration: none;
                          pointer-events: none;
                        "
                        >주소 : (12017) 경기도 남양주시 진접읍 팔야산단로12번길 55</a
                      >&nbsp;&nbsp;<span
                        style="
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 11px;
                          font-weight: 400;
                          color: #767676;
                          line-height: 1.3;
                        "
                        >대표 : 진미애</span
                      >
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        padding: 2px 0 0;
                        border: 0;
                        outline: 0;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 11px;
                        font-weight: 400;
                        color: #767676;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      <span
                        style="
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 11px;
                          font-weight: 400;
                          color: #767676;
                          line-height: 1.3;
                        "
                        >사업자등록번호 : </span
                      ><a
                        style="
                          display: inline-block;
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 11px;
                          font-weight: 400;
                          color: #767676 !important;
                          line-height: 1.3;
                          text-decoration: none;
                          pointer-events: none;
                        "
                        >132-81-52217</a
                      >&nbsp;&nbsp;<a
                        href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=1328152217"
                        target="_blank"
                        style="
                          display: inline-block;
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 11px;
                          font-weight: 400;
                          color: #767676 !important;
                          line-height: 1.3;
                          text-decoration: underline;
                        "
                        >사업자정보확인</a
                      >&nbsp;&nbsp;&nbsp;&nbsp;<span
                        style="
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 11px;
                          font-weight: 400;
                          color: #767676;
                          line-height: 1.3;
                        "
                        >통신판매업신고 : 제 2017-진접오남-0205호</span
                      >
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        padding: 2px 0 0;
                        border: 0;
                        outline: 0;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 11px;
                        font-weight: 400;
                        color: #767676;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      <a
                        style="
                          display: inline-block;
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 11px;
                          font-weight: 400;
                          color: #767676;
                          line-height: 1.3;
                          text-decoration: none;
                          pointer-events: none;
                        "
                        >TEL. 031-510-7237</
                      >&nbsp;&nbsp;&nbsp;&nbsp;<a
                        style="
                          display: inline-block;
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 11px;
                          font-weight: 400;
                          color: #767676;
                          line-height: 1.3;
                          text-decoration: none;
                          pointer-events: none;
                        "
                        >FAX. 031-951-1375</a
                      >&nbsp;&nbsp;&nbsp;&nbsp;<span
                        style="
                          font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                          font-size: 11px;
                          font-weight: 400;
                          color: #767676;
                          line-height: 1.3;
                        "
                        >개인정보책임관리자 : 이경덕</span
                      >
                    </td>
                  </tr>
                  <tr>
                    <td
                      style="
                        padding: 16px 0 0;
                        border: 0;
                        outline: 0;
                        font-family: Arial, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
                        font-size: 11px;
                        font-weight: 400;
                        color: #767676;
                        line-height: 1.3;
                        vertical-align: top;
                      "
                    >
                      CopyrightⓒILSHIN All rights reserved.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
