<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->

<div class="vm-claim-request step-2" data-step-page="2">
  <%- include(`${_src}/views/components-mo/mypage/claim-request-notice.ejs`, { claimType: 'cancel' }) %>
  <div class="claim-request-pickup">
    <div class="claim-request-pickup-inner">
      <div class="claim-request-pickup-body">
        <%- include(`${_src}/views/components-mo/mypage/claim-request-bank.ejs`) %>
      </div>
    </div>
  </div>
</div>
