<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->

<a href="#" target="_blank" class="vm-mypage-inquiry-product">
  <div class="inquiry-product-body">
    <div class="inquiry-product-thumb">
      <div class="product-thumb">
        <img src="https://vitsonimg.co.kr/images/productsNew/56/56290.png" alt="" />
      </div>
    </div>
    <div class="inquiry-product-info">
      <div class="product-meta">
        <p class="product-brand"><span class="sr-only">브랜드</span>동서식품</p>
        <p class="product-code">63531</p>
      </div>
      <div class="product-summary">
        <p class="product-name">
          <span class="sr-only">상품명</span>튀김우동 컵라면 6개입
        </p>
        <p class="product-spec"><span class="sr-only">규격</span>3x2.5sq/600V</p>
      </div>
    </div>
  </div>
  <div class="inquiry-product-footer">
    <div class="product-price is-normal">
      <div class="price-origin-label">
        <span class="sr-only">표준단가(정상가)</span>128,500원
      </div>
      <div class="price-sale-row">
        <p class="price-rate"><span class="sr-only">할인율</span>30%</p>
        <p class="price-sale"><span class="sr-only">할인판매가</span>89,900원</p>
      </div>
    </div>
    <p class="product-price-vat">(VAT 별도)</p>
  </div>
</a>
