<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->

<p class="overview-shipping">
  <span class="icon"> <%- include(`${_src}/views/components/icon.ejs`, { iconName: 'truck-fill' }) %> </span>
  <span class="text">1개만 사도 무료배송</span>
</p>
