<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->
<%
const _showLike = typeof showLike !== 'undefined' ? showLike : true;
const _showCart = typeof showCart !== 'undefined' ? showCart : true;
const _showCompareBtn = typeof showCompareBtn !== 'undefined' ? showCompareBtn : true;
const _hasRecommend =
  typeof recommendProducts !== 'undefined' &&
  Array.isArray(recommendProducts) &&
  recommendProducts.length > 0;
%>

<% if (_hasRecommend) { %>
<%# 26-03-27 MU-1190 개발 서버 동일 위치 %>
<div class="vm-search-result" id="searchResultArea" style="">
  <div class="vm-search-result-recommend recommend-default" id="searchRecommendDefault" style="">
    <%# 
      26-03-27 MU-1190 상품 없을 경우, vm-product-inline-recommend 여기에 is-hidden 추가해주세요. 
      <section class="vm-product-inline-recommend">
    %>
    <!-- prettier-ignore -->
    <%- include(`${_src}/views/components-mo/product/product-inline-recommend.ejs`, {
      products: recommendProducts
    }) %>
  </div>
</div>
<% } %>

<%# 26-03-27 MU-1190 함께 본 상품 추가 %>
<%- include(`${_src}/views/components-mo/product/swiper-product.ejs`) %>

<ul class="vm-product-items view-thumb" data-ui="product-items">
  <!-- prettier-ignore -->
  <% products.forEach(function(item) { %>
    <%- include(`${_src}/views/components-mo/product/product-item.ejs`, { 
      item: item,
      showLike: _showLike,
      showCart: _showCart,
      showCompareBtn: _showCompareBtn
    }) %>
  <% }); %>
</ul>
