<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->
<%
const _showLike = typeof showLike !== 'undefined' ? showLike : true;
const _showCart = typeof showCart !== 'undefined' ? showCart : true;
const _showCompareBtn = typeof showCompareBtn !== 'undefined' ? showCompareBtn : true;
%>

<ul class="vm-product-items view-thumb" data-ui="product-items">
  <li class="vm-product-item full-banner" data-ui="product-inline-banner">
    <!-- prettier-ignore -->
    <%- include(`${_src}/views/components-mo/product/product-inline-recommend.ejs`, {
      products: recommendProducts
    }) %>
  </li>

  <% products.forEach(function(item) { %>
  <!-- prettier-ignore -->
  <%- include(`${_src}/views/components-mo/product/product-item.ejs`, { 
    item: item,
    showLike: _showLike,
    showCart: _showCart,
    showCompareBtn: _showCompareBtn
  }) %>
  <% }); %>
</ul>
