<!-- prettier-ignore -->
<%# 
  운영 상세이미지 원본 (detail_cont)
  - 상품: 팬던트 LED
  - 상품코드: 492759
  - 원본 출처: vitsonimg.co.kr
  - 퍼블용 임시 데이터
%>

<div class="detail_cont" style="display: block">
  <div class="item_short"></div>
  <div class="item_banner">
    <img
      src="https://vitsonimg.co.kr/images/isvm/upload/banner/00비츠온 상품공통배너.jpg"
      loading="lazy"
      decoding="async"
      onerror="this.src='/resources/img/detail_image.jpg'"
    />
  </div>
  <div class="item_banner">
    <div>
      <p><br /></p>
    </div>
  </div>
  <div class="item_orbitvu"></div>

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/492759-1.jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/492759-3.jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/492759 (3).jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/492759 (4).jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/492759 (5).jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/492759 (6).jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/492759 (7).jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/492759 (8).jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/492759 (9).jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/492759.png"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/비츠온 팬던트 LED DL30040 36W 상세페이지.jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/비츠온 팬던트 led dl30040 36w 상세페이지 2 (1).jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/비츠온 팬던트 led dl30040 36w 상세페이지 3 (1).jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/492/비츠온 팬던트 led dl30040 36w 상세페이지 4 (1).jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/productsNew/20250217_01/%EB%B9%84%EC%B8%A0%EC%98%A8%20%ED%8A%B9%ED%97%88.jpg"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />

  <img
    src="https://vitsonimg.co.kr/images/isvm/upload/prod/492759/2025-03-18 154553.png"
    loading="lazy"
    decoding="async"
    onerror="this.src='/resources/img/detail_image.jpg'"
  />
</div>
