// -----------------------------------------------------------------------------
// layout-mo/_header.scss
// - 모바일 헤더 내부 UI 전용
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

@mixin nav-bar-common-btn($tag) {
  @if $tag == 'button' {
    @include button.btn-reset;
  }

  @include icon.ic-size(fn.rem(28));
  display: block;
  flex-shrink: 0;
  color: map.get(color.$icon-neutral, 'primary');
}

.vm-header {
  @include mx.position(sticky, 0);
  z-index: map.get(var.$mo-zindex, 'header');

  // nav-bar
  &[class*='header-'][class*='-bar'] {
    @include mx.flex(flex, row, flex-start, center);
    gap: map.get(var.$unit, 8);
    min-height: map.get(var.$mo-header, 'nav-bar');
    padding: 0 var.$mo-gutter 0 fn.rem(7);
    background: color.$color-white;

    &.header-rule {
      @include mx.border('bottom', $width: 8px, $color: map.get(color.$layout-surf, 'sunken'));
    }

    &.header-main-bar {
      z-index: map.get(var.$mo-zindex, 'header-main');
      flex-direction: column;
      padding: 0;
    }

    // nav-bar-logo: 로고만 노출 (로그인/인증 등)
    &.header-nav-bar-logo {
      padding-left: var.$mo-gutter;
      box-shadow: map.get(var.$box-shadow, 'elevation_1');
    }

    &.header-search-bar {
      height: map.get(var.$mo-header, 'search-bar');

      .vits-input-search-form {
        height: map.get(var.$unit, 44);
      }
    }

    &.header-mypage-bar {
      .vm-header-actions {
        gap: map.get(var.$unit, 12);
      }
    }
  }

  &-back {
    @include icon.ic-size(fn.rem(28));
    color: map.get(color.$icon-neutral, 'primary');
  }

  &-title {
    @include typo.typography('h4s', $color: map.get(color.$text-colors, 'primary'));
    @include mx.ellipsis-single;

    .vits-tooltip {
      &-trigger .icon {
        width: fn.rem(14);
        height: fn.rem(14);
      }

      &-content {
        top: fn.rem(38); // 아이콘 28 + 여백 10 (header 총 높이 48)
        left: var.$mo-gutter;
      }
    }
  }

  &-desc {
    @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
    padding-top: map.get(var.$unit, 4);
  }

  &-actions {
    @include mx.flex(flex, row, flex-start, center);
    gap: map.get(var.$unit, 8);
    margin-left: auto;
  }

  &-btn {
    position: relative;

    .badge {
      $badge-count: fn.rem(15);

      @include mx.border('all', $color: color.$color-white);

      &.dot {
        @include mx.position(absolute, 0, 0);
        width: map.get(var.$unit, 8);
        height: map.get(var.$unit, 8);
        background: map.get(color.$icon-colors, 'primary');
        border-radius: 50%;
      }

      &.count {
        @include mx.position(absolute, -1px);
        @include mx.flex(flex, row, center, center);
        width: max-content;
        min-width: $badge-count;
        height: $badge-count;
        padding: 0 map.get(var.$unit, 4);
        background: map.get(color.$brand-colors, '100');
        border-radius: $badge-count;

        .num {
          @include typo.typography('b5b', $color: color.$color-white);
          line-height: $badge-count;
        }

        &.is-single {
          left: var.$mo-gutter;
        }

        &.is-double {
          left: map.get(var.$unit, 12);
        }

        &.is-over {
          left: fn.rem(10);
        }
      }
    }

    &:is(a) {
      @include nav-bar-common-btn('a');
    }

    &:is(button) {
      @include nav-bar-common-btn('button');
    }

    &.is-active::after {
      @include mx.position(absolute, 0, 0);
      z-index: var.$zindex-base;
      width: map.get(var.$unit, 8);
      height: map.get(var.$unit, 8);
      content: '';
      background: map.get(color.$icon-colors, 'primary');
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px color.$color-white;
    }
  }

  &-logo {
    display: block;
    width: fn.rem(110);

    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }

  &-step {
    @include mx.flex(flex, row, flex-end, center);

    > li {
      @include mx.flex(flex, row, flex-start, center);

      &:not(:last-of-type)::after {
        display: block;
        width: fn.rem(11);
        height: fn.rem(2);
        margin: 0 map.get(var.$unit, 8);
        content: '';
        background: map.get(color.$layout-surf, 'secondary');
      }
    }

    &-button {
      @include button.btn-reset;
      @include mx.flex(flex, row, flex-start, center);
      gap: map.get(var.$unit, 4);

      .number {
        @include mx.flex(flex, row, center, center);
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
        width: map.get(var.$unit, 20);
        height: map.get(var.$unit, 20);
        background: map.get(color.$layout-surf, 'sunken');
        border-radius: 50%;
      }

      .text {
        @include typo.typography('b4s', $color: map.get(color.$text-colors, 'secondary'));
        display: none;
      }

      &.is-current {
        .number {
          color: color.$color-white;
          background: map.get(color.$layout-surf, 'brand');
        }

        .text {
          display: block;
        }
      }
    }
  }

  &-search {
    @include mx.flex(flex, row, space-between, center);
    position: relative;
    flex-grow: 1;
    gap: var.$mo-gutter;
    min-width: 0;
    padding-right: map.get(var.$unit, 8);
    padding-left: map.get(var.$unit, 4);

    .vits-input-search {
      width: 100%;
    }
  }

  &:has(.vm-header-desc) {
    /* stylelint-disable-next-line no-descending-specificity */
    .vm-header-actions {
      align-self: flex-start;
    }
  }

  &.header-product-bar {
    height: map.get(var.$mo-header, 'product-bar');
  }

  &.header-main-bar {
    .header-main {
      &-top {
        @include mx.flex(flex, column);
        gap: map.get(var.$unit, 8);
        width: 100%;
        height: map.get(var.$mo-header, 'main-bar-top');
        padding: map.get(var.$unit, 12) 0;

        &-bar {
          @include mx.flex(flex, row, space-between, center);
          padding: 0 var.$mo-gutter;
        }
      }

      &-search {
        padding: 0 var.$mo-gutter;

        .vits-input-searchform {
          height: map.get(var.$unit, 40);

          .input-search {
            padding-right: map.get(var.$unit, 36);
            padding-left: map.get(var.$unit, 12);
            font-size: fn.rem(14);

            &-btn {
              right: map.get(var.$unit, 8);
              width: map.get(var.$unit, 20);
              height: map.get(var.$unit, 20);
              color: map.get(color.$icon-neutral, 'tertiary');
            }
          }
        }
      }

      &-gnb {
        $gnb-pb: map.get(var.$unit, 8);

        @include mx.flex;
        position: relative;
        width: 100%;
        height: map.get(var.$mo-header, 'main-bar-gnb') + $gnb-pb;
        transition: height 0.3s;

        .gnb {
          &-list,
          &-item {
            @include mx.flex;
            height: 100%;
          }

          &-list {
            @include mx.hidden-scrollbar;
            gap: map.get(var.$unit, 20);
            padding: 0 var.$mo-gutter;
            overflow: auto hidden;
          }

          &-item {
            position: relative;
            flex-shrink: 0;
          }

          &-link {
            @include mx.flex(flex, row, flex-start, center);
            gap: map.get(var.$unit, 2);
            padding-bottom: $gnb-pb !important;

            &:is(button) {
              @include button.btn-reset;
            }

            .icon {
              @include icon.ic-size(var.$mo-gutter);
              margin-top: fn.rem(1);
              color: map.get(color.$layout-surf, 'dark');
            }

            .text {
              @include typo.typography('b3s', $color: map.get(color.$text-colors, 'primary'));
              line-height: fn.rem(18);
            }

            &.is-active {
              .text {
                font-weight: 700;
                color: map.get(color.$text-status, 'brand');
              }

              &::after {
                @include mx.position(absolute, $bottom: 0, $left: (fn.rem(5) * -1));
                width: calc(100% + fn.rem(10));
                height: fn.rem(2);
                content: '';
                background: map.get(color.$layout-surf, 'brand');
              }
            }
          }
        }

        &:has(.gnb-link.is-active) {
          box-shadow: inset 0 -1px 0 0 map.get(color.$layout-border, 'quinary');
        }
      }
    }

    &.is-sticky {
      padding-bottom: 0 !important;

      .header-main-gnb {
        height: 0;
      }
    }
  }

  &.header-alarm-bar {
    .vm-header-actions .btn-setting {
      width: map.get(var.$unit, 32);
      height: map.get(var.$unit, 32);
    }
  }
}

// 개발 대응 - 검색 오버레이 레이아웃
.vm-search-overlay {
  @include mx.position(fixed, 0, 0, 0, 0);
  z-index: map.get(var.$mo-zindex, 'search-overlay');
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  overflow-y: auto;
  background: color.$color-white;
}
