// -----------------------------------------------------------------------------
// base/_base.scss
// - 프로젝트 전역에서 사용하는 기본 스타일 및 공통 유틸(.sr-only 등)을 정의
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/base/colors' as color;

/* Skip Navigation */
.skip-nav {
  @include mx.border('all', $color: map.get(color.$text-colors, 'default'));
  @include typo.typography('b4m');
  position: absolute;
  top: -9999px; /* 기본은 화면 밖 */
  left: 0;
  z-index: var.$zindex-skipnav;
  padding: map.get(var.$unit, 4) map.get(var.$unit, 8);
  background: color.$color-white;
  outline: 0;

  &:focus,
  &:focus-visible {
    top: 0; /* 포커스 시 노출 */
  }
}

/* 스크린 리더 전용 숨김 처리 */
.sr-only {
  @include mx.sr-only;
}

.is-hidden {
  display: none !important;
}

/* 상태에 따른 텍스트 색상 */
/* 
 * 주문상태 
 * text-order-status data-status="01" 주문접수 
 * text-order-status data-status="02" 결제완료 
 * text-order-status data-status="03" 주문완료 
 * text-order-status data-status="04" 주문확정 
 * text-order-status data-status="05" 배송준비중 
 * text-order-status data-status="06" 배송중 
 * text-order-status data-status="07" 배송완료
 */
$order-status-color: (
  // 주문접수
  '01': map.get(color.$text-colors, 'tertiary'),
  // 결제완료
  '02': map.get(color.$text-status, 'success-sub'),
  // 주문완료
  '03': map.get(color.$text-status, 'success-sub'),
  // 주문확정
  '04': map.get(color.$text-status, 'info-sub'),
  // 배송준비중
  '05': map.get(color.$text-colors, 'tertiary'),
  // 배송중
  '06': map.get(color.$text-status, 'info-sub'),
  // 배송완료
  '07': map.get(color.$text-status, 'success-sub')
);

.text-order-status {
  @each $code, $color in $order-status-color {
    &[data-status='#{$code}'] {
      @include typo.typography('b3s', $color: $color);
    }
  }
}

/* 
 * 클라임 상태 
 * text-claim-status data-status="01" 취소 
 * text-claim-status data-status="02" 취소신청 
 * text-claim-status data-status="03" 주문취소 
 * text-claim-status data-status="04" 반품 
 * text-claim-status data-status="05" 반품신청 
 * text-claim-status data-status="06" 반품접수 
 * text-claim-status data-status="07" 회수진행중 
 * text-claim-status data-status="08" 회수완료 
 * text-claim-status data-status="09" 반품완료 
 * text-claim-status data-status="10" 반품취소 
 * text-claim-status data-status="11" 반품승인불가 
 * text-claim-status data-status="12" 반품불가
 */
$claim-status-color: (
  // 취소
  '01': map.get(color.$text-status, 'brand-sub'),
  // 취소신청
  '02': map.get(color.$text-status, 'brand-sub'),
  // 주문취소
  '03': map.get(color.$text-status, 'brand-sub'),
  // 반품
  '04': map.get(color.$text-status, 'brand-sub'),
  // 반품신청
  '05': map.get(color.$text-status, 'brand-sub'),
  // 반품접수
  '06': map.get(color.$text-colors, 'tertiary'),
  // 회수진행중
  '07': map.get(color.$text-status, 'info-sub'),
  // 회수완료
  '08': map.get(color.$text-status, 'success-sub'),
  // 반품완료
  '09': map.get(color.$text-status, 'success-sub'),
  // 반품취소
  '10': map.get(color.$text-status, 'info-sub'),
  // 반품승인불가
  '11': map.get(color.$text-status, 'brand-sub'),
  // 반품불가
  '12': map.get(color.$text-status, 'brand-sub')
);

.text-claim-status {
  @each $code, $color in $claim-status-color {
    &[data-status='#{$code}'] {
      @include typo.typography('b3s', $color: $color);
    }
  }
}
