// -----------------------------------------------------------------------------
// base/_fonts.scss
// - 웹폰트 선언 및 기본 폰트 패밀리 설정
// -----------------------------------------------------------------------------

$pretendard-fonts: (
  100: 'Thin',
  200: 'ExtraLight',
  300: 'Light',
  400: 'Regular',
  500: 'Medium',
  600: 'SemiBold',
  700: 'Bold',
  800: 'ExtraBold',
  900: 'Black'
);

@each $weight, $name in $pretendard-fonts {
  @font-face {
    font-family: Pretendard;
    font-style: normal;
    font-weight: $weight;
    src: url('/public/resources/css/fonts/Pretendard/Pretendard-#{$name}.woff') format('woff');
    font-display: swap;
  }
}
