@font-face {
  font-family: Pretendard;
  font-weight: 100;
  src: url('/public/resources/css/fonts/Pretendard/Pretendard-Thin.woff') format('woff');

  // font-display: swap;
}

@font-face {
  font-family: Pretendard;
  font-weight: 200;
  src: url('/public/resources/css/fonts/Pretendard/Pretendard-ExtraLight.woff') format('woff');

  // font-display: swap;
}

@font-face {
  font-family: Pretendard;
  font-weight: 300;
  src: url('/public/resources/css/fonts/Pretendard/Pretendard-Light.woff') format('woff');

  // font-display: swap;
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  src: url('/public/resources/css/fonts/Pretendard/Pretendard-Regular.woff') format('woff');

  // font-display: swap;
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  src: url('/public/resources/css/fonts/Pretendard/Pretendard-Medium.woff') format('woff');

  // font-display: swap;
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  src: url('/public/resources/css/fonts/Pretendard/Pretendard-SemiBold.woff') format('woff');

  // font-display: swap;
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  src: url('/public/resources/css/fonts/Pretendard/Pretendard-Bold.woff') format('woff');

  // font-display: swap;
}

@font-face {
  font-family: Pretendard;
  font-weight: 800;
  src: url('/public/resources/css/fonts/Pretendard/Pretendard-ExtraBold.woff') format('woff');

  // font-display: swap;
}

@font-face {
  font-family: Pretendard;
  font-weight: 900;
  src: url('/public/resources/css/fonts/Pretendard/Pretendard-Black.woff') format('woff');

  // font-display: swap;
}
