// -----------------------------------------------------------------------------
// base/_reset.scss
// - 브라우저 기본 스타일 초기화, 모든 컴포넌트/레이아웃을 디자인 규칙으로 재정의.
// -----------------------------------------------------------------------------

.vits-scope {
  body {
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  dl {
    padding: 0;
    margin: 0;
  }
}
