// -----------------------------------------------------------------------------
// base/_reset.scss
// - 브라우저 기본 스타일 초기화, 모든 컴포넌트/레이아웃을 디자인 규칙으로 재정의.
// -----------------------------------------------------------------------------

.vits-scope {
  body {
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  dl {
    padding: 0;
    margin: 0;
  }

  /* stylelint-disable no-descending-specificity */
  // 자동완성 배경색 초기화
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
  }
  /* stylelint-enable no-descending-specificity */

  // autofill 상태에서만 selection 투명 처리
  input:-webkit-autofill::selection {
    color: inherit !important;
    background-color: transparent !important;
  }
}
