<% const _src = srcPath; const _public = publicPath; %>
<!-- 쿠폰 조회 필터 -->
<div class="vits-mypage-query">
  <div class="mypage-query-fields">
    <dl class="mypage-query-period">
      <dt class="mypage-query-label">조회 기간</dt>
      <dd class="mypage-query-control">
        <div class="mypage-query-period-buttons" data-ui="period-btn-group" data-group="order">
          <button type="button" data-ui="period-btn" data-value="1m" class="mypage-query-btn">
            <span class="text">1개월</span>
          </button>
          <button type="button" data-ui="period-btn" data-value="3m" class="mypage-query-btn" aria-pressed="false">
            <span class="text">3개월</span>
          </button>
          <button type="button" data-ui="period-btn" data-value="6m" class="mypage-query-btn" aria-pressed="false">
            <span class="text">6개월</span>
          </button>
          <button type="button" data-ui="period-btn" data-value="12m" class="mypage-query-btn" aria-pressed="false">
            <span class="text">1년</span>
          </button>
        </div>
      </dd>
      <dd class="mypage-query-control mypage-query-period-range">
        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/kendo/kendo-datepicker.ejs`, {
          options: {
            id: 'testPickerCouponRange',
            name: 'couponDate',
            size: 'm',
            placeholder: '시작일 ~ 종료일'
          }
        }) %>
      </dd>
    </dl>
    
  </div>
</div>