// -----------------------------------------------------------------------------
// components/_datepicker.scss
// - 데이트피커 컴포넌트 전용 스타일
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

/* Kendo Range Picker */
@mixin range-grad($type) {
  @if $type == 'start' {
    background: #fff;
    background: linear-gradient(
      90deg,
      rgb(255 255 255 / 100%) 50%,
      rgb(254 225 226 / 100%) 50%,
      rgb(254 225 226 / 100%) 50%
    );
  }

  @if $type == 'end' {
    background: #fff;
    background: linear-gradient(
      270deg,
      rgb(255 255 255 / 100%) 50%,
      rgb(254 225 226 / 100%) 50%,
      rgb(254 225 226 / 100%) 50%
    );
  }
}

.vits-scope .vits-kendo-range-picker {
  position: relative;
  width: 100%;

  .picker {
    &-input {
      @include mx.flex;
      @include mx.border('all', $color: map.get(color.$layout-border, 'tertiary'));
      width: 100%;
      height: map.get(var.$unit, 32);
      overflow: hidden;
      background: color.$color-white;
      border-radius: map.get(var.$radius, 'sm');
    }

    &-display {
      @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
      padding: 0 0 0 map.get(var.$unit, 12);
      margin: 0;
      appearance: none;
      cursor: pointer;
      background: transparent;
      border: 0;
      outline: 0;

      &::placeholder {
        color: map.get(color.$text-colors, 'muted');
      }
    }

    &-button {
      @include mx.flex(flex, row, flex-start, center);
      width: fn.rem(30);

      .icon {
        @include icon.ic-size(fn.rem(22));
        color: map.get(color.$icon-neutral, 'primary');
      }
    }

    &-popup {
      @include mx.position(absolute, calc(100% + 4px), $left: 0);
      @include mx.border('all', $color: map.get(color.$layout-border, 'primary'));
      z-index: var.$zindex-range-picker-popup;
      display: none;
      width: fn.rem(360);
      max-width: fn.rem(360);
      padding: map.get(var.$unit, 20);
      background: color.$color-white;
      border-radius: map.get(var.$radius, 'md');

      .k-calendar,
      .k-calendar-view,
      .k-calendar-table,
      .k-calendar-tbody,
      .k-content {
        transition: none !important;
        animation: none !important;
      }

      // 슬라이드 효과 제거
      .k-calendar-view {
        overflow: hidden;

        &.k-calendar-monthview {
          transition: none !important;
        }
      }

      .k-calendar {
        width: 100%;
        padding: 0;
        margin: 0;
        background: transparent;
        border: 0;

        *,
        *::before,
        *::after {
          transition: none !important;
          animation: none !important;
        }

        .k-button,
        .k-button-flat,
        .k-button-flat-base,
        .k-calendar-nav-fast {
          background: none !important;
          border: none !important;
          outline: none !important;
          box-shadow: none !important;
          -webkit-tap-highlight-color: transparent !important;

          &::before,
          &::after {
            display: none !important;
          }

          &:focus,
          &:active,
          &:hover,
          &:focus-visible,
          &.k-focus,
          &.k-active,
          &.k-selected {
            background: none !important;
            border: none !important;
            outline: none !important;
            box-shadow: none !important;

            &::after,
            &::before {
              display: none;
            }
          }
        }

        .k-header {
          @include mx.flex(flex, row, center, center);
          gap: map.get(var.$unit, 16);
          padding: 0;
          background: transparent;
          border: 0;
          box-shadow: none;

          .k-button.k-rounded-md .k-button-text {
            @include typo.typography('h2b');

            .nav-dot {
              padding: 0 map.get(var.$unit, 12);
            }
          }

          .k-calendar-nav-fast {
            flex: 0;
            padding: 0;
          }

          .k-calendar-nav-prev,
          .k-calendar-nav-next {
            display: block;
            width: map.get(var.$unit, 32);
            height: map.get(var.$unit, 32);
            background: #fff no-repeat center / contain !important;

            .k-icon {
              display: none;
            }
          }

          .k-calendar-nav-prev {
            background-image: url('/public/resources/img/mro/renewal/ic/ic-arrow-left.svg') !important;
          }

          .k-calendar-nav-next {
            background-image: url('/public/resources/img/mro/renewal/ic/ic-arrow-right.svg') !important;
          }
        }

        .k-calendar-view {
          width: 100%;
          padding: 0;

          .k-calendar-table {
            width: 100%;

            .k-calendar-thead {
              .k-calendar-th {
                @include typo.typography('b3r');
                padding: map.get(var.$unit, 20) 0;
              }
            }
          }

          &.k-calendar-monthview {
            td {
              &.k-hover,
              &.k-hover:hover,
              &:hover {
                pointer-events: none;
                background: transparent;
              }

              .k-link {
                @include mx.flex(flex, row, center, center);
                @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
                width: fn.rem(32);
                height: fn.rem(32);
                padding: 0;
                margin: 0 auto;
                line-height: 32px;
                pointer-events: auto;
                border-radius: 50%;
                box-shadow: none;

                &:hover {
                  background: map.get(color.$layout-surf, 'sunken');
                }
              }

              &.k-today .k-link {
                font-weight: 600;
                color: map.get(color.$text-colors, 'primary');
              }

              &.k-range-start {
                background: transparent;
              }

              &.k-range-end {
                background: transparent;
              }

              &.k-selected .k-link,
              &.k-range-start .k-link,
              &.k-range-end .k-link {
                color: color.$color-white;
                background: map.get(color.$brand-colors, 'hover');

                &:hover {
                  color: color.$color-white;
                  background: map.get(color.$brand-colors, 'hover') !important;
                }
              }

              &.k-range-mid {
                background: #fee1e2;

                /* stylelint-disable-next-line no-descending-specificity */
                .k-link {
                  color: map.get(color.$text-status, 'brand');

                  &:hover {
                    background: transparent !important;
                  }
                }

                &,
                &:hover,
                &.k-hover {
                  background: #fee1e2 !important;
                }
              }
            }

            &.k-other-month {
              &.k-range-mid {
                background: #fee1e2 !important;

                /* stylelint-disable-next-line no-descending-specificity */
                .k-link {
                  color: map.get(color.$text-status, 'brand');
                  opacity: 0.5; // 다른 달은 살짝 연하게
                }
              }
            }
          }
        }

        // has-range 있을 때만 gradient
        &.has-range .k-calendar-monthview td {
          &.k-range-start {
            @include range-grad('start');

            &:hover {
              @include range-grad('start');
            }
          }

          &.k-range-end {
            @include range-grad('end');

            &:hover {
              @include range-grad('end');
            }
          }
        }
      }

      &.is-open {
        display: block;
      }
    }
  }

  &.size-sm {
    .picker-input {
      height: fn.rem(28);
    }

    .picker-display {
      font-size: fn.rem(12);
    }
  }

  &.size-lg {
    .picker-input {
      height: fn.rem(36);
    }
  }
}
