// -----------------------------------------------------------------------------
// components/_floating.scss
// - 플로팅 최근 본 상품 + TOP 버튼
// -----------------------------------------------------------------------------

@use 'sass:map';
@use 'sass:math';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

$section-gap: map.get(var.$unit, 8);
$common-size: fn.rem(60);

@mixin floating-panel-border {
  width: 100%;
  background: map.get(color.$layout-surf, 'base');
  border-radius: $common-size;
  box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'secondary');
}

.vits-floating {
  &-section {
    @include mx.position(fixed, $right: map.get(var.$unit, 20), $bottom: map.get(var.$unit, 20));
    @include mx.flex(flex, column, flex-end, center);
    z-index: var.$zindex-floating;
    gap: $section-gap;
    width: $common-size;
  }

  &-recent {
    @include mx.flex(flex, column, flex-end, center);
    @include floating-panel-border;
    gap: map.get(var.$unit, 4);
    padding: map.get(var.$unit, 12) map.get(var.$unit, 8);
    cursor: pointer;

    &.is-empty {
      cursor: default;
    }
  }

  &-list {
    @include mx.flex(flex, column);
    gap: fn.rem(6);
    transition: transform 0.3s ease;

    &-wrap {
      width: 100%;
      max-height: fn.rem(144);
      overflow: hidden;
    }
  }

  &-item {
    @include mx.border('all', $color: map.get(color.$layout-border, 'quaternary'));
    flex-shrink: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-arrow {
    @include icon.ic-size(map.get(var.$unit, 20));
    display: none;
    color: map.get(color.$icon-neutral, 'tertiary');
    cursor: pointer;

    &.is-disabled {
      cursor: default;
      opacity: 0.3;
    }

    .is-scrollable & {
      display: block;
    }
  }

  &-count {
    &,
    span {
      @include typo.typography('b4r', $color: map.get(color.$neutral-colors, '4'));
      text-align: center;
    }
  }

  &-top {
    @include button.btn-reset;
    @include mx.flex(flex, row, center, center);
    @include floating-panel-border;
    width: $common-size;
    height: $common-size;
    pointer-events: none;
    filter: drop-shadow(0 4px 7px rgb(0 0 0 / 4%));
    opacity: 0;
    transition: opacity 0.3s ease;

    &.is-visible {
      pointer-events: auto;
      opacity: 1;
    }

    img {
      width: fn.rem(35);
      aspect-ratio: 35 / 24;
    }
  }

  &-panel {
    $panel-bottom: $common-size + $section-gap;

    @include mx.position(absolute, $right: 0, $bottom: $panel-bottom);
    @include mx.flex(flex, column);
    @include mx.border('all', $color: map.get(color.$layout-border, 'secondary'));
    z-index: var.$zindex-floating-panel;
    display: none;
    gap: map.get(var.$unit, 12);
    width: fn.rem(238);
    max-height: fn.rem(514);
    padding: map.get(var.$unit, 12) map.get(var.$unit, 4);
    background: map.get(color.$layout-surf, 'base');
    border-radius: map.get(var.$radius, 'lg');

    &-scroll {
      flex-grow: 1;
      min-width: 0;
      min-height: 0;
      overflow-y: auto;
    }

    &-head {
      @include mx.flex(flex, row, flex-start, center);
      @include mx.position(sticky, 0);
      z-index: var.$zindex-base;
      gap: map.get(var.$unit, 8);
      padding: 0 map.get(var.$unit, 8) map.get(var.$unit, 16);
      background: #fff;
      background: linear-gradient(
        180deg,
        rgb(255 255 255 / 100%) 60%,
        rgb(255 255 255 / 50%) 70%,
        rgb(255 255 255 / 0%) 100%
      );
    }

    &-title {
      @include mx.flex(flex, row, flex-start, center);
      @include typo.typography('b3b', $color: map.get(color.$text-colors, 'primary'));
      width: 100%;
      height: fn.rem(26);
      margin-right: auto;
    }

    &-list {
      @include mx.flex(flex, column);
      padding: 0 map.get(var.$unit, 8);
    }

    &-item {
      &,
      a {
        @include mx.flex(flex, row, flex-start, center);
        gap: map.get(var.$unit, 8);
      }

      .thumb {
        @include mx.img-fit;
        flex-shrink: 0;
        width: fn.rem(60);
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: map.get(var.$radius, 'sm');
      }

      .info {
        @include mx.flex(flex, column);
        gap: fn.rem(6);
      }

      .name {
        @include typo.typography('b4s', $color: map.get(color.$text-colors, 'primary'));
        @include mx.ellipsis-multi(1.4, 2);
      }

      .price {
        @include typo.typography('b5r', $color: map.get(color.$text-colors, 'seconary'));
      }

      &:not(:last-of-type) {
        @include mx.border('bottom', $color: map.get(color.$layout-surf, 'sunken'));
        padding-bottom: map.get(var.$unit, 8);
        margin-bottom: map.get(var.$unit, 8);
      }
    }

    &.is-open {
      display: flex;
    }
  }

  &-delete-all,
  &-delete,
  &-close {
    @include button.btn-reset;
    @include mx.flex(flex, row, center, center);
    flex-shrink: 0;
    background: transparent;
    border: 0;
  }

  &-delete-all {
    @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
    @include mx.border('bottom', $color: map.get(color.$layout-surf, 'secondary'));
    height: map.get(var.$unit, 16);
    font-size: fn.rem(12);
    color: map.get(color.$text-colors, 'tertiary');
  }

  &-delete {
    @include icon.ic-size(map.get(var.$unit, 20));
    flex-shrink: 0;
    color: map.get(color.$icon-neutral, 'tertiary');
  }

  &-close {
    @include icon.ic-size(map.get(var.$unit, 20));
    color: map.get(color.$icon-neutral, 'primary');
  }
}
