// -----------------------------------------------------------------------------
// components/_form.scss
// - 폼 요소(input, select, textarea 등) 공통 UI 스타일 정의.
// -----------------------------------------------------------------------------

@use 'sass:list';
@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

@mixin textarea-reset {
  box-sizing: border-box;
  min-width: 0; // 기본 최소폭/높이 이슈 방지
  min-height: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  line-height: inherit;
  color: inherit;
  text-align: inherit;
  letter-spacing: inherit;
  appearance: none; // 브라우저 기본 외형 제거(모바일 포함)
  resize: none; // 리사이즈는 필요에 맞게: none | vertical | both
  background: transparent;
  border: 0;
  outline: 0;

  &::placeholder {
    color: map.get(color.$text-colors, 'tertiary');
  }
}

@mixin input-hover {
  @include mx.hoverable-only {
    &:not(:has(input:checked)):hover {
      box-shadow: inset 0 0 0 1px map.get(color.$brand-colors, 'primary');
      @content;
    }
  }
}

@mixin input-focus {
  &:focus-visible,
  &:active {
    box-shadow: inset 0 0 0 1px map.get(color.$brand-colors, 'primary');
    @content;
  }
}

@mixin input-common($type: null) {
  &-icon {
    // (폰트사이즈 * line-height 1.3 - icon size) / 2
    position: relative;
    width: fn.rem(16);
    height: fn.rem(16);
    margin-top: calc((16px * 1.3 - 16px) / 2);
    background: color.$color-white;
    box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'tertiary');
    transition: box-shadow 0.2s;

    @if $type == 'radio' {
      border-radius: 50%;
    }

    &::before {
      @include mx.position(absolute, 50%, $left: 50%);
      width: fn.rem(8);
      height: fn.rem(8);
      content: '';
      background: color.$color-white;
      transition: background 0.25s;
      transform: translate(-50%, -50%);

      @if $type == 'radio' {
        border-radius: 50%;
      }
    }

    @if $type == 'radio' {
      border-radius: 50%;
    }

    @if $type == 'checkbox' {
      border-radius: 4px;
    }

    @include input-focus;
  }

  &-item {
    @include mx.flex(inline-flex, row, flex-start, flex-start);
    position: relative;
    gap: fn.rem(6);
    cursor: pointer;
    user-select: none;

    input {
      @include mx.sr-only;
    }

    .label {
      &-name {
        @include mx.flex(flex, row, flex-start, flex-start);
        gap: map.get(var.$unit, 4);
        min-width: fn.rem(98);
        max-width: fn.rem(160);
      }

      &-unit {
        font-style: normal;

        &::before {
          content: '\0028'; // (
        }

        &::after {
          content: '\0029'; // )
        }
      }

      &-price {
        &::before {
          content: '\0028'; // (
        }

        &::after {
          content: '원\0029'; // )
        }
      }
    }

    span[class*='label-'] {
      @if $type == 'radio' {
        @include typo.typography('b2m', $color: map.get(color.$text-colors, 'primary'));
      }
    }

    &:has(input:checked) {
      .#{$type}-icon {
        box-shadow: inset 0 0 0 1px map.get(color.$brand-colors, 'primary');

        &::before {
          background: map.get(color.$brand-colors, 'primary');
        }
      }
    }
  }
}

/* 상태 */
.is-required {
  &::after {
    @include typo.typography('b2s', $color: map.get(color.$text-status, 'brand'));
    padding-left: map.get(var.$unit, 2);
    content: '\002A';
  }
}

/* 라디오 버튼 */
.radio {
  @include input-common('radio');

  &-price {
    @include mx.flex(flex, row, flex-start, flex-start);
    gap: fn.rem(10);
  }
}

/* check box - basic */
.checkbox-wrapper.type-basic {
  .checkbox {
    @include input-common('checkbox');

    &-item {
      gap: map.get(var.$unit, 8);

      &:has(:checked) .checkbox-icon {
        background: url('/public/resources/img/mro/renewal/ic/ic-check-on.svg') no-repeat center / contain;
        box-shadow: inset 0 0 0 20px map.get(color.$layout-surf, 'brand');

        &::before {
          display: none;
        }
      }
    }
  }

  &.size-s {
    @include typo.typography('b4r', $color: map.get(color.$text-colors, 'primary'));

    /* stylelint-disable-next-line no-descending-specificity */
    .checkbox-icon {
      margin-top: 0;
    }
  }

  &.size-m {
    @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));

    /* stylelint-disable-next-line no-descending-specificity */
    .checkbox-icon {
      margin-top: 1px;
    }
  }
}

/* check box - card */
.checkbox-wrapper.type-card {
  .checkbox {
    &-item {
      @include mx.flex(flex, row, flex-start, center);
      position: relative;
      gap: map.get(var.$unit, 16);
      width: 100%;
      max-width: fn.rem(416);
      height: fn.rem(68);
      padding: 0 map.get(var.$unit, 16);
      cursor: pointer;
      border-radius: map.get(var.$radius, 'md');
      box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'tertiary');
      transition: box-shadow 0.25s;

      input {
        @include mx.sr-only;
      }

      .label {
        &-name {
          @include typo.typography('b2s', $color: map.get(color.$text-colors, 'secondary'));
          @include mx.ellipsis-single;
        }

        &-total {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
          flex-shrink: 0;
        }
      }

      /* stylelint-disable-next-line no-descending-specificity */
      .checkbox-icon {
        @include icon.ic-size(map.get(var.$unit, 32));
        display: none;
        flex-shrink: 0;
        margin-left: auto;
        color: color.$color-white;
        background: map.get(color.$brand-colors, 'primary');
        border-radius: map.get(var.$radius, 'md');
      }

      &:has(input:checked) {
        box-shadow: inset 0 0 0 2px map.get(color.$layout-border, 'brand');

        .checkbox-icon {
          display: block;
        }
      }

      @include input-hover {
        box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'primary');
      }
    }
  }
}

/* check box - single */
[class*='checkbox-single-'] {
  @include mx.flex(inline-flex, row, flex-start, center);
  position: relative; // input 숨김 위치 기준
  cursor: pointer;

  input {
    @include mx.sr-only;
  }

  &::before {
    display: inline-block;
    content: '';
    background: color.$color-white;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'tertiary');
    transition:
      box-shadow 0.2s,
      background 0.2s;
  }

  &:has(input:checked)::before {
    background: url('/public/resources/img/mro/renewal/ic/ic-check-on.svg') no-repeat center / contain;
    box-shadow: inset 0 0 0 0 map.get(color.$layout-surf, 'brand');
  }

  &:has(input:focus-visible)::before {
    box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'primary');
  }

  &:has(input:disabled)::before {
    cursor: not-allowed;

    &::before {
      background: map.get(color.$layout-surf, 'disabled');
      box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'disabled');
    }
  }

  .agree-text {
    @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
    width: fit-content;
    margin-left: map.get(var.$unit, 8);
  }
}

/* 단독 체크박스 크기 설정 */
.checkbox-single-s::before {
  width: fn.rem(16);
  height: fn.rem(16);
}

.checkbox-single-m::before {
  width: fn.rem(20);
  height: fn.rem(20);
}

.checkbox-single-l::before {
  width: fn.rem(32);
  height: fn.rem(32);
}

/* --- */

/* 단일 체크박스 */
$checkbox-item: (
  's': (
    icon: 16,
    font: 'b4r',
    icon-mt: 0,
    label-mt: 0.4
  ),
  'm': (
    icon: 16,
    font: 'b3r',
    icon-mt: 0,
    label-mt: 0
  ),
  'l': (
    icon: 16,
    font: 'b2s',
    icon-mt: 2.5,
    label-mt: 0
  ),
  'xl': (
    icon: 20,
    font: 'b2s',
    icon-mt: 0.5,
    label-mt: 0
  ),
  'xxl': (
    icon: 32,
    font: 'b2s',
    icon-mt: 0,
    label-mt: 5.5
  )
);

.vits-checkbox-item {
  @include mx.flex(flex, row, flex-start, flex-start);
  position: relative;
  gap: map.get(var.$unit, 8);
  cursor: pointer;

  > input {
    @include mx.sr-only;
  }

  .icon {
    position: relative;
    background: color.$color-white;
    border-radius: map.get(var.$radius, 'sm');
    box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'tertiary');
    transition: box-shadow 0.2s;

    @include input-focus;
  }

  &:has(input:checked) {
    .icon {
      @include mx.background('ic/ic-check-on.svg');
      box-shadow: inset 0 0 0 1px map.get(color.$brand-colors, 'primary');
    }
  }

  // 사이즈별 스타일
  @each $key, $values in $checkbox-item {
    $icon-size: map.get($values, icon);
    $font-type: map.get($values, font);
    $icon-mt: map.get($values, icon-mt);
    $label-mt: map.get($values, label-mt);

    &.size-#{$key} {
      .icon {
        width: fn.rem($icon-size);
        height: fn.rem($icon-size);

        @if $key == 'm' {
          align-self: center;
        }

        // label 있을 때만 icon margin-top 적용
        @if $icon-mt != 0 {
          &:has(.label) .icon {
            margin-top: fn.rem($icon-mt);
          }
        }
      }

      .label {
        @include typo.typography($font-type, $color: map.get(color.$text-colors, 'primary'));

        @if $label-mt != 0 {
          margin-top: fn.rem($label-mt);
        }
      }
    }
  }
}

/* input text */
$input-size: (
  'default': fn.rem(32),
  'medium': fn.rem(36),
  'large': fn.rem(44)
);

.vits-input {
  position: relative;
  width: 100%;

  .input-item {
    width: 100%;
    overflow: hidden;
    background: map.get(color.$layout-surf, 'base');
    border-radius: map.get(var.$radius, 'sm');
    box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'tertiary');
    transition: box-shadow 0.3s;

    input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: 0;
      outline: 0;

      &::placeholder {
        color: map.get(color.$text-colors, 'tertiary');
      }
    }
  }

  @each $key, $minh in $input-size {
    &.size-#{$key} .input-item {
      height: $minh;

      @if $key == 'default' {
        input {
          @include typo.typography('b3r');
          padding: 0 map.get(var.$unit, 12);
        }
      }

      @if $key == 'medium' {
        input {
          @include typo.typography('b3r');
          padding: 0 map.get(var.$unit, 12);
        }
      }

      @if $key == 'large' {
        input {
          @include typo.typography('b2r');
          padding: 0 map.get(var.$unit, 16);
        }
      }
    }
  }

  &:not(.is-invalid, .is-valid):has(input:hover),
  &:not(.is-invalid, .is-valid):has(input:focus-visible),
  &:not(.is-invalid, .is-valid):has(input:active) {
    @include mx.common-mouse-event {
      .input-item {
        box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'primary');
      }
    }
  }
}

/* input search */
.vits-input-search {
  &-form {
    @include mx.input-search-reset($color: map.get(color.$text-colors, 'tertiary'));
    position: relative;
    width: 100%;
    height: map.get(var.$unit, 48);
    overflow: hidden;
    background: color.$color-white;
    border-radius: map.get(var.$radius, 'sm');
    box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'tertiary');
    transition: box-shadow 0.3s;

    &:has(.input-search:focus-visible),
    &:has(.input-search:active) {
      box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'primary');
    }

    @include mx.hoverable-only {
      &:has(.input-search:hover) {
        box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'primary');
      }
    }

    .input-search {
      @include typo.typography('b2m');
      width: 100%;
      height: 100%;
      padding: 0 map.get(var.$unit, 40) 0 map.get(var.$unit, 20);
      background: transparent;
      border: 0;
      outline: 0;

      &-btn {
        @include button.btn-reset;
        @include mx.position(absolute, 50%, map.get(var.$unit, 20));
        @include icon.ic-size(map.get(var.$unit, 24));
        color: map.get(color.$icon-neutral, 'primary');
        transform: translateY(-50%);
      }
    }
  }

  &.size-sm {
    .vits-input-search-form {
      height: map.get(var.$unit, 32);

      .input-search {
        padding: 0 map.get(var.$unit, 24) 0 map.get(var.$unit, 8);
        font-size: fn.rem(14);

        &-btn {
          @include icon.ic-size(map.get(var.$unit, 16));
          right: map.get(var.$unit, 8);
        }
      }
    }
  }
}

/* textarea */
$textarea-size: (
  'default': fn.rem(120),
  'large': fn.rem(120)
);

.vits-textarea {
  @include mx.flex(flex, column, flex-start, flex-start);
  position: relative;
  gap: map.get(var.$unit, 8);
  width: 100%;
  overflow: hidden;
  background: map.get(color.$layout-surf, 'base');
  border-radius: map.get(var.$radius, 'sm');
  box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'tertiary');
  transition: box-shadow 0.3s;

  .textarea-box {
    flex: 1 1 auto;
    width: 100%;
    min-height: 0;

    textarea {
      width: 100%;
      height: 100%;
    }
  }

  .textarea-meta {
    @include mx.flex(flex, row, flex-end, center);
    flex-shrink: 0;
    gap: map.get(var.$unit, 4);
    width: 100%;

    span {
      @include mx.flex(flex, row, flex-start, center);
      @include typo.typography('b3r', $color: map.get(color.$text-colors, 'muted'));
      gap: map.get(var.$unit, 4);

      &.textarea-count {
        &::after {
          content: '/';
        }
      }
    }
  }

  &-box {
    position: relative;
    width: 100%;

    @each $key, $minh in $textarea-size {
      &.size-#{$key} .vits-textarea {
        height: $minh;

        textarea {
          @include textarea-reset;
        }

        @if $key == 'default' {
          padding: map.get(var.$unit, 8) map.get(var.$unit, 12);

          textarea {
            @include typo.typography('b3r');
          }
        }

        @if $key == 'large' {
          padding: map.get(var.$unit, 12) map.get(var.$unit, 16);

          textarea {
            @include typo.typography('b2r');
          }
        }
      }
    }

    &.is-scroll {
      padding-right: fn.rem(6);

      .textarea-box textarea {
        padding-right: fn.rem(6);
      }
    }

    &:has(textarea:hover),
    &:has(textarea:focus-visible),
    &:has(textarea:active) {
      @include mx.common-mouse-event {
        .vits-textarea {
          box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'primary');
        }
      }
    }
  }
}

/* form list */
.vits-pform {
  &-item {
    @include mx.flex(flex, row, flex-start, flex-start);
    gap: map.get(var.$unit, 24);

    &-label {
      @include typo.typography('b2s', $color: map.get(color.$text-colors, 'primary'));
      flex-shrink: 0;
      width: fn.rem(140);
      line-height: map.get(var.$unit, 44);
    }

    & + .vits-pform-item {
      margin-top: map.get(var.$unit, 12);
    }
  }

  &-agree {
    height: fn.rem(240);
    padding: map.get(var.$unit, 16) map.get(var.$unit, 4) map.get(var.$unit, 16) map.get(var.$unit, 16);
    margin-top: map.get(var.$unit, 32);
    overflow: hidden;
    background: map.get(color.$layout-surf, 'raised');
    border-radius: map.get(var.$radius, 'lg');

    p {
      @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
    }

    &-inner {
      height: 100%;
      overflow: hidden auto;

      > div + div {
        margin-top: fn.rem(16);
      }
    }
  }

  &-actions {
    @include mx.flex(flex, row, center, center);
    padding-top: map.get(var.$unit, 24);

    .checkbox-wrapper {
      width: 100%;

      .checkbox-item {
        @include mx.flex(inline-flex, row, center, center);

        .label-name {
          max-width: 100%;
        }
      }
    }
  }
}

/* 유효성 검사 시, */
.vits-validation {
  .validation-message {
    padding-top: map.get(var.$unit, 4);
  }

  // 성공
  &.is-valid {
    .input-item,
    .vits-textarea {
      box-shadow: inset 0 0 0 1px map.get(color.$text-status, 'success');
    }

    .validation-message p {
      @include typo.typography('b3r', $color: map.get(color.$text-status, 'success'));
    }
  }

  // 실패
  &.is-invalid {
    .input-item,
    .vits-textarea {
      box-shadow: inset 0 0 0 1px map.get(color.$text-status, 'brand');
    }

    .input-item input,
    .vits-textarea textarea {
      color: map.get(color.$text-status, 'brand');
    }

    .validation-message p {
      @include typo.typography('b3r', $color: map.get(color.$text-status, 'brand'));
    }
  }
}

/* input file */
@mixin input-attach-size {
  width: fn.rem(52);
  height: fn.rem(52);
  border-radius: map.get(var.$radius, 'sm');
}

.vits-input-attach {
  @include mx.flex(flex, row, flex-start, flex-start, wrap);
  gap: map.get(var.$unit, 8);

  .attach-preview {
    &-list {
      @include mx.flex(flex, row, flex-start, flex-start, wrap);
      gap: map.get(var.$unit, 8);
    }

    &-item {
      @include input-attach-size;
      @include mx.img-fit;
      @include mx.border('all', $color: map.get(color.$layout-border, 'tertiary'));
      position: relative;
      padding: fn.rem(6);

      img {
        border-radius: map.get(var.$radius, 'sm');
      }
    }
  }

  .btn-attach {
    &-remove {
      @include button.btn-reset;
      @include mx.position(absolute, -6px, $right: -6px);
      @include icon.ic-size(fn.rem(20));
      color: map.get(color.$icon-neutral, 'inverse');
      cursor: pointer;
      background: map.get(color.$layout-surf, 'primary');
      border-radius: 50%;
    }

    &-add {
      @include mx.flex(flex, row, center, center);
      @include input-attach-size;
      position: relative;
      cursor: pointer;
      background: map.get(color.$layout-surf, 'sunken');

      input {
        @include mx.sr-only;
      }

      .icon {
        @include icon.ic-size(map.get(var.$unit, 32));
        color: map.get(color.$icon-neutral, 'primary');
      }
    }
  }
}
