// -----------------------------------------------------------------------------
// components/_label.scss
// - 라벨 및 선택형 UI 요소(라벨, 클릭 가능한 칩 버튼 등) 공통 스타일 정의.
// -----------------------------------------------------------------------------

@use 'sass:list';
@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

@mixin common-chip-button($type: null) {
  &-group {
    width: 100%;

    &:has(.vits-chip-button.type-outline) {
      @include mx.flex(flex, row, flex-start, flex-start);
      gap: map.get(var.$unit, 12);
      overflow: auto hidden;
    }

    &:has(.vits-chip-button.type-filled) {
      @include mx.flex(flex, row, flex-start, flex-start, wrap);
      gap: map.get(var.$unit, 8);
      overflow: hidden;
    }

    button {
      @include button.btn-reset;

      &.remove {
        @include icon.ic-size(map.get(var.$unit, 24));
        flex-shrink: 0;
      }
    }
  }

  &.type-#{$type} {
    display: flex;
    flex: 0 0 auto;
    gap: map.get(var.$unit, 2);
    align-items: center;
    min-width: 0;
    max-width: 100%;
    height: map.get(var.$unit, 32);
    padding: 0 map.get(var.$unit, 8) 0 map.get(var.$unit, 12);
    overflow: hidden;
    border-radius: map.get(var.$radius, 'xl');

    .text {
      @include mx.ellipsis-single;
      min-width: 0;

      &.category,
      &.team {
        flex: 0 3 auto;
        min-width: fn.rem(40);
      }

      &.name {
        flex: 0 1 auto;
      }
    }

    .remove,
    .icon {
      flex-shrink: 0;
    }

    .icon {
      @include icon.ic-size(map.get(var.$unit, 20));
      margin-left: map.get(var.$unit, 2) * -1;
    }

    @if $type == 'outline' {
      @include mx.border('all', $color: map.get(color.$layout-border, 'tertiary'));
      background: map.get(color.$layout-surf, 'raised');

      .text {
        @include typo.typography('b3s', $color: map.get(color.$text-colors, 'secondary'));
      }

      .icon {
        color: map.get(color.$icon-neutral, 'primary');
      }

      .remove {
        color: map.get(color.$icon-neutral, 'primary');
      }

      @include mx.common-mouse-event {
        @include mx.border('all', $color: map.get(color.$layout-border, 'tertiary'));
        background: map.get(color.$layout-surf, 'raised');
      }
    }

    @if $type == 'filled' {
      background: map.get(color.$layout-surf, 'primary');

      .text {
        @include typo.typography('b3s', $color: map.get(color.$text-colors, 'inverse'));

        &.category,
        &.team {
          padding-right: map.get(var.$unit, 2);
          font-weight: 400;
          color: map.get(color.$text-colors, 'muted');
          white-space: nowrap;
        }

        &.team {
          margin-left: fn.rem(2);
        }
      }

      .icon {
        color: map.get(color.$icon-neutral, 'secondary');
      }

      .remove {
        color: map.get(color.$icon-neutral, 'secondary');
      }

      @include mx.common-mouse-event {
        background: map.get(color.$layout-surf, 'primary');
      }
    }

    &.size-s {
      gap: 0;
      height: fn.rem(28);

      .icon {
        margin-left: 0;
      }

      .text {
        font-size: fn.rem(12);
      }

      @if $type == 'outline' {
        .text {
          color: map.get(color.$text-colors, 'secondary');

          &.category,
          &.team {
            flex: 0 0 auto;
            min-width: 0;
            font-weight: 400;
            color: map.get(color.$text-colors, 'tertiary');
          }

          & + .text {
            margin-left: map.get(var.$unit, 2);
          }
        }

        .icon,
        .remove {
          color: map.get(color.$icon-neutral, 'tertiary');
        }
      }
    }
  }
}

.vits-chip-button {
  @include common-chip-button('outline');
  @include common-chip-button('filled');
}

.vits-product {
  &-flag {
    @include mx.flex(flex, row, flex-start, center);
    @include typo.typography('b5r');
    flex-shrink: 0;
    height: fn.rem(18);
    padding: 0 map.get(var.$unit, 4);
    line-height: normal;
    border-radius: map.get(var.$radius, 'sm');

    // modifier별 토큰 맵
    $mods: (
      today: (
        text: map.get(color.$text-status, 'brand-sub'),
        bg: map.get(color.$layout-status, 'brand-bg-sub'),
        hasicon: true
      ),
      tomorrow: (
        text: map.get(color.$text-status, 'info'),
        bg: map.get(color.$layout-status, 'info-bg-sub'),
        hasicon: false
      ),
      hot: (
        text: map.get(color.$text-status, 'success'),
        bg: map.get(color.$layout-status, 'success-bg-sub'),
        hasicon: false
      ),
      count: (
        text: map.get(color.$text-colors, 'default'),
        bg: map.get(color.$layout-surf, 'mypage'),
        hasicon: false
      )
    );

    @each $name, $opt in $mods {
      &.is-#{$name} {
        color: map.get($opt, text);
        background: map.get($opt, bg);

        // today만 아이콘 스타일 추가
        @if map.get($opt, hasIcon) == true {
          .icon {
            @include icon.ic-size(map.get(var.$unit, 12));
            color: map.get($opt, text);
          }
        }
      }
    }
  }

  &-flags {
    @include mx.flex(flex, row, flex-start, center);
    gap: map.get(var.$unit, 4);
  }

  &-promo {
    @include mx.flex(flex, row, flex-start, center);

    &-badge.is-free-ship {
      @include mx.flex(flex, row, flex-start, center);
      @include typo.typography('b5r', $color: map.get(color.$text-colors, 'tertiary'));
      height: fn.rem(18);
      padding: 0 map.get(var.$unit, 4);
      line-height: normal;

      &::before {
        display: inline-block;

        @include icon.ic-size(map.get(var.$unit, 20));
        margin-right: map.get(var.$unit, 2);
        content: '';
        background-color: map.get(color.$icon-neutral, 'tertiary');
        mask: url('/public/resources/img/mro/renewal/ic/ic-truck.svg') no-repeat center / contain;
      }
    }
  }
}

.vits-chip-file {
  @include mx.flex(inline-flex, row, flex-start, center);
  @include mx.border('all', $color: map.get(color.$layout-border, 'quaternary'));
  max-width: 100%;
  height: map.get(var.$unit, 32);
  padding: 0 map.get(var.$unit, 12);
  overflow: hidden;
  background: map.get(color.$layout-surf, 'raised');
  border-radius: map.get(var.$radius, 'sm');

  .text {
    @include typo.typography('b3r');
    min-width: 0;

    &.name {
      @include mx.ellipsis-single;
    }

    &.ext {
      flex-shrink: 0;
    }
  }

  .icon {
    @include icon.ic-size(map.get(var.$unit, 16));
    flex-shrink: 0;
    margin-left: map.get(var.$unit, 8);
    color: map.get(color.$icon-neutral, 'secondary');
  }
}

// -----------------------------------------------------------------------------
// vits-general-label: 공통 상태/카테고리 레이블 (4가지 색상 타입, 개별 사용 가능 )
// -----------------------------------------------------------------------------
.vits-general-label {
  @include typo.typography('b5r');
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: fn.rem(18);
  padding: 0 map.get(var.$unit, 4);
  line-height: 1.4;
  white-space: nowrap;
  border-radius: map.get(var.$radius, 'sm');

  &.is-general-blue {
    color: map.get(color.$text-status, 'info');
    background-color: map.get(color.$layout-status, 'info-bg-sub');
  }

  &.is-general-red {
    color: map.get(color.$text-status, 'brand-sub');
    background-color: map.get(color.$layout-status, 'brand-bg-default');
  }

  &.is-general-green {
    color: map.get(color.$text-status, 'success-sub');
    background-color: map.get(color.$layout-status, 'success-bg-default');
  }

  &.is-general-gray {
    color: map.get(color.$text-colors, 'secondary');
    background-color: map.get(color.$layout-surf, 'sunken');
  }

  &.is-general-sunken {
    color: map.get(color.$text-colors, 'tertiary');
    background-color: map.get(color.$layout-surf, 'sunken');
  }
}

/* 상태에 따른 텍스트 색상 */

@mixin common-status {
  @include mx.flex(inline-flex, row, center, center);
  height: fn.rem(18);
  padding: 0 map.get(var.$unit, 4);
  border-radius: map.get(var.$radius, 'sm');
}

/* 
 * 주문상태 
 * text-order-status data-status="01" 주문접수 
 * text-order-status data-status="02" 결제완료 
 * text-order-status data-status="03" 주문완료 
 * text-order-status data-status="04" 주문확정 
 * text-order-status data-status="05" 배송준비중 
 * text-order-status data-status="06" 배송중 
 * text-order-status data-status="07" 배송완료
 */
$order-status-color: (
  // 주문접수
  '01': map.get(color.$text-colors, 'tertiary'),
  // 결제완료
  '02': map.get(color.$text-status, 'success-sub'),
  // 주문완료
  '03': map.get(color.$text-status, 'success-sub'),
  // 주문확정
  '04': map.get(color.$text-status, 'info-sub'),
  // 배송준비중
  '05': map.get(color.$text-colors, 'tertiary'),
  // 배송중
  '06': map.get(color.$text-status, 'info-sub'),
  // 배송완료
  '07': map.get(color.$text-status, 'success-sub')
);
$order-status-color-mobile: (
  // 주문접수
  '01': (map.get(color.$layout-surf, 'sunken'), map.get(color.$text-colors, 'secondary')),
  // 결제완료
  '02': (map.get(color.$layout-status, 'success-bg-sub'), map.get(color.$text-status, 'success-sub')),
  // 주문완료
  '03': (map.get(color.$layout-status, 'success-bg-sub'), map.get(color.$text-status, 'success-sub')),
  // 주문확정
  '04': (map.get(color.$layout-status, 'info-bg-sub'), map.get(color.$text-status, 'info-sub')),
  // 배송준비중
  '05': (map.get(color.$layout-surf, 'sunken'), map.get(color.$text-colors, 'secondary')),
  // 배송중
  '06': (map.get(color.$layout-status, 'info-bg-sub'), map.get(color.$text-status, 'info-sub')),
  // 배송완료
  '07': (map.get(color.$layout-status, 'success-bg-sub'), map.get(color.$text-status, 'success-sub'))
);

.text-order-status {
  &-mobile {
    @include common-status;

    @each $code, $pair in $order-status-color-mobile {
      &[data-status='#{$code}'] {
        @include typo.typography('b5r', $color: list.nth($pair, 2));
        background-color: list.nth($pair, 1);
      }
    }
  }

  @each $code, $color in $order-status-color {
    &[data-status='#{$code}'] {
      @include typo.typography('b3s', $color: $color);
    }
  }
}

/* 
 * 클라임 상태 
 * text-claim-status data-status="01" 취소 
 * text-claim-status data-status="02" 취소신청 
 * text-claim-status data-status="03" 주문취소 
 * text-claim-status data-status="04" 반품 
 * text-claim-status data-status="05" 반품신청 
 * text-claim-status data-status="06" 반품접수 
 * text-claim-status data-status="07" 회수진행중 
 * text-claim-status data-status="08" 회수완료 
 * text-claim-status data-status="09" 반품완료 
 * text-claim-status data-status="10" 반품취소 
 * text-claim-status data-status="11" 반품승인불가 
 * text-claim-status data-status="12" 반품불가
 */
$claim-status-color: (
  // 취소
  '01': map.get(color.$text-status, 'brand-sub'),
  // 취소신청
  '02': map.get(color.$text-status, 'brand-sub'),
  // 주문취소
  '03': map.get(color.$text-status, 'brand-sub'),
  // 반품
  '04': map.get(color.$text-status, 'brand-sub'),
  // 반품신청
  '05': map.get(color.$text-status, 'brand-sub'),
  // 반품접수
  '06': map.get(color.$text-colors, 'tertiary'),
  // 회수진행중
  '07': map.get(color.$text-status, 'info-sub'),
  // 회수완료
  '08': map.get(color.$text-status, 'success-sub'),
  // 반품완료
  '09': map.get(color.$text-status, 'success-sub'),
  // 반품취소
  '10': map.get(color.$text-status, 'info-sub'),
  // 반품승인불가
  '11': map.get(color.$text-status, 'brand-sub'),
  // 반품불가
  '12': map.get(color.$text-status, 'brand-sub')
);
$claim-status-color-mobile: (
  // 취소
  '01': (map.get(color.$layout-status, 'brand-bg-sub'), map.get(color.$text-status, 'brand-sub')),
  // 취소신청
  '02': (map.get(color.$layout-status, 'brand-bg-sub'), map.get(color.$text-status, 'brand-sub')),
  // 주문취소
  '03': (map.get(color.$layout-status, 'brand-bg-sub'), map.get(color.$text-status, 'brand-sub')),
  // 반품
  '04': (map.get(color.$layout-surf, 'sunken'), map.get(color.$text-colors, 'secondary')),
  // 반품신청
  '05': (map.get(color.$layout-status, 'brand-bg-sub'), map.get(color.$text-status, 'brand-sub')),
  // 반품접수
  '06': (map.get(color.$layout-surf, 'sunken'), map.get(color.$text-colors, 'secondary')),
  // 회수진행중
  '07': (map.get(color.$layout-surf, 'info-bg-sub'), map.get(color.$text-status, 'info-sub')),
  // 회수완료
  '08': (map.get(color.$layout-status, 'success-bg-sub'), map.get(color.$text-status, 'success-sub')),
  // 반품완료
  '09': (map.get(color.$layout-status, 'success-bg-sub'), map.get(color.$text-status, 'success-sub')),
  // 반품취소
  '10': (map.get(color.$layout-surf, 'info-bg-sub'), map.get(color.$text-status, 'info-sub')),
  // 반품승인불가
  '11': (map.get(color.$layout-status, 'brand-bg-sub'), map.get(color.$text-status, 'brand-sub')),
  // 반품불가
  '12': (map.get(color.$layout-status, 'brand-bg-sub'), map.get(color.$text-status, 'brand-sub'))
);

.text-claim-status {
  &-mobile {
    @include common-status;

    @each $code, $pair in $claim-status-color-mobile {
      &[data-status='#{$code}'] {
        @include typo.typography('b5r', $color: list.nth($pair, 2));
        background-color: list.nth($pair, 1);
      }
    }
  }

  @each $code, $color in $claim-status-color {
    &[data-status='#{$code}'] {
      @include typo.typography('b3s', $color: $color);
    }
  }
}
