@use "@/assets/scss/abstracts/index" as *;

.mx-radio {
  .radio-item-group {
    display: flex;
  }

  .radio-item {
    position: relative;
    margin-right: 20px;

    input {
      + label {
        position: relative;
        display: inline-block;
        padding-left: 30px;
        cursor: pointer;

        &::before {
          position: absolute;
          top: -4px;
          left: 0;
          width: 21px;
          height: 21px;
          text-align: center;
          content: "";
          background: #fafafa;
          border: 1px solid #cacece;
          border-radius: 100%;
          box-shadow: 0 1px 2px rgb(0 0 0/.5%), inset 0 -15px 10px -12px rgb(0 0 0/.5%);
        }
      }

      &:checked {
        + label {
          &::before {
            background: #e9ecee;
            border-color: #adb8c0;
          }

          &::after {
            position: absolute;
            top: 1px;
            left: 5px;
            width: 13px;
            height: 13px;
            content: "";
            background: #99a1a7;
            border-radius: 100%;
            box-shadow: inset 0 0 10px rgb(0 0 0/3%);
          }
        }
      }

      &:disabled {
        + label {
          opacity: .5;

          &::before {
            background: #adb8c0;
          }
        }
      }
    }
  }

  .text-msg {
    margin-top: 8px;
  }

  &.is-error {
    .text-msg {
      color: red;
    }
  }
}
