// -----------------------------------------------------------------------------
// components/_swiper.scss
// - swiper 컴포넌트 스타일 정의
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

// swiper navs 여백까지 고려하여 컨테이너 영역 설정
.vits-product-recommend {
  position: relative;
  max-width: 1432px;
  margin: 0 auto;
}

.vits-swiper {
  max-width: 1280px;
  
  &.js-swiper {
    .swiper-slide {
      @include mx.flex($align: flex-start, $justify: center);
      height: auto;
      overflow: hidden;
      cursor: pointer;
      background-color: #fff;
      border: 2px solid color.$color-white;
      border-radius: map.get(var.$radius, md);
      transition:
        border-color 0.2s ease,
        border-width 0.2s ease,
        box-shadow 0.2s ease,
        padding 0.5s ease;

      @include mx.common-mouse-event {
        border: 2px solid map.get(color.$brand-colors, 'primary');
        border-color: map.get(color.$brand-colors, 'primary');
        box-shadow: 0 fn.rem(9) fn.rem(21) 0 rgb(0 0 0 / 10%);
      }
    }

    /* -------------------------------------------------------------------------
     * Swiper 네비게이션 버튼
     * ----------------------------------------------------------------------- */
    & + .vits-swiper-navs {
      div {
        background-image: none;
      }

      .swiper-button-prev,
      .swiper-button-next {
        @include button.btn-reset;
        @include mx.flex($justify: center, $align: center);
        @include mx.position(absolute, $top: 50%);
        width: fn.rem(36);
        height: fn.rem(36);
        background-color: color.$color-white;
        border: 1px solid map.get(color.$layout-border, 'tertiary');
        border-radius: fn.rem(46);
        box-shadow: 0 fn.rem(4) fn.rem(7) 0 rgb(0 0 0 / 4%);
        transition: border-color 0.2s ease;
        transform: translateY(-50%);

        // Arrow_interaction
        @include mx.hoverable-only {
          &:hover {
            border-color: map.get(color.$brand-colors, 'primary');
          }
        }

        &:active {
          background-color: map.get(color.$button-fill-primary, 'fill-surf-primary-default');
          border-color: map.get(color.$brand-colors, 'primary');
        }

        &::after {
          width: map.get(var.$unit, 20);
          height: map.get(var.$unit, 20);
          content: '';
          background-size: contain;
        }
      }

      .swiper-button {
        &-prev {
          &::after {
            background-image: url('/public/resources/img/mro/renewal/ic/ic-arrow-left.svg');
          }
        }

        &-next {
          &::after {
            background-image: url('/public/resources/img/mro/renewal/ic/ic-arrow-right.svg');
          }
        }

        &.swiper-button-disabled {
          pointer-events: none;
          cursor: not-allowed;
          opacity: 0.35;
        }
      }
    }
  }
}

/*
[상품상세 페이지 상품유닛 (회원, 비회원 구분)]
  data-context="detail" : 상품상세
*/
.vits-product-list-slide{
  .vits-product-slide-card {
    @include mx.flex(flex, column, flex-start, flex-start);
    gap: map.get(var.$unit, 12);
  
    .product {
      &-thumb {
        width: 100%;
        padding: fn.rem(0) fn.rem(8);
      }
  
      &-body {
        gap: map.get(var.$unit, 8) 0;
        width: 100%;
        padding: 0 fn.rem(20) fn.rem(14);
      }
  
      &-code {
        @include mx.flex(inline-flex, row, center, center);
        @include mx.border('all', $color: map.get(color.$layout-border, 'tertiary'));
        @include typo.typography('b5r', $color: map.get(color.$text-colors, 'tertiary'));
        height: map.get(var.$unit, 16);
        padding: 0 map.get(var.$unit, 4);
      }
      
      &-meta {
        @include mx.flex(flex, row, space-between, center);
        gap: map.get(var.$unit, 4);
      }
  
      &-brand {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
      }
  
      &-model {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
        flex: 1;

        &::before {
          display: inline-block;
          width: 1px;
          height: map.get(var.$unit, 8);
          margin: 0 map.get(var.$unit, 8);
          content: '';
          background-color: map.get(color.$layout-border, 'tertiary');
        }
      }
  
      &-name {
        @include typo.typography('b3s', $color: map.get(color.$text-colors, 'primary'));
        @include mx.ellipsis-multi(1.3, 2);
        padding-top: map.get(var.$unit, 4);
      }
  
      &-spec {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
        margin-top: map.get(var.$unit, 2);
      }
  
      &-price {
        .price-origin-label {
          @include typo.typography('d3r', $color: map.get(color.$text-colors, 'tertiary'));
          text-decoration: line-through;
          text-decoration-line: line-through;
        }
  
        .price-sale-row {
          @include mx.flex(flex, row, $wrap: wrap, $align: flex-start, $justify: flex-start);
          gap: map.get(var.$unit, 4);
  
          .price-rate {
            @include typo.typography('b1b', $color: map.get(color.$text-status, 'brand'));
          }
  
          .price-sale {
            @include typo.typography('b1b', $color: map.get(color.$text-colors, 'primary'));
            white-space: nowrap;
          }
        }
  
        .product-price-alt.is-soldout {
          @include typo.typography('b1b', $color: map.get(color.$label-shipping, 'today'));
        }
  
        .product-price-alt.is-guest {
          @include mx.flex(flex, column, flex-start, flex-start);
          gap: map.get(var.$unit, 12);
  
          .price-guest-text {
            @include mx.flex(flex, column, flex-start, flex-start);
            gap: map.get(var.$unit, 2);
  
            &-title {
              @include typo.typography('b4s', $color: map.get(color.$text-status, 'info-sub'));
            }
  
            &-desc {
              @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
            }
          }
  
          .price-guest-action {
            width: 100%;
  
            .price-login-button {
              @include button.btn-reset;
              @include mx.flex(flex, row, center, center);
              @include mx.border('all', $color: map.get(color.$layout-border, 'tertiary'));
              gap: fn.rem(10);
              width: 100%;
              height: map.get(var.$unit, 32);
              padding: 0 map.get(var.$unit, 8);
              border-radius: map.get(var.$radius, 'sm');
  
              .icon {
                @include icon.ic-size(map.get(var.$unit, 16));
                color: map.get(color.$icon-neutral, 'primary');
              }
  
              .text {
                @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
              }
            }
          }
        }
      }
  
      &-summary {
        grid-area: summary;
      }
  
      &-price {
        grid-area: price;
  
        .product-price-alt.is-guest {
          margin-top: map.get(var.$unit, 4);
        }
      }
  
      &-extra {
        @include mx.flex(flex, row, flex-start, center);
        flex-wrap: wrap;
        grid-area: extra;
        margin-top: map.get(var.$unit, 4);
      }
    } 
  }

  // 회원 시, 비노출
  &[data-member='true'] {
    .product-price-alt.is-guest {
      display: none !important;
    }
  }

  // 비회원 시, 비노출
  &[data-member='false'] {
    .product-extra,
    .vits-price-box.is-normal,
    .product-price-alt.is-soldout,
    .product-actions {
      display: none !important;
    }
  }

  // 판매중, 비노출
  &[data-stock='true'] {
    .product-price-alt.is-soldout {
      display: none !important;
    }
  }

  // 일시품절, 비노출
  &[data-stock='false'] {
    .vits-price-box.is-normal {
      display: none !important;
    }
  }

  // 일시품절 & 조장상품 비노출
  &[data-cut='true'] {
    .product-action-cart {
      display: none !important;
    }
  }
}