// -----------------------------------------------------------------------------
// components/_swiper.scss
// - swiper 컴포넌트 스타일 정의
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;
@use '@/assets/scss/layout/list' as list;

@mixin swiper-title($fz: 'h1', $fw: 'b', $color: map.get(color.$text-status, 'brand')) {
  $typo-type: $fz + $fw;

  @include typo.typography($typo-type);

  .point-color,
  .primary {
    color: $color;
  }
}

// swiper navs 여백까지 고려하여 컨테이너 영역 설정
.vits-product-recommend {
  position: relative;
  max-width: 1432px;
  margin: 0 auto;
}

.vits-swiper {
  max-width: 1280px;

  &.js-swiper {
    .swiper-slide {
      @include mx.flex($align: flex-start, $justify: center);
      height: auto;
      overflow: hidden;
      cursor: pointer;
      background-color: #fff;
      transition:
        border-color 0.2s ease,
        border-width 0.2s ease,
        box-shadow 0.2s ease,
        padding 0.5s ease;
    }
  }
}

/* -------------------------------------------------------------------------
 * Swiper 네비게이션 버튼
 * ----------------------------------------------------------------------- */
.vits-swiper-navs {
  div {
    background-image: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include button.btn-reset;
    @include mx.flex($justify: center, $align: center);
    @include mx.position(absolute, $top: 50%);
    width: fn.rem(36);
    height: fn.rem(36);
    background-color: color.$color-white;
    border: 1px solid map.get(color.$layout-border, 'tertiary');
    border-radius: fn.rem(46);
    box-shadow: 0 fn.rem(4) fn.rem(7) 0 rgb(0 0 0 / 4%);
    transition: border-color 0.2s ease;
    transform: translateY(-50%);

    // Arrow_interaction
    @include mx.hoverable-only {
      &:hover {
        border-color: map.get(color.$brand-colors, 'primary');
      }
    }

    &:active {
      background-color: map.get(color.$brand-colors, 'primary');
      border-color: map.get(color.$brand-colors, 'primary');
    }

    &::after {
      width: map.get(var.$unit, 20);
      height: map.get(var.$unit, 20);
      content: '';
      background-size: contain;
    }

    &.swiper-button-lock {
      display: none !important;
    }
  }

  .swiper-button {
    &-prev {
      &::after {
        @include mx.background('ic/ic-arrow-left.svg');
      }

      @include mx.hoverable-only {
        &:hover::after {
          background-color: map.get(color.$brand-colors, 'primary');
          background-image: none;
          mask: url('/public/resources/img/mro/renewal/ic/ic-arrow-left.svg') no-repeat center / contain;
        }
      }

      &:active::after {
        @include mx.background('ic/ic-arrow-left.svg');
        filter: brightness(0) invert(1);
      }
    }

    &-next {
      &::after {
        @include mx.background('ic/ic-arrow-right.svg');
      }

      @include mx.hoverable-only {
        &:hover::after {
          background-color: map.get(color.$brand-colors, 'primary');
          background-image: none;
          mask: url('/public/resources/img/mro/renewal/ic/ic-arrow-right.svg') no-repeat center / contain;
        }
      }

      &:active::after {
        @include mx.background('ic/ic-arrow-right.svg');
        filter: brightness(0) invert(1);
      }
    }

    &.swiper-button-disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.35;
    }
  }
}

/* ============================================================
text swiper - 추후 삭제 예정
============================================================ */
.test-swiper {
  position: relative;
  padding: map.get(var.$unit, 32);
  overflow: hidden;
  background: map.get(color.$layout-status, 'brand-bg-default');
  border-radius: map.get(var.$radius, 'lg');

  .swiper-slide {
    height: 400px;

    &:nth-child(even) {
      background: red;
    }

    &:nth-child(odd) {
      background: green;
    }
  }
}

/* vits-base-swiper (예시, 검색결과 목록 스와이프) */
.vits-base-swiper {
  position: relative;
  width: 100%;

  &-section {
    @include mx.flex(flex, column, flex-start, flex-start);
    gap: map.get(var.$unit, 20);
    padding: map.get(var.$unit, 32) map.get(var.$unit, 32) fn.rem(14);
    background: map.get(color.$layout-status, 'brand-bg-default');
    border-radius: map.get(var.$radius, 'lg');
  }

  &-title {
    @include swiper-title('h2');
  }

  // 상품 아이템
  &-card {
    @include mx.flex(flex, column, flex-start, flex-start);
    gap: map.get(var.$unit, 8);
    height: 100%;
    padding: 0;
    background: color.$color-white;
    border-radius: map.get(var.$radius, 'lg');

    .product {
      &-thumb {
        width: 100%;
      }

      &-body {
        @include mx.flex(flex, column, flex-start, flex-start);
        gap: map.get(var.$unit, 2);
        width: 100%;
        padding: 0 fn.rem(12);
      }

      &-meta {
        @include mx.flex(flex, row, flex-start, center);
        @include mx.divider('div', 1, 8, 8, map.get(color.$icon-neutral, 'disabled'));
        width: 100%;
      }

      &-code {
        margin-left: auto;

        &::before {
          display: none;
        }
      }

      &-model {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
        flex: 1;
      }

      &-spec {
        margin-top: map.get(var.$unit, 2);
      }

      &-price {
        margin-top: map.get(var.$unit, 2);
      }

      &-extra {
        margin-top: map.get(var.$unit, 4);
      }
    }

    &.swiper-boxed {
      padding: map.get(var.$unit, 8);
    }

    @include list.common-product-card-info;
  }

  // swiper 커스텀
  &-container.vits-swiper.js-swiper {
    .vits-base-swiper {
      &-slide {
        background: transparent;
      }
    }

    & + .vits-base-swiper-navs {
      [class*='vits-base-swiper'] {
        top: 41.19%;
        width: map.get(var.$unit, 44);
        height: map.get(var.$unit, 44);
        transform: translateY(0);
      }

      .vits-base-swiper-prev {
        left: -19px;
      }

      .vits-base-swiper-next {
        right: -19px;
      }
    }
  }
}
