<% const crumbItems = (typeof items !== 'undefined' && items) ? items : []; %>

<nav class="vm-breadcrumb-list" data-ui="breadcrumb">
  <ul class="vm-breadcrumb-items" data-scroll-end>
    <li>
      <a href="/" class="vm-breadcrumb-btn">
        <span class="text">홈</span>
      </a>
    </li>

    <!-- prettier-ignore -->
    <% crumbItems.forEach(function(item, i) { 
      var isCurrent = (i === crumbItems.length - 1); %>
    <li>
      <button type="button" class="vm-breadcrumb-btn<% if (isCurrent) { %> is-current<% } %>">
        <span class="text"><%= item %></span>
      </button>
    </li>
    <% }); %>
  </ul>
</nav>
