@charset "utf-8";
/* CSS Document */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); */
/* 초기화 */
/* html {overflow-y:scroll} */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(../../css/fonts/noto/NotoSansKR-Thin.woff) format('woff'), url(../../css/fonts/noto/NotoSansKR-Thin.woff2) format('woff2'), url(../../css/fonts/noto/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(../../css/fonts/noto/NotoSansKR-Light.woff) format('woff'), url(../../css/fonts/noto/NotoSansKR-Light.woff2) format('woff2'), url(../../css/fonts/noto/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(../../css/fonts/noto/NotoSansKR-Regular.woff) format('woff'), url(../../css/fonts/noto/NotoSansKR-Regular.woff2) format('woff2'), url(../../css/fonts/noto/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(../../css/fonts/noto/NotoSansKR-Medium.woff) format('woff'), url(../../css/fonts/noto/NotoSansKR-Medium.woff2) format('woff2'), url(../../css/fonts/noto/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(../../css/fonts/noto/NotoSansKR-Bold.woff) format('woff'), url(../../css/fonts/noto/NotoSansKR-Bold.woff2) format('woff2'), url(../../css/fonts/noto/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(../../css/fonts/noto/NotoSansKR-Black.woff) format('woff'), url(../../css/fonts/noto/NotoSansKR-Black.woff2) format('woff2'), url(../../css/fonts/noto/NotoSansKR-Black.otf) format('opentype');
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    font-family: 'Noto Sans KR', 'malgun gothic', dotum, gulim, arial, 'apple gothic';
    background: #fff;
    height: 100%;
}

html, h1, h2, h3, h4, h5, h6, form, fieldset, img {
    margin: 0;
    padding: 0;
    border: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-family: 'Noto Sans KR', 'malgun gothic', dotum, gulim, arial, 'apple gothic';
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

li, dt, dd, ol {
    margin: 0;
    padding: 0
}

ol {
    list-style-position: inside
}

legend {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999em;
    overflow: hidden
}

label, input, button, select, img {
    vertical-align: middle
}

input, button {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', 'malgun gothic', dotum, gulim, arial, 'apple gothic';
    font-size: 1em
}

button, input[type="submit"] {
    cursor: pointer
}

textarea, select {
    font-family: 'Noto Sans KR', 'malgun gothic', dotum, gulim, arial, 'apple gothic';
    font-size: 1em
}

select {
    margin: 0
}

p {
    margin: 0;
    padding: 0;
    word-break: break-all
}

pre {
    overflow-x: scroll;
    font-size: 1.1em
}

a {
    color: #000;
    text-decoration: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    outline: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    cursor: pointer;
}