<!-- prettier-ignore -->
<% 
  const _src = srcPath; 
  const _public = publicPath;
%>

<section class="vm-unshipped-detail-popup">
  <h2 class="sr-only">미발송내역</h2>
  <div class="product-summary">
    <div class="product-thumb">
      <img src="https://vitsonimg.co.kr/images/productsNew/535/535665.png" alt="" />
    </div>
    <div class="product-info">
      <p class="product-title">
        <span class="product-brand">농심</span>
        <span class="product-name">더블 OPP 접착테이프 투명 (초강력 접착제)</span>
      </p>
      <p class="product-spec">2.6mm(광~5kg)</p>
    </div>
  </div>
  <dl class="info-list">
    <dt>재고현황</dt>
    <dd>품절</dd>
    <dt>입고예정일</dt>
    <dd>2024.12.18</dd>
    <dt>미발송사유</dt>
    <dd><div class="reason-box">배송센터 물량 확보 중입니다.</div></dd>
  </dl>
</section>
