<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->
<section class="vits-docs-frame">
  <div class="vits-docs-header">
    <!-- pdf 버튼 -->
     <%- include(`${_src}/views/components/button/button.ejs`, {
      text: 'PDF 다운로드',
      variant: 'tertiary',
      size: 'md',
      iconName: 'ic-download-2',
      iconLeft: true,
     }) %>
  </div>
  <div class="vits-docs-body" style="min-height: 800px;">
    <div class="vits-docs-body-content">
      전자세금계산서
    </div>
    <!-- 세금계산서 안내문 -->
    <div class="vits-docs-notice">
      <ul>
        <li>본 세금계산서는 담당자 확인용으로 출력된 참고 자료이며, 국세청 신고 및 세무 처리용으로는 사용되지 않습니다.</li>
        <li>본 세금계산서는 담당자 확인용 참고 자료입니다.</li>
      </ul>
    </div>
  </div>
    
 </section>
