<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->
<%
  const items = [
    { text: '종합 E카탈로그 - LED등기구' },
    { text: 'COCOCOCOCOCO' },
    { text: 'HOHOHOHO' },
    { text: 'COCO' },
  ];
%>

<div class="vits-catalog-view">
  <% items.forEach(function(item) { %>
  <div class="vits-catalog-view-item">
    <button type="button" class="vits-catalog-view-btn">
      <span class="text"><%= item.text %></span>
    </button>
  </div>
  <% }); %>
</div>
