// -----------------------------------------------------------------------------
// base-mo/_reset.scss
// - 모바일 브라우저 기본 동작 보정
// -----------------------------------------------------------------------------

html.vm-scope,
html.vm-scope body {
  dl {
    margin: 0;
  }

  /* s: iOS 크롬 Data Detector 스타일(밑줄/색) 제거 - scoped */
  .no-ios-detect :not(.ios-detect-off, .ios-detect-off *) :where([x-apple-data-detectors], [x-apple-data-detectors] *) {
    color: inherit !important;
    text-decoration: none !important;
    -webkit-text-fill-color: currentcolor !important;
  }

  /* e: iOS 크롬 Data Detector 스타일 제거 */
}
