// -----------------------------------------------------------------------------
// base-mo/_index.scss
// - 모바일 base 레이어(reset/base/colors 등)를 모아 노출하는 배럴 파일
// -----------------------------------------------------------------------------

@forward './reset';
@forward './base';
