// -----------------------------------------------------------------------------
// pages/cart-order.scss
// - 장바구니/주문하기 페이지에서 사용.
// -----------------------------------------------------------------------------
@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;
@use '@/assets/scss/components/form' as form;

/* 가이드 박스 (배경, 테두리, 라운드) 
  *배경색 커스텀 가능
  ex. @include cart-order-surf-box(map.get(color.$layout-surf, 'base'));
*/
@mixin cart-order-surf-box($background-color: map.get(color.$layout-surf, 'raised')) {
  padding: map.get(var.$unit, 16);
  background-color: $background-color;
  border: 1px solid map.get(color.$layout-border, 'quaternary');
  border-radius: map.get(var.$radius, 'md');
}

/* 안내 텍스트 아이콘 (info) */
@mixin cart-order-info-icon(
  $text-color: map.get(color.$text-status, 'info-sub'),
  $icon-color: map.get(color.$text-status, 'info-sub'),
  $bold-selector: null
) {
  $icon-size: fn.rem(12);

  @include mx.flex($align: flex-start);
  @include typo.typography('b4r', $color: $text-color);

  @if $bold-selector {
    #{$bold-selector} {
      font-weight: 600;
    }
  }

  &::before {
    display: inline-block;
    width: $icon-size;
    min-width: $icon-size;
    height: $icon-size;
    margin-top: fn.rem(2);
    margin-right: map.get(var.$unit, 4);
    content: '';
    background-color: $icon-color;
    mask: url('/public/resources/img/mro/renewal/ic/ic-tip-info.svg') no-repeat center / contain;
  }
}

/* 최상위 class: vits-main-cart-order */
.vits-main-cart-order {
  min-width: 1024px;

  .vits-grid-main-content {
    max-width: 738px;
  }
}

/* aside 영역 초상위 */
.vits-side-payment {
  position: sticky;
  top: 30px;
  min-width: 0;

  .main-payment-section {
    min-width: 370px;
    max-width: 522px;
  }
}

/* ===장바구니=== */
.vits-cart {
  width: 100%;
  background: map.get(color.$layout-surf, 'base');
  border-radius: map.get(var.$radius, 'lg');
  box-shadow: 0 4px 7px 0 rgb(0 0 0 / 4%);

  &-header {
    padding: fn.rem(17) fn.rem(32);
    border-bottom: 1px solid map.get(color.$layout-border, 'quinary');
  }

  &-title {
    @include typo.typography('h3b', $color: map.get(color.$text-colors, 'primary'));
  }

  &-toolbar {
    @include mx.flex($align: center, $justify: space-between);
    flex-wrap: wrap;
    gap: map.get(var.$unit, 16);
    padding: fn.rem(32) fn.rem(32) fn.rem(16);

    &-left,
    &-right {
      @include mx.flex($align: center);
    }
  }

  &-body {
    @include mx.flex($direction: column);
    gap: map.get(var.$unit, 16);
    padding: 0 fn.rem(32) fn.rem(20);
  }

  &-toolbar-left {
    .checkbox-wrapper {
      // 장바구니 > 전체선택 checkbox
      .checkbox-item {
        .label-name {
          min-width: auto;
        }
      }
    }
  }

  &-toolbar-right {
    gap: map.get(var.$unit, 4);
  }

  &-list {
    @include mx.flex($direction: column);
    gap: map.get(var.$unit, 16);
  }

  &-item {
    @include mx.border(all, 1px, solid, map.get(color.$layout-border, 'quaternary'));
    @include mx.flex($direction: column);
    gap: map.get(var.$unit, 16);
    overflow: hidden;
    background: map.get(color.$layout-surf, 'base'); // ??
    border-radius: map.get(var.$radius, 'md');

    &.is-sold-out {
      *:not(.vits-cart-item-top, .vits-cart-item-top *) {
        pointer-events: none;
        filter: grayscale(0.5);
        opacity: 0.9;
      }
    }

    /* 상단 util (비교 / 삭제) */
    &-top {
      @include mx.flex($align: center, $justify: space-between);
      padding: map.get(var.$unit, 12) map.get(var.$unit, 8) map.get(var.$unit, 8) map.get(var.$unit, 16);
      border-bottom: 1px solid map.get(color.$layout-border, 'quinary');
    }

    &-soldout {
      @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
    }

    &-util {
      @include mx.flex($align: center);
      gap: map.get(var.$unit, 16);

      &:only-child {
        justify-content: flex-end;
        margin-left: auto;
      }

      button {
        @include button.btn-reset;
      }

      .vits-btn-compare {
        @include mx.flex($align: center);
        gap: fn.rem(5);

        .text {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'default'));
          line-height: normal;

          @include mx.common-mouse-event {
            font-weight: 600;
          }
        }

        .icon {
          @include mx.flex($align: center);
          @include icon.ic-size(map.get(var.$unit, 16));
          color: map.get(color.$icon-neutral, 'primary');
        }
      }

      .vits-btn-delete {
        width: fn.rem(20);
        height: fn.rem(20);

        .ic {
          @include icon.ic-size(map.get(var.$unit, 20));
          color: map.get(color.$icon-neutral, 'primary');
        }
      }
    }

    /* 메인 영역 */
    &-main {
      @include mx.flex($align: flex-start);
      gap: map.get(var.$unit, 12);
      align-items: flex-start;
      padding: 0 map.get(var.$unit, 24);
    }

    &-check {
      .checkbox-single-s {
        margin-top: fn.rem(32);
      }
    }

    &-thumb {
      flex: 0 0 fn.rem(80);
      overflow: hidden;
      border-radius: map.get(var.$radius, 'md');

      @include mx.border(all, 1px, solid, map.get(color.$layout-border, 'quinary'));

      a {
        display: block;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &-info {
      @include mx.flex($direction: column);
      flex: 1 1 auto;
      min-width: 0;
    }

    &-brand {
      @include mx.flex($align: center);
      gap: map.get(var.$unit, 8);

      .brand {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
      }

      .code {
        @include typo.typography('b5r', $color: map.get(color.$text-colors, 'tertiary'));
        min-height: map.get(var.$unit, 16);
        padding: 0 map.get(var.$unit, 4);
        text-align: center;
        border: 1px solid map.get(color.$layout-border, 'tertiary');
      }
    }

    &-name {
      @include typo.typography('b2s', $color: map.get(color.$text-colors, 'primary'));
      @include mx.ellipsis-single;
    }

    &-option {
      @include mx.divider('span', 1, 12, 6, $color: map.get(color.$layout-surf, 'secondary'));

      .option-label {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
      }

      .option-value {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
      }
    }

    &-badge {
      @include mx.flex($align: center);
      flex-wrap: wrap;
      gap: map.get(var.$unit, 2);
      padding-top: map.get(var.$unit, 4);
    }

    &-quantity {
      display: inline-flex;
      flex-wrap: wrap;
      gap: map.get(var.$unit, 8);
      padding-top: map.get(var.$unit, 20);

      .unit-control {
        @include mx.flex($align: center, $justify: flex-end, $wrap: wrap);
        gap: map.get(var.$unit, 8);

        &-btn {
          min-height: fn.rem(30);
          padding: 0 fn.rem(17.5);
          background: map.get(color.$layout-surf, 'base');
          border: 1px solid map.get(color.$layout-border, 'quaternary');
          border-radius: map.get(var.$radius, 'sm');

          @include mx.common-mouse-event {
            background-color: map.get(color.$layout-surf, 'raised');
            border-color: map.get(color.$layout-border, 'tertiary');
          }

          &.is-active {
            background-color: map.get(color.$layout-surf, 'raised');
            border-color: map.get(color.$layout-border, 'tertiary');
          }
        }

        &-input {
          position: relative;
          min-height: fn.rem(30);
          padding: 0 fn.rem(8);
          background: map.get(color.$layout-surf, 'base');
          border: 1px solid map.get(color.$layout-border, 'quaternary');
          border-radius: map.get(var.$radius, 'sm');

          @include mx.common-mouse-event {
            background-color: map.get(color.$layout-surf, 'raised');
            border-color: map.get(color.$layout-border, 'tertiary');
          }

          .unit-input {
            max-width: fn.rem(44);
            padding-right: fn.rem(4);
            font-size: fn.rem(12);
            text-align: right;
            background-color: transparent;
            border: 0;
          }

          .unit-text {
            @include typo.typography('b5r', $color: map.get(color.$text-colors, 'tertiary'));
          }
        }
      }

      .unit-add-btn {
        font-weight: 400;
        border-radius: map.get(var.$radius, 'sm');
      }

      .quantity-control {
        &.type-horiz {
          height: calc(fn.rem(28) + fn.rem(2));

          .unit {
            @include typo.typography('b5r', $color: map.get(color.$text-colors, 'tertiary'));
            height: fn.rem(28);
          }

          .quantity-input {
            @include typo.typography('b4r', $color: map.get(color.$text-colors, 'primary'));
            min-width: fn.rem(40);
            height: fn.rem(28);
          }

          .btn-step {
            width: fn.rem(28);
            height: fn.rem(28);
          }
        }
      }
    }

    /* 가격 영역 */
    &-price {
      @include mx.flex($direction: column, $align: flex-end);
      flex: 0 0 auto;
      gap: map.get(var.$unit, 20);
      text-align: right;

      .price-group {
        padding-top: fn.rem(18);

        .price-origin {
          @include typo.typography('d3r', $color: map.get(color.$text-colors, 'tertiary'));
          text-decoration: line-through;
        }

        .price-sale {
          @include mx.flex(inline-flex, row, flex-end, center);
          flex-wrap: wrap;
          column-gap: map.get(var.$unit, 4);

          .rate {
            @include typo.typography('b3s', $color: map.get(color.$text-status, 'brand'));
          }

          .price {
            @include typo.typography('b3s', $color: map.get(color.$text-colors, 'neutral'));
          }

          .vat {
            @include typo.typography('b5r', $color: map.get(color.$text-colors, 'muted'));
            width: 100%;
          }
        }
      }

      .price-discount {
        @include mx.flex($direction: column, $align: flex-end);
        gap: map.get(var.$unit, 4);

        button {
          padding: 0 fn.rem(20);
        }
      }

      .vits-cart-coupon-desc {
        @include typo.typography('b5sb', $color: map.get(color.$text-status, 'brand'));
      }
    }

    /* ===하단 금액 요약 === */
    &-bottom {
      @include mx.flex($align: flex-start, $direction: column);
      @include mx.border(top, 1px, solid, map.get(color.$layout-border, 'quinary'));
      gap: map.get(var.$unit, 12);
      padding: map.get(var.$unit, 16) map.get(var.$unit, 24);
      background: map.get(color.$layout-surf, 'raised');
    }
  }

  /* 금액 요약 */
  &-price-summary {
    @include mx.flex($align: flex-start, $wrap: wrap);
    gap: map.get(var.$unit, 44);
    width: 100%;
    padding-bottom: map.get(var.$unit, 12);
    border-bottom: 1px solid map.get(color.$layout-border, 'quinary');

    .vits-cart-summary-item {
      @include mx.flex($align: center);
      @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
      flex: 1;
      gap: map.get(var.$unit, 24);

      &.has-discount {
        @include mx.flex($direction: column);
        gap: map.get(var.$unit, 12);

        .discount-info {
          @include mx.flex($align: center, $justify: space-between);
          width: 100%;

          .discount-toggle {
            @include button.btn-reset;
            @include mx.flex($align: center);
            gap: fn.rem(2);
          }

          .value {
            @include typo.typography('b4r', $color: map.get(color.$text-status, 'brand'));
          }
        }

        .discount-info-detail {
          display: none;

          .detail-row {
            @include mx.flex($align: center, $justify: space-between);
            padding-top: map.get(var.$unit, 4);

            &:first-child {
              padding-top: 0;
            }
          }
        }

        .discount-info.is-active + .discount-info-detail {
          display: block;
        }
      }

      .label {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
        white-space: nowrap;
      }

      .value {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'primary'));
        white-space: nowrap;

        &.is-discount {
          color: map.get(color.$text-status, 'brand');
        }
      }

      &:last-child {
        .label,
        .value {
          flex: 1;
          text-align: right;
        }
      }
    }
  }

  &-order-total {
    @include mx.flex($align: center);
    gap: map.get(var.$unit, 12);
    align-self: flex-end;
    text-align: right;

    .label {
      @include typo.typography('b4r', $color: map.get(color.$text-colors, 'default'));
    }

    .value {
      @include typo.typography('b3b', $color: map.get(color.$text-status, 'brand'));
    }
  }

  /* 더보기 */
  &-more {
    @include mx.flex($justify: center);

    .vits-btn-lg {
      width: 100%;
      font-weight: 700;
    }
  }
}

/* ===배송정보=== */
.vits-shipping {
  @include mx.flex($direction: column);
  padding-bottom: map.get(var.$unit, 32);
  margin-top: map.get(var.$unit, 20);
  background: map.get(color.$layout-surf, 'base');
  border-radius: map.get(var.$radius, 'lg');
  box-shadow: 0 4px 7px 0 rgb(0 0 0 / 4%);

  /* header */
  &-header {
    padding: fn.rem(17) fn.rem(32);
    border-bottom: 1px solid map.get(color.$layout-border, 'quinary');
  }

  &-title {
    @include typo.typography('h3b', $color: map.get(color.$text-colors, 'primary'));
  }

  /* 안내 메시지 */
  &-alert {
    margin: map.get(var.$unit, 32) map.get(var.$unit, 32) 0;
  }

  /* ===배송 방법별 패널 === */
  &-body {
    @include mx.flex($direction: column);
    padding: map.get(var.$unit, 16) map.get(var.$unit, 32) map.get(var.$unit, 32);
    border-bottom: 1px solid map.get(color.$layout-border, 'quinary');
  }

  &-panel {
    display: none;

    @include mx.flex($direction: column);
    gap: map.get(var.$unit, 24);
  }

  /* 안내 문구 */
  &-guide {
    @include cart-order-surf-box;

    ul {
      @include mx.bullet-style;
      @include mx.flex($direction: column);
    }

    li {
      @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
      position: relative;
      line-height: 1.4;

      &::before {
        background-color: map.get(color.$text-colors, 'secondary') !important;
      }

      &.is-warning {
        @include typo.typography('b4r', $color: map.get(color.$text-status, 'brand'));

        &::before {
          background-color: map.get(color.$text-status, 'brand');
        }
      }
    }
  }

  /* ===받는 사람 / 보내는 사람=== */
  &-receiver,
  &-sender {
    @include mx.flex($direction: column);
    gap: map.get(var.$unit, 16);
    padding: map.get(var.$unit, 32);

    .vits-form-label {
      @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
    }
  }

  &-sender {
    @include mx.border(bottom, 1px, solid, map.get(color.$layout-border, 'quinary'));
  }

  &-section-title {
    @include typo.typography('h4s', $color: map.get(color.$text-colors, 'primary'));
  }
}

/* 배송 방법 선택 */
.vits-shipping-method {
  @include mx.flex($direction: column);
  gap: map.get(var.$unit, 16);
  padding: fn.rem(32) fn.rem(32) 0;

  &-btn {
    @include mx.flex($align: center, $justify: center);
    @include typo.typography('b2m', $color: map.get(color.$text-colors, 'default'));
    flex: 1;
    height: map.get(var.$unit, 56);
    border-radius: map.get(var.$radius, 'md');

    &.is-active {
      font-weight: 600;
    }
  }

  &-tabs {
    @include mx.flex;
    gap: map.get(var.$unit, 16);

    .vits-shipping-method-btn {
      @include button.btn-reset;
      @include mx.flex($align: center, $justify: center);
      @include mx.border(all, 1px, solid, map.get(color.$layout-border, 'tertiary'));
      gap: fn.rem(5);
      min-height: fn.rem(60);
      background-color: map.get(color.$layout-surf, 'base');
      border-radius: map.get(var.$radius, 'md');

      .text {
        @include typo.typography('b2m', $color: map.get(color.$text-colors, 'tertiary'));
      }

      .icon {
        @include icon.ic-size(fn.rem(26));
        color: map.get(color.$text-colors, 'tertiary');
      }

      &.is-active {
        @include mx.border(all, 2px, solid, map.get(color.$layout-border, 'brand'));

        .text,
        .icon {
          color: map.get(color.$text-status, 'brand');
        }
      }
    }
  }

  &-title {
    @include typo.typography('b2sb', $color: map.get(color.$text-colors, 'default'));
  }
}

/* ===공통 폼 레이아웃=== */
.vits-shipping-form,
.vits-form-box {
  @include mx.flex($direction: column);
  gap: map.get(var.$unit, 20);
}

.vits-shipping-form {
  padding-top: map.get(var.$unit, 32);
}

.vits-form {
  padding-top: map.get(var.$unit, 32);

  &-row {
    @include mx.flex($direction: column);
    gap: map.get(var.$unit, 12);
  }

  &-row-group {
    @include mx.flex($align: center, $justify: space-between);
    gap: map.get(var.$unit, 16);

    .vits-form-row {
      flex: 1;
      min-width: 0;
    }

    .vits-btn-scoped-info {
      padding: 0 fn.rem(12);
    }
  }

  &-label {
    @include typo.typography('b2s', $color: map.get(color.$text-colors, 'primary'));
  }

  &-field {
    @include mx.flex($align: center);
    gap: map.get(var.$unit, 8);

    .vits-datepicker-single {
      width: 100%;
    }

    /* 셀렉트 영역 */
    .vits-select {
      width: 100%;
      padding: 0 fn.rem(2);
    }

    .vits-select-value {
      font-size: fn.rem(14);
    }

    .vits-select-trigger {
      justify-content: space-between;
      width: 100%;
      min-height: map.get(var.$unit, 36);
      padding: 0 map.get(var.$unit, 16);
    }

    .vits-select-list {
      width: calc(100% - fn.rem(1));
    }

    .vits-input {
      .disabled,
      &.disabled,
      &.is-disabled,
      &[disabled],
      [disabled] {
        color: map.get(color.$button-fill-secondary, 'fill-on_surf-secondary-disable') !important;
        pointer-events: none;
        cursor: none;
        background-color: map.get(color.$button-fill-secondary, 'fill-surf-secondary-disable');
      }
    }
  }
}

/* ===배송 방법별 패널 초기화 === */
.vits-shipping-panel[data-panel] {
  display: none;

  &.is-active {
    display: block;
  }
}

/* quick 패널 전용 스타일 */
.vits-shipping-panel[data-panel='quick'] {
  .vits-form-label {
    @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
  }
}

/* freight 화물업체/영업소 선택: freight 탭 선택 시에만 표시 */
.vits-shipping [data-freight-visible='false'],
.vits-shipping [data-freight-hidden='true'] {
  display: none !important;
}

/* ===결제 정보=== */
/* 결제 전체 */
.vits-payment {
  @include mx.flex($direction: column);
  background: map.get(color.$layout-surf, 'base');
  border-radius: map.get(var.$radius, 'lg');
  box-shadow: 0 4px 7px 0 rgb(0 0 0 / 4%);

  /* ===결제정보 요약=== */
  &-summary {
    padding-bottom: map.get(var.$unit, 32);
  }

  &-title {
    @include typo.typography('h3b', $color: map.get(color.$text-colors, 'secondary'));
    padding: fn.rem(17) fn.rem(32);
  }

  // 가격 영역
  &-price {
    padding: map.get(var.$unit, 20) map.get(var.$unit, 32);

    @include mx.border(bottom, 1px, solid, map.get(color.$layout-border, 'quinary'));
  }

  &-price-list {
    @include mx.flex($direction: column);
    gap: map.get(var.$unit, 16);

    li {
      @include mx.flex($align: center, $justify: space-between);

      span {
        @include typo.typography('b2r', $color: map.get(color.$text-colors, 'default'));
      }

      strong {
        @include typo.typography('h4b', $color: map.get(color.$text-colors, 'primary'));
      }

      &.is-discount {
        strong {
          color: map.get(color.$text-status, 'brand');
        }
      }
    }
  }

  &-price-sub {
    @include mx.flex($direction: column);
    gap: map.get(var.$unit, 12);

    li {
      @include mx.flex($align: center, $justify: space-between);

      span {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
      }

      strong {
        @include typo.typography('b2b', $color: map.get(color.$text-colors, 'primary'));
      }
    }
  }

  &-total {
    @include mx.flex($align: center, $justify: space-between);
    padding: map.get(var.$unit, 20) map.get(var.$unit, 32);

    span {
      @include typo.typography('b2b', $color: map.get(color.$text-colors, 'secondary'));
    }

    strong {
      @include typo.typography('h4b', $color: map.get(color.$text-status, 'brand'));
    }
  }

  &-notice {
    padding: 0 map.get(var.$unit, 32);

    @include cart-order-info-icon(
      $text-color: map.get(color.$text-status, 'info-sub'),
      $icon-color: map.get(color.$text-status, 'info')
    );
  }

  &-agree {
    width: calc(100% - fn.rem(64));
    padding: fn.rem(44) 0 fn.rem(52);
    margin: 0 auto;

    .checkbox-single-s {
      align-items: flex-start;
    }
  }

  /* ===결제수단 영역=== */

  /* 결제수단 단위 */
  &-item {
    @include mx.border(top, 1px, solid, map.get(color.$layout-border, 'quinary'));
    @include mx.flex($direction: column);
    gap: map.get(var.$unit, 16);
    padding: map.get(var.$unit, 20) map.get(var.$unit, 32);

    &:first-child {
      border-top: 0;
    }

    /* 라디오 공통 */
    .radio-item {
      @include mx.flex($align: center);
      gap: map.get(var.$unit, 8);
      cursor: pointer;

      /* stylelint-disable-next-line no-descending-specificity */
      .label-name {
        @include typo.typography('b3b', $color: map.get(color.$text-status, 'brand'));
        align-items: center;
        white-space: nowrap;

        em {
          @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
          margin-left: map.get(var.$unit, 2);
          font-style: normal;
          line-height: normal;
        }
      }
    }
  }

  /* ===간편결제 탭=== */
  &-tabs {
    @include mx.flex;
    padding: map.get(var.$unit, 2);
    background-color: map.get(color.$layout-surf, 'sunken');
    border-radius: map.get(var.$radius, 'sm');
  }

  &-tab {
    @include button.btn-reset;
    @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
    flex: 1;
    color: map.get(color.$text-colors, 'tertiary');
    border-radius: map.get(var.$radius, 'sm');

    &.is-active {
      padding: map.get(var.$unit, 8) 0;
      font-weight: 600;
      color: map.get(color.$text-status, 'brand');
      background-color: map.get(color.$layout-surf, 'base');
      border: 1px solid map.get(color.$layout-border, 'brand');
      border-radius: map.get(var.$radius, 'sm');
    }
  }
}

/* 간편결제 > 탭 패널 */
.vits-payment-tab-panel {
  display: none;
  padding: map.get(var.$unit, 24) 0 map.get(var.$unit, 16);
  margin-top: map.get(var.$unit, 12);
  border: 1px solid map.get(color.$layout-border, 'quinary');
  border-radius: map.get(var.$radius, 'md');

  .type-account-empty,
  .vits-card-form,
  .vits-tax {
    margin-right: map.get(var.$unit, 16);
    margin-left: map.get(var.$unit, 16);
  }

  .vits-payment-notice {
    min-height: fn.rem(34);
    padding: 0 map.get(var.$unit, 16);

    .notice-text {
      flex: 1;
    }

    .pay-manage {
      @include mx.flex($align: center, $justify: end);
      text-align: right;

      .vits-text-link {
        @include mx.flex($align: center);
        @include typo.typography('b4r ', $color: map.get(color.$text-colors, 'tertiary'));
      }
    }
  }

  &#panel-simple-card {
    padding: map.get(var.$unit, 24) 0 map.get(var.$unit, 16);
    border: 1px solid map.get(color.$layout-border, 'quinary');
    border-radius: map.get(var.$radius, 'md');
  }

  &#panel-simple-account {
    .vits-payment-notice {
      justify-content: flex-end;

      &::before {
        content: none;
      }
    }
  }

  &.is-active {
    display: block;
  }

  /* ===비츠온페이 카드=== */
  .vits-card {
    &-list {
      padding: map.get(var.$unit, 20) 0;
      padding-left: map.get(var.$unit, 16);

      .vits-swiper-navs {
        &::after {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          width: 40px;
          height: 100%;
          content: '';
          background: #fff;
          background: linear-gradient(
            90deg,
            rgb(255 255 255 / 0%) 0%,
            rgb(255 255 255 / 78%) 50%,
            rgb(255 255 255 / 100%) 100%
          );
        }

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 20px;
          height: 100%;
          content: '';
          background: #fff;
          background: linear-gradient(
            -90deg,
            rgb(255 255 255 / 0%) 0%,
            rgb(255 255 255 / 78%) 50%,
            rgb(255 255 255 / 100%) 100%
          );
        }
      }

      .swiper-button-next {
        right: 5px;
      }

      .swiper-button-prev {
        left: 5px;
      }

      .swiper-button-disabled {
        opacity: 0;
      }
    }

    /* 비츠온페이 카드 리스트 (swiper) */
    &-item {
      @include mx.flex($direction: column, $justify: center);
      width: 80px;
      min-height: fn.rem(106);
      padding: 0 map.get(var.$unit, 24);
      cursor: pointer;
      background-color: map.get(color.$layout-surf, 'base');
      filter: grayscale(1);
      background-repeat: no-repeat;
      background-position: center;
      background-size: fn.rem(80) fn.rem(80);
      border: 1px solid map.get(color.$layout-border, 'tertiary');
      border-radius: map.get(var.$radius, 'md');
      opacity: 0.3;

      .card-brand {
        @include typo.typography('b4s', $color: map.get(color.$text-colors, 'secondary'));
        margin-bottom: map.get(var.$unit, 10);
      }

      .card-name,
      .card-number {
        @include typo.typography('b3b', $color: map.get(color.$text-colors, 'primary'));
        margin-bottom: map.get(var.$unit, 4);
      }

      &.swiper-slide-active {
        filter: grayscale(0);
        border: 0;
        opacity: 1;
      }
    }

    /* 비츠온페이 카드할부 폼 */
    &-form {
      padding: map.get(var.$unit, 24) map.get(var.$unit, 32);
      border: 1px solid map.get(color.$layout-border, 'secondary');
      border-radius: map.get(var.$radius, 'md');

      .vits-form-row {
        @include mx.flex($align: flex-start, $justify: flex-start);
        padding-bottom: map.get(var.$unit, 16);
      }

      .vits-form-item {
        @include mx.flex($direction: column);
        flex: 1;
        gap: map.get(var.$unit, 8);
      }

      .vits-form-label {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));

        .vits-default-badge {
          @include typo.typography('b5r', $color: map.get(color.$text-status, 'info'));
          display: inline-block;
          min-width: fn.rem(26);
          padding: fn.rem(4);
          margin-left: fn.rem(4);
          line-height: normal;
          vertical-align: middle;
          background-color: map.get(color.$layout-status, 'info-bg-sub');
          border-radius: map.get(var.$radius, 'sm');
        }
      }

      .vits-form-value {
        @include typo.typography('b4b', $color: map.get(color.$text-colors, 'primary'));
        padding-top: map.get(var.$unit, 4);
      }

      .vits-form-number {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
      }

      .vits-form-select,
      .vits-select {
        width: 100%;

        .vits-select-trigger {
          @include mx.flex($align: center, $justify: space-between);
          width: 100%;
        }

        .vits-select-list {
          width: 100%;
        }
      }
    }
  }

  /* ===비츠온페이 계좌=== */
  .type-account-empty {
    gap: map.get(var.$unit, 12);
    justify-content: center;
    height: fn.rem(180);
    background-color: map.get(color.$layout-surf, 'base');
    border: 1px solid map.get(color.$layout-border, 'quaternary');
    border-radius: map.get(var.$radius, 'md');
    box-shadow: map.get(var.$box-shadow, 'elevation_1');

    &:hover .icon {
      color: map.get(color.$text-colors, 'inverse');
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .icon {
      width: fn.rem(24);
      height: fn.rem(24);
      color: map.get(color.$text-colors, 'inverse');
      background-color: map.get(color.$layout-surf, 'secondary');
      border-radius: 50%;
    }

    .text {
      @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
    }
  }
}

/* ===하위 패널 (radio 연결)=== */
.vits-payment-panel {
  display: none;

  &.is-active {
    display: block;
  }

  .payment-tab-panel-inner {
    padding: map.get(var.$unit, 16) map.get(var.$unit, 32) map.get(var.$unit, 24);
    border: 1px solid map.get(color.$layout-border, 'quinary');
    border-radius: map.get(var.$radius, 'md');
  }

  // 무통장입금 패널
  &#panel-bank {
    .vits-payment-bank {
      &-list {
        padding: 0;
        padding-top: map.get(var.$unit, 24);
        margin: 0;
      }

      &-item {
        @include mx.flex($align: center);
        gap: map.get(var.$unit, 20);
        padding-bottom: map.get(var.$unit, 16);

        dt {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
          min-width: fn.rem(74);
        }

        dd {
          @include typo.typography('b3b', $color: map.get(color.$text-colors, 'primary'));
        }
      }

      // 입금자명 입력 필드
      &-input {
        @include mx.flex($direction: column);
        gap: fn.rem(10);

        .vits-form-label {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
        }

        .vits-form-field {
          ::placeholder {
            color: map.get(color.$text-colors, 'muted');
          }
        }
      }
    }
  }

  // 여신결제 패널
  &#panel-credit {
    .info-text {
      @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
      padding-top: map.get(var.$unit, 20);
    }
  }
}

/* ===세금계산서 발급 신청=== */
// stylelint-disable-next-line no-descending-specificity
.vits-tax {
  @include cart-order-surf-box;
  padding: map.get(var.$unit, 24) map.get(var.$unit, 32);
  margin-top: map.get(var.$unit, 16);

  &.is-active {
    display: block;
  }

  &-title {
    @include typo.typography('b3s', $color: map.get(color.$text-colors, 'primary'));
    padding-bottom: map.get(var.$unit, 16);
  }

  &-options {
    @include mx.flex($align: flex-start, $direction: column);
    gap: map.get(var.$unit, 12);

    .radio-item {
      @include mx.flex($align: center);
      gap: map.get(var.$unit, 4);

      .label-name {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
      }
    }
  }
}

/* ===결제 버튼 === */
.vits-payment-submit {
  margin-top: map.get(var.$unit, 20);
  background-color: map.get(color.$layout-surf, 'base');

  .vits-btn-xxl {
    width: 100%;

    /* stylelint-disable-next-line no-descending-specificity */
    .text {
      font-size: fn.rem(20);
    }
  }
}

/* ===modal kendo window -배송지 등록/수정=== */
.vits-address-modify {
  padding: map.get(var.$unit, 32);
  border: 1px solid map.get(color.$layout-border, 'tertiary');
  border-radius: map.get(var.$radius, 'md');

  &-form {
    position: relative;

    .vits-address {
      // 배송 방식 선택
      &-type {
        @include mx.flex($align: center, $justify: space-between);
        gap: map.get(var.$unit, 20);
        padding-bottom: map.get(var.$unit, 32);

        .radio-item {
          flex: 1;
          text-align: center;

          .radio-icon {
            margin-top: 1px;
          }

          .label-name {
            @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
          }

          &:has(input:checked) {
            .label-name {
              color: map.get(color.$text-status, 'brand');
            }
          }
        }
      }

      /* 배송지 입력 */
      &-fields {
        display: none;

        &.is-active {
          display: block;
        }

        .vits-field {
          @include mx.flex($align: center);
          gap: map.get(var.$unit, 12);
          margin-top: map.get(var.$unit, 12);

          &:first-child {
            margin-top: 0;
          }

          &-label {
            @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
            min-width: fn.rem(60);
            white-space: nowrap;

            .vits-required {
              @include typo.typography('b3r', $color: map.get(color.$text-status, 'brand-sub'));
              margin-right: 2px;
            }
          }

          .input-item {
            ::placeholder {
              @include typo.typography('b3r', $color: map.get(color.$text-colors, 'muted'));
            }
          }

          // 주소 입력 필드
          &.vits-address {
            gap: map.get(var.$unit, 12);
            align-items: flex-start;
            justify-content: space-between;

            .vits-field-label {
              padding-top: map.get(var.$unit, 8);
            }

            .vits-address-input {
              @include mx.flex($direction: column);
              flex: 1;
              gap: map.get(var.$unit, 12);

              .vits-address-zipcode {
                @include mx.flex($align: center);
                gap: map.get(var.$unit, 8);

                .vits-input {
                  width: 100%;
                }
              }
            }
          }
        }

        // 화물 배송지 입력 필드
        &.panel-freight {
          .vits-address-freight {
            @include cart-order-surf-box;
            margin-bottom: map.get(var.$unit, 32);

            &-notice {
              @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
              padding-bottom: fn.rem(10);

              .required {
                color: map.get(color.$text-status, 'brand-sub');
              }
            }

            &-fields {
              @include mx.flex($align: center, $direction: column);
              gap: fn.rem(10);
            }

            &-row {
              @include mx.flex($align: center);
              gap: map.get(var.$unit, 8);
              width: 100%;
            }

            &-label {
              @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
              min-width: fn.rem(60);
              white-space: nowrap;
            }

            &-search {
              @include mx.flex($align: center);
              gap: map.get(var.$unit, 8);

              // 영업소 조회 간격조정
              .vits-btn-scoped-info {
                padding: 0 fn.rem(20);
              }
            }
          }
        }
      }
    }

    .vits-default-address {
      padding-top: map.get(var.$unit, 32);

      .agree-text {
        @include typo.typography('b2r', $color: map.get(color.$text-colors, 'secondary'));
      }
    }
  }
}

/* ===modal kendo window -쿠폰 적용=== */
.vits-apply-coupon-content {
  &.vits-scrollbar {
    max-height: fn.rem(630);
    padding-bottom: map.get(var.$unit, 4);
    overflow: auto;
  }

  .vits-apply-coupon-list {
    ul {
      @include mx.flex($direction: column);
      gap: map.get(var.$unit, 12);
    }

    .coupon-item {
      @include mx.flex($align: center);
      gap: map.get(var.$unit, 20);
      padding: fn.rem(14) fn.rem(20);
      border: 1px solid map.get(color.$layout-border, 'quaternary');
      border-radius: map.get(var.$radius, 'md');

      &-left {
        .coupon-item-badge {
          position: relative;
          display: block;
          width: fn.rem(148);
          height: fn.rem(68);

          @include mx.background('ic/ic-coupon-badge.svg');
        }

        .coupon-item-badge-value {
          @include typo.typography('h1b', $color: map.get(color.$text-status, 'info'));
          @include mx.flex($direction: column, $justify: center, $align: center);
          height: 100%;
          padding-top: fn.rem(3);

          &::before {
            @include typo.typography('b4s', $color: map.get(color.$text-status, 'info'));
            display: block;
            content: '할인';
          }
        }
      }

      &-body {
        @include mx.ellipsis-single;
        flex: 1;
        min-width: 0;

        .coupon-item-title {
          @include mx.ellipsis-single;
          @include typo.typography('b2sb', $color: map.get(color.$text-colors, 'primary'));
        }

        .coupon-item-period {
          @include mx.ellipsis-single;
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
          margin: map.get(var.$unit, 8) 0 map.get(var.$unit, 4);
        }

        .coupon-item-desc {
          @include mx.ellipsis-single;
          @include mx.flex($direction: column);
          gap: map.get(var.$unit, 4);

          .desc-list-discount {
            @include mx.flex($align: center, $justify: flex-start);
            gap: map.get(var.$unit, 4);

            dt,
            dd {
              @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
            }
          }
        }
      }

      @include mx.common-mouse-event {
        border-color: map.get(color.$layout-border, 'secondary');
        box-shadow: 0 4px 7px 0 rgb(0 0 0 / 10%);
      }
    }
  }

  // 최대 혜택가
  .vits-benefit-coupon-price {
    padding: map.get(var.$unit, 16) map.get(var.$unit, 24);
    margin-top: map.get(var.$unit, 32);
    background: map.get(color.$layout-surf, 'mypage');
    border: 2px solid map.get(color.$text-status, 'info');
    border-radius: map.get(var.$radius, 'md');

    .vits-benefit {
      &-title {
        @include typo.typography('b2b', $color: map.get(color.$text-colors, 'primary'));
        margin-bottom: map.get(var.$unit, 12);
      }

      &-calc {
        @include mx.flex($align: stretch);
      }

      &-item {
        @include mx.flex($direction: column);
        gap: map.get(var.$unit, 2);
        min-width: fit-content;
        padding: map.get(var.$unit, 16);
        text-align: center;
        background: map.get(color.$layout-surf, 'base');
        border: 1px solid map.get(color.$layout-border, 'quaternary');
        border-radius: map.get(var.$radius, 'md');
      }

      &-result {
        @include mx.flex($direction: column, $justify: center, $align: center);
        flex: 1;
        gap: map.get(var.$unit, 4);
        padding: map.get(var.$unit, 12);
        background: map.get(color.$layout-surf, 'base');
        border: 1px solid map.get(color.$text-status, 'info');
        border-radius: map.get(var.$radius, 'md');

        .benefit-label {
          @include typo.typography('b2b', $color: map.get(color.$text-colors, 'primary'));
        }

        .benefit-price-value {
          @include typo.typography('b2b', $color: map.get(color.$text-status, 'brand'));
        }
      }
    }

    .benefit-label {
      @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
    }

    .benefit-value {
      @include typo.typography('b2b', $color: map.get(color.$text-colors, 'primary'));
    }

    .benefit-operator {
      @include mx.flex($align: center, $justify: center);
      @include typo.typography('h2b', $color: map.get(color.$text-status, 'info'));
      padding: 0 4px;
    }
  }
}

/* ===modal kendo window -쿠폰 자동 적용=== */
.vits-auto-alert {
  .vits-auto-alert-content {
    @include cart-order-surf-box;
    padding: map.get(var.$unit, 20) map.get(var.$unit, 32);

    .vits-auto-alert-list {
      @include mx.bullet-style($bg: map.get(color.$text-colors, 'secondary'));

      .vits-auto-alert-item {
        .vits-auto-alert-text {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
        }
      }
    }
  }
}

/* ===modal kendo window -상품 추가 (조장상품)=== */
/* 상품 요약 */
.vits-add-product-order {
  // 입력 영역
  .vits-order-input-row {
    @include mx.flex($align: flex-end, $justify: space-between);
    gap: map.get(var.$unit, 20);
    padding: map.get(var.$unit, 32) 0;
    border-radius: map.get(var.$radius, 'md');

    // 수량 입력 영역 : .order-cell이 2개이고 3개는 없을 때
    &:has(.order-cell:nth-of-type(2)):not(:has(.order-cell:nth-of-type(3))) {
      justify-content: flex-start;
    }

    .guide-text {
      @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
      padding-bottom: map.get(var.$unit, 8);
    }

    .order-cell {
      @include mx.flex($direction: column, $align: flex-start, $justify: flex-end);

      .unit-control {
        &-btn {
          @include mx.flex($align: center);
          min-height: fn.rem(38);
          padding: 0 fn.rem(13);
          border: 1px solid map.get(color.$layout-border, 'quaternary');
          border-radius: map.get(var.$radius, 'sm');

          @include mx.common-mouse-event {
            background-color: map.get(color.$layout-surf, 'sunken');
            border-color: map.get(color.$layout-border, 'tertiary');
          }
        }

        &-input {
          position: relative;
          min-height: fn.rem(36);
          padding: 0 fn.rem(8);
          white-space: nowrap;
          background: map.get(color.$layout-surf, 'base');
          border: 1px solid map.get(color.$layout-border, 'quaternary');
          border-radius: map.get(var.$radius, 'sm');

          .unit-input {
            min-height: fn.rem(36);
            padding-right: fn.rem(4);
            font-size: fn.rem(12);
            text-align: right;
            background-color: transparent;
            border: 0;
          }

          .unit-text {
            @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
          }

          @include mx.common-mouse-event {
            background-color: map.get(color.$layout-surf, 'sunken');
            border-color: map.get(color.$layout-border, 'tertiary');
          }
        }
      }

      .quantity-control {
        .unit {
          @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
          line-height: normal;
        }
      }

      .vits-add-btn {
        min-width: fn.rem(130);
      }
    }
  }

  /* 추가된 항목 리스트 */
  .vits-order-list {
    @include mx.border(all, 1px, solid, map.get(color.$layout-border, 'quaternary'));
    max-height: fn.rem(201);
    padding: fn.rem(10) map.get(var.$unit, 40);
    overflow: auto;
    background: map.get(color.$layout-surf, 'raised');
    border-radius: map.get(var.$radius, 'md');

    .vits-order-item {
      @include mx.flex($align: center);
      @include mx.border(top, 1px, solid, map.get(color.$layout-border, 'quinary'));
      gap: map.get(var.$unit, 8);
      padding: fn.rem(10) 0;

      &:first-child {
        @include mx.border(top, 0, none, transparent);
      }

      .vits-order-spec {
        @include mx.ellipsis-single;
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
        flex: 1 1 auto;
      }

      .vits-order-price {
        @include typo.typography('b3b', $color: map.get(color.$text-status, 'brand-sub'));
        white-space: nowrap;
      }

      .vits-order-remove {
        flex: 0 0 fn.rem(20);
        height: fn.rem(20);
        cursor: pointer;
        background: transparent;
        border: none;

        .ic {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// 쿠폰 변경 팝업 & 조장 상품 공통 스타일
.vits-product-summary {
  @include mx.flex($align: flex-start);
  @include mx.border(all, 1px, solid, map.get(color.$layout-border, 'quaternary'));
  gap: map.get(var.$unit, 12);
  padding: map.get(var.$unit, 12);
  background: map.get(color.$layout-surf, 'base');
  border-radius: map.get(var.$radius, 'md');

  .vits-product-thumb {
    flex: 0 0 fn.rem(60);
    height: fn.rem(60);
    background-color: map.get(color.$gray-shades, '10');
    border-radius: map.get(var.$radius, 'md');

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .vits-product-meta {
    @include mx.flex($align: center);
    gap: fn.rem(4);

    .vits-product-brand {
      @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
    }

    .vits-product-code {
      @include mx.border(all, 1px, solid, map.get(color.$layout-border, 'tertiary'));
      @include typo.typography('b5r', $color: map.get(color.$text-colors, 'tertiary'));
      padding: fn.rem(1) fn.rem(4);
    }
  }

  .vits-product-name {
    @include typo.typography('b3b', $color: map.get(color.$text-colors, 'primary'));
    margin-top: fn.rem(8);
  }

  .vits-product-desc {
    @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
    margin-top: fn.rem(2);
  }
}

/* ===modal kendo window -쿠폰 변경 (상품별 쿠폰 변경)=== */
.vits-coupon-change {
  .vits-coupon-change-header {
    [class*='vits-btn'] {
      width: 100%;
    }
  }

  .vits-coupon-change-body {
    max-height: fn.rem(632);
    padding-top: map.get(var.$unit, 16);
    overflow: auto;

    .coupon-change-list {
      @include mx.flex($direction: column);
      gap: map.get(var.$unit, 16);

      .coupon-change-item {
        @include mx.border(all, 1px, solid, map.get(color.$layout-border, 'quaternary'));
        border-radius: map.get(var.$radius, 'md');
      }

      .coupon-change-card {
        .vits-product-summary {
          padding: map.get(var.$unit, 16);
          background-color: transparent;
          border: 0;
          border-radius: 0;
        }

        .vits-coupon-select {
          padding: 0 map.get(var.$unit, 16) map.get(var.$unit, 16);

          .coupon-label {
            @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
            padding-bottom: map.get(var.$unit, 4);
          }

          .coupon-field {
            .vits-select,
            .vits-select-list {
              width: 100%;
            }

            .vits-select-trigger {
              width: 100%;
              padding: 0 map.get(var.$unit, 20);
            }

            .vits-select-disabled {
              .vits-select-trigger {
                background: map.get(color.$layout-surf, 'sunken');
              }
            }
          }
        }

        .vits-coupon-price {
          padding: map.get(var.$unit, 16) map.get(var.$unit, 24);
          background: map.get(color.$layout-surf, 'raised');
          border-radius: map.get(var.$radius, 'md');

          ul {
            @include mx.flex($justify: space-between);
            gap: fn.rem(33);

            li {
              @include mx.flex($align: center);
              gap: fn.rem(20);

              .price-label {
                @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
              }

              .price-value {
                @include typo.typography('b4r', $color: map.get(color.$text-colors, 'primary'));

                &.is-discount {
                  @include typo.typography('b4r', $color: map.get(color.$text-status, 'brand'));
                }

                &.is-max-benefit {
                  @include typo.typography('b3b', $color: map.get(color.$text-status, 'brand'));
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ===modal kendo window -화물 영업소 조회=== */
.vits-freight-company {
  position: relative;

  .vits-carrier-search {
    @include mx.flex($direction: column);
    gap: map.get(var.$unit, 24);

    /* 검색 영역 */
    &-form {
      // stylelint-disable-next-line no-descending-specificity
      .vits-select-trigger {
        min-height: inherit;
      }
    }

    .vits-form-row {
      @include mx.flex($align: flex-end);
      gap: map.get(var.$unit, 12);
    }

    .vits-form-field {
      @include mx.flex($direction: column);
      gap: fn.rem(8);
      min-width: fn.rem(200);

      &.is-grow {
        flex: 1;
      }
    }

    .vits-form-label {
      @include typo.typography('b3s', $color: map.get(color.$text-colors, 'primary'));
    }

    .vits-form-control {
      width: 100%;
    }

    .vits-form-actions {
      flex-shrink: 0;

      [class*='vits-btn'] {
        min-width: fn.rem(120);
      }
    }

    /* 결과 영역 */
    &-result {
      @include mx.border(all, 1px, solid, map.get(color.$layout-border, 'quaternary'));
      overflow: hidden;
      border-radius: map.get(var.$radius, 'md');
    }

    .vits-table-carrier {
      width: 100%;
      border-collapse: collapse;

      thead {
        background: map.get(color.$layout-surf, 'sunken');
      }

      th,
      td {
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid map.get(color.$layout-border, 'quaternary');

        [class*='vits-btn'] {
          @include typo.typography(
            'b4r',
            $color: map.get(color.$button-ghost-secondary, 'ghost-on_surf-secondary-default')
          );
          margin: 0 auto;
        }
      }

      th {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
        padding: fn.rem(10) map.get(var.$unit, 8);
      }

      td {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'default'));
        padding: map.get(var.$unit, 8);
      }

      tr:last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    &-pagination {
      margin: 0 auto;
    }
  }
}

/* === 비츠온페이 로고 리뉴얼 변경 === */
.ci .header-cont.vitsonpay-header-cont {
  p {
    @include mx.flex($align: center, $justify: center);
    min-height: fn.rem(60);

    img {
      display: block;
      min-height: fn.rem(32);
    }
  }
}

.ci .header-cont p::before,
.ci .header-cont p::after {
  content: none;
}

.vitsonpay-btn {
  @include mx.flex($align: center, $justify: center);
  min-height: fn.rem(60);
  padding: 0 fn.rem(20);
  background-color: map.get(color.$text-status, 'brand');

  &[disabled],
  &.disabled {
    background-color: #c9c9c9;
  }

  .vitsonpay-btn-text {
    @include typo.typography('h1b', $color: map.get(color.$text-colors, 'white'));

    &::before,
    &::after {
      content: none;
    }
  }
}
