// -----------------------------------------------------------------------------
// pages/_category.scss
// - 카테고리 팝업 및 대/중/소 카테고리 기준 상품 목록(PLP) 페이지 스타일 정의.
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

/* 대/중/소 카테고리 상품 목록 */
.vits-plp {
  // 상단 영역
  &-titlebar {
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 20);
    width: 100%;
    padding: map.get(var.$unit, 24) 0;

    &::after {
      display: block;
      width: 100%;
      height: 1px;
      margin-top: map.get(var.$unit, 4);
      content: '';
      background: map.get(color.$layout-border, 'quaternary');
    }

    &-heading {
      @include typo.typography('h1b', $color: #101828);
      @include mx.ellipsis-single;
      flex-grow: 1;
      min-width: 0;
      margin-top: fn.rem(6);
    }

    &-research {
      flex-shrink: 0;
      width: fn.rem(306);
    }

    &-chips {
      position: relative;

      .chip-nav {
        @include button.btn-ico-circle(map.get(var.$unit, 36), $ic-w: map.get(var.$unit, 20));
        @include mx.position(absolute, fn.rem(2) * -1);
        @include mx.flex(flex, row, center, center);
        z-index: var.$zindex-base-deafult;

        &:disabled {
          display: none;
        }

        &-prev {
          left: 0;
        }

        &-next {
          right: 0;
        }
      }

      .chip-scroller {
        overflow: auto hidden;
        -webkit-overflow-scrolling: touch;

        /* 스크롤바 숨김 */
        scrollbar-width: none; // firefox
        &::-webkit-scrollbar {
          display: none;
        } // chrome/safari
      }

      &::before,
      &::after {
        position: absolute;
        top: 0;
        width: fn.rem(90);
        height: 100%;
        pointer-events: none;
        content: '';
      }

      &::before {
        left: 0;
        background: #fff;
        background: linear-gradient(
          90deg,
          rgb(255 255 255 / 100%) 0%,
          rgb(255 255 255 / 80%) 20%,
          rgb(255 255 255 / 0%) 70%
        );
      }

      &::after {
        right: 0;
        background: #2a7b9b;
        background: linear-gradient(
          90deg,
          rgb(255 255 255 / 0%) 0%,
          rgb(255 255 255 / 50%) 50%,
          rgb(255 255 255 / 100%) 100%
        );
      }

      &:has(.chip-nav-prev:disabled),
      &:has(.chip-nav-prev.is-hidden) {
        &::before {
          background: transparent;
        }
      }

      &:has(.chip-nav-next:disabled),
      &:has(.chip-nav-prev.is-hidden) {
        &::after {
          background: transparent;
        }
      }
    }

    &-head {
      @include mx.flex(flex, row, space-between, flex-start);
      gap: map.get(var.$unit, 4);

      & + .vits-plp-titlebar-chips {
        margin-top: map.get(var.$unit, 8);
      }
    }

    &-related {
      @include mx.flex(flex, row, flex-start, flex-start);
      gap: map.get(var.$unit, 24);

      .related {
        &-title {
          @include typo.typography('b2s', $color: map.get(color.$text-colors, 'tertiary'));
          flex-shrink: 0;
        }

        &-list {
          @include mx.flex(flex, row, flex-start, flex-start, wrap);
          flex-grow: 1;
          gap: map.get(var.$unit, 12);
          min-width: 0;
        }

        &-button {
          @include button.btn-reset;
          @include typo.typography('b3r', $color: map.get(color.$text-status, 'brand-sub'));
        }
      }
    }
  }

  // 왼쪽메뉴
  &-side {
    @include mx.border('right', $color: map.get(color.$layout-border, 'quaternary'));
    flex-shrink: 0;
  }

  // 오른쪽 컨텐츠
  &-main {
    .result {
      &-bar {
        @include mx.flex(flex, row, flex-start, flex-start);
        gap: map.get(var.$unit, 24);

        &:has(> :not(.is-hidden)) {
          margin-bottom: map.get(var.$unit, 24);
        }
      }

      &-clear-button {
        @include button.btn-reset;
        @include mx.border('bottom', $color: map.get(color.$layout-surf, 'secondary'));
        @include typo.typography('b2r', $color: map.get(color.$text-colors, 'tertiary'));
        flex: 1 1 auto;
        min-width: 0;
        height: map.get(var.$unit, 24);
        margin-top: map.get(var.$unit, 4);
        white-space: nowrap;
      }
    }
  }
}

/* 상품 목록 */
.vits-list-controls {
  @include mx.flex(flex, row, flex-start, center);
  gap: map.get(var.$unit, 12);

  .list {
    &-count {
      .total {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'seconday'));

        b {
          font-weight: 700;
        }
      }

      .id {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
      }
    }

    &-size {
      .vits-select {
        min-width: fn.rem(114);
        height: map.get(var.$unit, 20);

        &-trigger {
          width: 100%;
          height: 100%;
          box-shadow: none;
        }
      }
    }

    &-sort {
      margin-left: auto;
    }

    &-view {
      .view-button {
        @include button.btn-reset;
        width: map.get(var.$unit, 32);
        height: map.get(var.$unit, 32);
        color: map.get(color.$icon-neutral, 'primary');
        border-radius: map.get(var.$radius, 'sm');
        box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'tertiary');
        transition: box-shadow 0.3s;

        &.view-list .ic,
        &.view-thumb .ic {
          display: block;
          width: 100%;
          height: 100%;
          background-color: currentcolor;
          mask: no-repeat center / contain;
        }

        &.view-list .ic {
          mask-image: url('/public/resources/img/mro/renewal/ic/ic-list.svg');
        }

        &.view-thumb .ic {
          mask-image: url('/public/resources/img/mro/renewal/ic/ic-circles-four.svg');
        }

        @include mx.common-mouse-event {
          box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'primary');
        }
      }
    }
  }
}
