// -----------------------------------------------------------------------------
// pages/_category.scss
// - 카테고리 팝업 및 대/중/소 카테고리 기준 상품 목록(PLP) 페이지 스타일 정의.
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

@mixin view-button-style {
  @include button.btn-reset;
  width: map.get(var.$unit, 32);
  height: map.get(var.$unit, 32);
  color: map.get(color.$icon-neutral, 'primary');
  border-radius: map.get(var.$radius, 'sm');
  box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'tertiary');
  transition: box-shadow 0.3s;

  &.view-list .ic,
  &.view-thumb .ic {
    display: block;
    width: 100%;
    height: 100%;
    background-color: currentcolor;
    mask: no-repeat center / contain;
  }

  &.view-list .ic {
    mask-image: url('/public/resources/img/mro/renewal/ic/ic-list.svg');
  }

  &.view-thumb .ic {
    mask-image: url('/public/resources/img/mro/renewal/ic/ic-circles-four.svg');
  }

  @include mx.common-mouse-event {
    box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'primary');
  }
}

/* 대/중/소 카테고리 상품 목록 */

// 왼쪽메뉴
.vits-side-plp {
  @include mx.border('right', $color: map.get(color.$layout-border, 'quaternary'));
  flex-shrink: 0;
}

// 오른쪽 컨텐츠
.vits-main-plp {
  .result {
    &-bar {
      @include mx.flex(flex, row, flex-start, flex-start);
      gap: map.get(var.$unit, 24);

      &:has(> :not(.is-hidden)) {
        margin-bottom: map.get(var.$unit, 24);
      }
    }

    &-clear-button {
      @include button.btn-reset;
      @include mx.border('bottom', $color: map.get(color.$layout-surf, 'secondary'));
      @include typo.typography('b2r', $color: map.get(color.$text-colors, 'tertiary'));
      flex: 1 1 auto;
      min-width: 0;
      height: map.get(var.$unit, 24);
      margin-top: map.get(var.$unit, 4);
      white-space: nowrap;
    }
  }
}

.vits-plp {
  // 상단 영역
  &-titlebar {
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 20);
    width: 100%;
    padding: map.get(var.$unit, 24) 0;

    &::after {
      display: block;
      width: 100%;
      height: 1px;
      margin-top: map.get(var.$unit, 4);
      content: '';
      background: map.get(color.$layout-border, 'quaternary');
    }

    &-heading {
      @include typo.typography('h1b', $color: #101828);
      @include mx.ellipsis-single;
      flex-grow: 1;
      min-width: 0;
      margin-top: fn.rem(6);
    }

    &-research {
      flex-shrink: 0;
      width: fn.rem(306);
    }

    &-chips {
      position: relative;

      .chip-nav {
        @include button.btn-ico-circle(map.get(var.$unit, 36), $ic-w: map.get(var.$unit, 20));
        @include mx.position(absolute, fn.rem(2) * -1);
        @include mx.flex(flex, row, center, center);
        z-index: var.$zindex-base-deafult;

        &:disabled {
          display: none;
        }

        &-prev {
          left: 0;
        }

        &-next {
          right: 0;
        }
      }

      .chip-scroller {
        overflow: auto hidden;
        -webkit-overflow-scrolling: touch;

        /* 스크롤바 숨김 */
        scrollbar-width: none; // firefox
        &::-webkit-scrollbar {
          display: none;
        } // chrome/safari
      }

      &::before,
      &::after {
        position: absolute;
        top: 0;
        width: fn.rem(90);
        height: 100%;
        pointer-events: none;
        content: '';
      }

      &::before {
        left: 0;
        background: #fff;
        background: linear-gradient(90deg, #fff 0%, rgb(255 255 255 / 0%) 100%);
      }

      &::after {
        right: 0;
        background: #fff;
        background: linear-gradient(-90deg, #fff 0%, rgb(255 255 255 / 0%) 100%);
      }

      &:has(.chip-nav-prev:disabled),
      &:has(.chip-nav-prev.is-hidden) {
        &::before {
          background: transparent;
        }
      }

      &:has(.chip-nav-next:disabled),
      &:has(.chip-nav-prev.is-hidden) {
        &::after {
          background: transparent;
        }
      }
    }

    &-head {
      @include mx.flex(flex, row, space-between, flex-start);
      gap: map.get(var.$unit, 4);

      & + .vits-plp-titlebar-chips {
        margin-top: map.get(var.$unit, 8);
      }
    }

    &-related {
      @include mx.flex(flex, row, flex-start, flex-start);
      gap: map.get(var.$unit, 24);

      .related {
        &-title {
          @include typo.typography('b2s', $color: map.get(color.$text-colors, 'tertiary'));
          flex-shrink: 0;
        }

        &-list {
          @include mx.flex(flex, row, flex-start, flex-start, wrap);
          flex-grow: 1;
          gap: map.get(var.$unit, 12);
          min-width: 0;
        }

        &-button {
          @include button.btn-reset;
          @include typo.typography('b3r', $color: map.get(color.$text-status, 'brand-sub'));
          display: block;
          margin-top: fn.rem(1);
        }
      }
    }
  }
}

/* 상품 목록 */
.vits-list-controls {
  @include mx.flex(flex, row, flex-start, center);
  gap: map.get(var.$unit, 12);

  .list {
    &-count {
      .total {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'seconday'));

        b {
          font-weight: 700;
        }
      }

      .id {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
      }
    }

    &-sort {
      margin-left: auto;
    }

    &-view {
      .view-button {
        @include view-button-style;
      }
    }
  }
}

/* 제품 비교하기 팝업 */
.vits-plp-compare {
  @include mx.border('top', $color: map.get(color.$layout-border, 'tertiary'));
  @include mx.border('bottom', $color: map.get(color.$layout-border, 'tertiary'));

  &-scroll {
    overflow: auto hidden;

    // 터치 스크롤 사용성
    -webkit-overflow-scrolling: touch;
  }

  &-table {
    // 비교 열이 많을 때 가로 스크롤이 생기도록 최소 너비 확보
    table-layout: fixed;
    border-collapse: collapse;

    tr {
      &:not(:last-child) {
        @include mx.border('bottom', $color: map.get(color.$layout-surf, 'sunken'));
      }

      &:last-child {
        th,
        td {
          padding-bottom: fn.rem(16);
        }
      }
    }
  }

  &-col-product {
    width: fn.rem(156);
  }

  &-th,
  &-td {
    @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
    padding: map.get(var.$unit, 12);
    text-align: left;
    word-break: break-word;

    &:not(:first-child, :last-child) {
      padding-right: map.get(var.$unit, 12);
    }

    &:nth-child(even) {
      background: #f9f9f9;
    }

    &.is-head {
      padding-right: 0;
      padding-bottom: map.get(var.$unit, 24);
      vertical-align: top;
    }

    &:not(.is-head) {
      vertical-align: middle;
    }
  }

  &-label {
    @include typo.typography('b3r');
    width: fn.rem(90);
    padding-right: 0;
    padding-left: map.get(var.$unit, 8);
    vertical-align: top;
  }

  &-product {
    position: relative;
    padding: 0 map.get(var.$unit, 8);
  }

  &-thumb {
    display: block;
    width: fn.rem(140);
    aspect-ratio: 1 / 1;
    background: map.get(color.$gray-shades, '30');
  }

  &-remove {
    @include button.btn-reset;
    @include mx.position(absolute, 4px, 12px);
    @include icon.ic-size(map.get(var.$unit, 20));
    color: map.get(color.$icon-neutral, 'primary');
    background: map.get(color.$layout-surf, 'sunken');
    border-radius: 50%;
    transition:
      color 0.3s,
      background 0.2s;

    @include mx.common-mouse-event {
      color: color.$color-white;
      background-color: map.get(color.$layout-surf, 'primary');
    }
  }

  &-info {
    @include mx.flex(flex, column, flex-start, flex-start);
    gap: map.get(var.$unit, 4);
    padding: map.get(var.$unit, 8);
  }

  &-brand {
    @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
  }

  &-name {
    @include typo.typography('b3s', $color: map.get(color.$text-colors, 'primary'));
  }

  &-meta {
    @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
  }

  &-price {
    @include mx.flex(flex, column, flex-start, flex-start);

    .price {
      &-onrigin {
        @include typo.typography('d3r', $color: map.get(color.$text-colors, 'muted'));
        text-decoration: line-through;
        text-decoration-line: line-through;
      }

      &-sale-row {
        @include mx.flex(flex, row, flex-start, flex-start);
        gap: map.get(var.$unit, 4);
      }

      &-rate {
        @include typo.typography('b4s', $color: map.get(color.$text-status, 'brand'));
      }

      &-sale {
        @include typo.typography('b4s', $color: map.get(color.$text-colors, 'primary'));
      }
    }
  }
}
