// -----------------------------------------------------------------------------
// pages/_mypage.scss
// - 마이페이지 전용 스타일 모듈 모음
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;
@use '@/assets/scss/layout/list' as list;
@use '@/assets/scss/pages/category' as category;

@mixin records-box-type-detail {
  @at-root .vits-mypage-records-box.type-detail & {
    @content;
  }
}

@mixin records-box-type-detail02 {
  @at-root .vits-mypage-records-box.type-detail02 & {
    @content;
  }
}

@mixin roundbox-white($variant: 'single', $custom: 'base') {
  background: color.$color-white;
  border-radius: map.get(var.$radius, 'lg');

  @if $variant == 'single' {
    padding: map.get(var.$unit, 32);
  }
  // stylelint-disable-next-line at-rule-empty-line-before
  @else if $variant == 'section' {
    [data-scss='head'],
    [data-scss='foot'] {
      padding: 0 map.get(var.$unit, 32);
    }

    [data-scss='body'] {
      @if $custom == 'base' {
        padding: map.get(var.$unit, 32);
      }
      // stylelint-disable-next-line at-rule-empty-line-before
      @else if $custom == 'detail' {
        padding: map.get(var.$unit, 36) map.get(var.$unit, 32);
      }

      @include records-box-type-detail {
        padding-top: map.get(var.$unit, 36);
        padding-bottom: map.get(var.$unit, 36);
      }

      @include records-box-type-detail02 {
        padding-top: map.get(var.$unit, 36);
        padding-bottom: map.get(var.$unit, 36);
      }
    }
  }
}

@mixin mypage-product-common {
  .product {
    &-thumb {
      @include mx.common-list-thumb;
    }

    &-identity {
      @include mx.flex(flex, row, flex-start, flex-start);
      gap: map.get(var.$unit, 8);
    }

    &-code {
      @include mx.flex(flex, row, center, center);
      @include mx.border('all', $color: map.get(color.$layout-border, 'tertiary'));
      @include typo.typography('b5r', $color: map.get(color.$text-colors, 'tertiary'));
      flex-shrink: 0;
      height: map.get(var.$unit, 16);
      padding: 0 map.get(var.$unit, 4);
      margin-top: 1px;
      background: color.$color-white;
    }

    &-title {
      @include mx.ellipsis-multi(1.4, 2);
    }

    &-brand {
      @include typo.typography('b3s', $color: map.get(color.$text-colors, 'tertiary'));
    }

    &-name {
      @include typo.typography('b3s', $color: map.get(color.$text-colors, 'primary'));
    }

    &-spec,
    &-tax,
    &-qty {
      @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
    }

    &-stock {
      @at-root {
        dl.product-stock {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

@mixin mypage-credit-common {
  width: 100%;

  [class*='credit-'][class*='-head'] {
    @include mx.flex(flex, row, flex-start, center);
    @include mx.border('bottom', $color: map.get(color.$layout-border, 'quinary'));
    height: fn.rem(60);

    .credit-title {
      @include typo.typography('h3b', $color: map.get(color.$text-colors, 'secondary'));
    }
  }
}

.vits-grid-main-content {
  &[class*='main-content-my-'] {
    @include mx.flex(flex, column, flex-start, flex-start);
    gap: map.get(var.$unit, 24);
  }

  .vits-mypage-content-notice {
    padding: map.get(var.$unit, 16) map.get(var.$unit, 32);
    background: map.get(color.$layout-surf, 'base');
    border-radius: map.get(var.$radius, 'lg');

    .notice-list {
      @include mx.bullet-style(10, 7, 2, 2, map.get(color.$layout-surf, 'secondary'));

      > li {
        @include typo.typography('b4r');
      }
    }
  }

  &.main-content-my-favorites {
    align-items: stretch;

    .vits-mypage-panel {
      flex-grow: 1;

      .vits-mypage-records-box.type-empty {
        min-height: 100%;
      }
    }
  }
}

.vits-mypage {
  &-content {
    &-headline {
      @include mx.flex(flex, row, flex-start, flex-end);
      gap: map.get(var.$unit, 12);
      width: 100%;

      &:has(.vits-mypage-content-order) {
        min-height: map.get(var.$unit, 32);
      }
    }

    &-back {
      @include mx.flex;

      .vits-mypage-content-title {
        @include mx.flex(flex, row, flex-start, center);
        gap: map.get(var.$unit, 8);
      }
    }

    &-title {
      @include typo.typography('h2b', $color: #101828);

      .icon {
        @include icon.ic-size(map.get(var.$unit, 24));
        color: map.get(color.$icon-neutral, 'secondary');
      }
    }

    &-desc {
      @include typo.typography('b3r', $color: #4a5565);
    }

    &-order {
      @include mx.flex(flex, row, flex-start, center);
      gap: map.get(var.$unit, 8);
      align-self: center;
      margin-left: auto;

      .order-title {
        @include typo.typography('h3s', $color: map.get(color.$text-colors, 'tertiary'));
      }

      .order-number {
        @include typo.typography('h3b', $color: map.get(color.$text-colors, 'secondary'));
      }
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &-panel {
    @include mx.flex(flex, column, flex-start, flex-start);
    gap: map.get(var.$unit, 32);
    width: 100%;

    &-actions {
      @include mx.flex(flex, row, flex-end, center);
      width: 100%;
    }
  }

  &-pagination {
    @include mx.flex(flex, row, center, center);
    width: 100%;
  }

  &-query {
    @include roundbox-white;
    @include mx.flex(flex, row, flex-start, center);
    gap: map.get(var.$unit, 8);
    width: 100%;

    .mypage-query {
      &-period {
        @include mx.flex(flex, row, flex-start, center, wrap);
        gap: map.get(var.$unit, 8);
        padding: 0;
        margin: 0;

        &-range {
          width: fn.rem(210);
        }

        &-buttons {
          @include mx.flex(flex, row, flex-start, center);
          @include mx.border('all', $color: map.get(color.$layout-border, 'tertiary'));
          height: map.get(var.$unit, 32);
          overflow: hidden;
          border-radius: map.get(var.$radius, 'sm');
        }
      }

      &-label {
        @include typo.typography('b3s', $color: map.get(color.$text-colors, 'primary'));
        padding-right: map.get(var.$unit, 4);
      }

      &-btn {
        @include button.btn-reset;
        @include mx.flex(flex, row, center, center);
        position: relative;
        height: 100%;
        padding: 0 map.get(var.$unit, 16);
        background: color.$color-white;

        .text {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
          position: relative;
          z-index: var.$zindex-base;
        }

        &::after {
          @include mx.position(absolute, 0, 0, 0, 0);
          pointer-events: none;
          content: '';
          background: transparent;
        }

        &:not(:first-of-type)::before {
          @include mx.position(absolute, $top: 50%, $left: 0);
          width: 1px;
          height: 12px;
          content: '';
          background-color: map.get(color.$layout-surf, 'secondary');
          transform: translateY(-50%);
        }

        &[aria-pressed='true'] {
          .text {
            color: color.$color-white;
          }

          &::after {
            background: map.get(color.$layout-surf, 'primary');
          }
        }
      }

      &-toggle {
        @include button.btn-reset;
        @include mx.flex(flex, row, flex-start, flex-start);
        position: relative;
        flex-shrink: 0;
        gap: map.get(var.$unit, 8);
        height: fn.rem(21);

        .icon {
          @include icon.ic-size(map.get(var.$unit, 16));
          margin-top: 1px;
          color: map.get(color.$icon-neutral, 'tertiary');
          transition: color 0.25s;
        }

        /* stylelint-disable-next-line no-descending-specificity */
        .text {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
          transition: color 0.25s;
        }

        &::before,
        &::after {
          @include mx.position(absolute, $bottom: 0, $left: 0);
          height: 1px;
          content: '';
          transition: width 0.5s;
        }

        &::before {
          z-index: var.$zindex-base;
          width: 100%;
          background: map.get(color.$layout-surf, 'secondary');
        }

        &::after {
          z-index: var.$zindex-base + 1;
          width: 0;
          background: map.get(color.$layout-surf, 'dark');
        }

        &[aria-expanded='true'] {
          .icon {
            color: map.get(color.$icon-neutral, 'primary');
          }

          .text {
            color: map.get(color.$text-colors, 'primary');
          }

          &::after {
            width: 100%;
          }
        }
      }

      &-actions {
        @include mx.flex(flex, row, space-between, center);
        gap: map.get(var.$unit, 16);
        margin-left: auto;
      }

      &-detail {
        @include mx.flex(flex, row, flex-start, center, wrap);
        gap: map.get(var.$unit, 8) map.get(var.$unit, 32);
        margin: map.get(var.$unit, 8) 0 0;

        > li {
          @include mx.flex(flex, row, flex-start, center);
          gap: map.get(var.$unit, 12);
        }
      }

      &-control {
        &.type-select {
          width: fn.rem(120);
        }

        &.type-search {
          width: fn.rem(200);
          padding-right: map.get(var.$unit, 12);
        }

        &.type-select,
        &.type-search {
          .vits-select,
          .vits-select-trigger {
            width: 100%;
          }

          .vits-select-trigger {
            justify-content: space-between;
          }
        }
      }
    }

    &.type-ver2 {
      .mypage-query-control.type-search {
        width: fn.rem(286);
        padding-right: 0;
      }
    }
  }

  &-records {
    @include roundbox-white('section');
    width: 100%;
    box-shadow: map.get(var.$box-shadow, 'elevation_1');

    &-box {
      @include mx.flex(flex, column, flex-start, flex-start);
      gap: map.get(var.$unit, 40);
      width: 100%;

      /* stylelint-disable-next-line no-descending-specificity */
      &.type-empty {
        @include roundbox-white;
        @include mx.flex(flex, row, center, center);
        width: 100%;
        min-height: fn.rem(358);
      }
    }

    &-list {
      @include mx.flex(flex, column, flex-start, flex-start);
      gap: map.get(var.$unit, 32);
      width: 100%;
    }

    .mypage-record {
      &-head {
        @include mx.flex(flex, row, space-between, center, wrap);
        @include mx.border('bottom', $color: map.get(color.$layout-border, 'quinary'));
        height: fn.rem(60);

        @include records-box-type-detail {
          height: fn.rem(68);
        }
      }

      &-meta {
        @include mx.flex(flex, row, space-between, flex-end);
        gap: map.get(var.$unit, 16);
      }

      &-date {
        @include typo.typography('h3b', $color: map.get(color.$text-colors, 'secondary'));
      }

      &-number {
        &,
        a {
          @include typo.typography('b3s', $color: map.get(color.$text-colors, 'tertiary'));
          display: block;
        }
      }

      &-actions {
        @include mx.flex(flex, row, flex-start, center);
        @include mx.divider('li', 1, 12, 20, map.get(color.$layout-status, 'info-bg-default'));
      }

      &-lines {
        @include mx.flex(flex, column, flex-start, stretch);
        gap: map.get(var.$unit, 32);
      }

      &-line {
        @include mypage-product-common;
        @include mx.flex(flex, row, flex-start, stretch);
        gap: map.get(var.$unit, 20);
        width: 100%;

        .product {
          &-subinfo {
            @include mx.flex(flex, column, flex-start, flex-start);
            gap: map.get(var.$unit, 2);
          }

          &-price {
            @include typo.typography('b2s', $color: map.get(color.$neutral-colors, '1'));
          }
        }
      }

      &-thumb {
        @include mx.flex(flex, row, center, center);
        flex: 0 0 fn.rem(80);
      }

      &-info {
        @include mx.flex(flex, column, center, flex-start);
        flex: 1 1 auto;
        gap: map.get(var.$unit, 8);
        min-width: 0;
      }

      &-status {
        @include mx.flex(flex, row, center, center);
        position: relative;
        box-sizing: content-box;
        flex: 0 0 fn.rem(120);
        padding: 0 map.get(var.$unit, 20);

        &::before,
        &::after {
          @include mx.position(absolute, 0);
          width: 1px;
          height: 100%;
          content: '';
          background: map.get(color.$layout-surf, 'sunken');
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }
      }

      &-pay {
        @include mx.flex(flex, column, center, flex-end);
        flex: 0 0 fn.rem(248);
        gap: map.get(var.$unit, 12);
      }

      &-tools {
        @include mx.flex(flex, row, flex-start, flex-end);
        gap: map.get(var.$unit, 12);
      }

      &-foot {
        @include mx.flex(flex, row, flex-end, center);
        @include mx.border('top', $color: map.get(color.$layout-border, 'quinary'));
        height: fn.rem(60);
      }

      &-cart {
        margin-right: auto;
      }

      &-total {
        @include mx.flex(flex, row, flex-start, flex-end);
        gap: map.get(var.$unit, 12);

        &-label {
          @include typo.typography('b3s', $color: map.get(color.$text-colors, 'tertiary'));
        }

        &-value {
          @include typo.typography('h3b', $color: map.get(color.$text-colors, 'primary'));
        }
      }
    }
  }

  &-detail {
    @include roundbox-white('section', 'detail');
    width: 100%;
    box-shadow: map.get(var.$box-shadow, 'elevation_1');

    .mypage-detail {
      &-head {
        @include mx.flex(flex, row, flex-start, center);
        @include mx.border('bottom', $color: map.get(color.$layout-border, 'quinary'));
        height: fn.rem(60);
      }

      &-title {
        @include typo.typography('h3b', $color: map.get(color.$text-colors, 'secondary'));
      }

      &-actions {
        margin-left: auto;
      }

      &-foot {
        @include mx.flex(flex, row, flex-end, center);
        @include mx.border('top', $color: map.get(color.$layout-border, 'quinary'));
        height: fn.rem(60);
      }

      // 배송정보
      &-shipping {
        .shipping {
          &-list {
            @include mx.flex(flex, row, flex-start, flex-start);
            gap: map.get(var.$unit, 16);
          }

          &-item {
            &:only-of-type {
              width: 100%;
              background: color.$color-white;
            }

            &:not(:only-of-type) {
              @include mx.border('all', $color: map.get(color.$layout-border, 'quaternary'));
              flex: 0 0 calc((100% - map.get(var.$unit, 16)) / 2);
              padding: map.get(var.$unit, 16);
              background: map.get(color.$layout-surf, 'raised');
              border-radius: map.get(var.$radius, 'md');
            }
          }

          &-info {
            @include mx.flex(flex, row, flex-start, flex-start, wrap);
            gap: map.get(var.$unit, 16) fn.rem(10);

            dt {
              @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
              width: fn.rem(80);
            }

            dd {
              @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
              width: calc(100% - fn.rem(90));
            }
          }
        }
      }

      // 결제정보
      &-payment {
        .payment {
          &-list {
            @include mx.flex(flex, row, flex-start, flex-start);
            gap: map.get(var.$unit, 40);
          }

          &-info {
            @include mx.flex(flex, row, flex-start, flex-start, wrap);
            gap: map.get(var.$unit, 16) fn.rem(12);

            dt {
              @include typo.typography('b3r');
              width: fn.rem(120);
              padding-top: fn.rem(2.5);
            }

            dd {
              width: calc(100% - fn.rem(132));
            }
          }

          &-item {
            flex: 0 0 calc((100% - map.get(var.$unit, 40)) / 2);

            &.type-method {
              dd {
                @include mx.flex(flex, column, flex-start, flex-start);
                gap: map.get(var.$unit, 12);
              }
            }

            &.type-amount {
              dd {
                text-align: right;

                &:not(.is-minus) {
                  @include typo.typography('h4s', $color: map.get(color.$text-colors, 'primary'));
                }

                &.is-minus {
                  @include typo.typography('h4s', $color: map.get(color.$text-status, 'brand-sub'));
                }
              }
            }
          }

          &-method {
            @include typo.typography('h4s', $color: map.get(color.$text-colors, 'primary'));

            &-detail {
              @include mx.flex(flex, row, flex-start, center, wrap);
              gap: map.get(var.$unit, 16);

              &-text {
                @include typo.typography('b2m', $color: map.get(color.$text-status, 'info'));
              }
            }
          }
        }

        &-total {
          @include mx.flex(flex, row, flex-start, flex-end);
          gap: map.get(var.$unit, 12);

          .payment-total {
            &-label {
              @include typo.typography('b3s', $color: map.get(color.$text-colors, 'tertiary'));
            }

            &-value {
              @include typo.typography('h3b', $color: map.get(color.$text-colors, 'primary'));
            }
          }
        }
      }
    }
  }

  /* 반품/취소 */
  &-claim {
    &-section {
      @include mx.flex(flex, column, flex-start, flex-start);
      position: relative;
      gap: map.get(var.$unit, 32);
    }

    &-box {
      @include roundbox-white('section');
      width: 100%;
      box-shadow: map.get(var.$box-shadow, 'elevation_1');

      .mypage-claim {
        &-head {
          @include mx.flex(flex, row, space-between, center, wrap);
          @include mx.border('bottom', $color: map.get(color.$layout-border, 'quinary'));
          height: fn.rem(60);
        }

        &-body {
          @include mx.flex(flex, column, flex-start, flex-start);
          gap: map.get(var.$unit, 16);
        }

        &-title {
          @include mx.flex(flex, row, flex-start, flex-start);
          gap: map.get(var.$unit, 12);

          .title-label {
            @include typo.typography('h3b', $color: map.get(color.$text-colors, 'secondary'));
          }

          .title-value {
            @include typo.typography('h3b', $color: map.get(color.$text-colors, 'tertiary'));
          }
        }

        &-info {
          @include mx.flex(flex, row, flex-start, flex-start, wrap);
          gap: map.get(var.$unit, 16) fn.rem(12);
          width: 100%;
          padding: 0;
          margin: 0;

          /* stylelint-disable-next-line no-descending-specificity */
          dt {
            @include typo.typography('b3r');
            width: fn.rem(120);

            &.text-accent {
              padding-top: fn.rem(2.5);
            }
          }

          /* stylelint-disable-next-line no-descending-specificity */
          dd {
            @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
            width: calc(100% - fn.rem(132));

            &.divider {
              @include mx.divider('span', $color: map.get(color.$layout-border, 'tertiary'));
              flex-wrap: wrap;
            }

            &.text-accent {
              font-size: fn.rem(18);
              font-weight: 600;
              color: map.get(color.$text-status, 'brand-sub');
            }
          }
        }

        &-lines {
          @include mx.flex(flex, column, flex-start, stretch);
          gap: map.get(var.$unit, 32);
        }

        &-line {
          @include mypage-product-common;
          @include mx.flex(flex, row, flex-start, stretch);
          gap: map.get(var.$unit, 20);
          width: 100%;

          .product {
            &-subinfo {
              @include mx.flex(flex, column, flex-start, flex-start);
              gap: map.get(var.$unit, 8);
            }

            &-price {
              @include typo.typography('b2s', $color: map.get(color.$neutral-colors, '1'));
            }
          }
        }

        &-thumb {
          @include mx.flex(flex, row, center, center);
          flex: 0 0 fn.rem(80);
        }

        &-product-info {
          @include mx.flex(flex, column, center, flex-start);
          flex: 1 1 auto;
          gap: map.get(var.$unit, 8);
          min-width: 0;

          .product-meta {
            @include mx.flex(flex, row, flex-start, flex-start);
            gap: map.get(var.$unit, 24);

            &-row {
              @include mx.flex(flex, row, flex-start, flex-start);
              gap: fn.rem(10);
            }

            &-label {
              @include typo.typography('b4s', $color: map.get(color.$text-colors, 'tertiary'));
            }

            &-value {
              @include typo.typography('b4s');

              &.text-accent {
                color: map.get(color.$text-status, 'brand-sub');
              }
            }
          }
        }

        &-status {
          @include mx.flex(flex, row, center, center);
          position: relative;
          box-sizing: content-box;
          flex: 0 0 fn.rem(120);
          padding: 0 map.get(var.$unit, 20);

          &::before,
          &::after {
            @include mx.position(absolute, 0);
            width: 1px;
            height: 100%;
            content: '';
            background: map.get(color.$layout-surf, 'sunken');
          }

          &::before {
            left: 0;
          }

          &::after {
            right: 0;
          }
        }

        &-pay {
          @include mx.flex(flex, column, center, flex-end);
          flex: 0 0 fn.rem(248);
          gap: map.get(var.$unit, 12);
        }

        &-tools {
          @include mx.flex(flex, row, flex-start, flex-end);
          gap: map.get(var.$unit, 12);
        }

        &-attachment {
          &-list {
            @include mx.flex(flex, row, flex-start, flex-start, wrap);
            gap: map.get(var.$unit, 8);

            > li {
              width: fn.rem(52);
              aspect-ratio: 1 / 1;
            }
          }

          &-button {
            @include mx.border('all', $color: map.get(color.$layout-border, 'quaternary'));
            @include mx.common-list-thumb(map.get(color.$layout-surf, 'base'));
            display: block;
            width: 100%;
            height: 100%;
            padding: fn.rem(6);
            border-radius: map.get(var.$radius, 'sm');
          }
        }
      }
    }
  }

  // 후불 관리
  &-credit-manage,
  &-credit-process {
    .credit-sign {
      &-items {
        @include mx.flex(flex, column, flex-start, flex-start);
        gap: map.get(var.$unit, 16);
        width: 100%;
        padding: map.get(var.$unit, 32);
        background: map.get(color.$layout-surf, 'raised');
        border-radius: map.get(var.$radius, 'lg');
      }

      &-item {
        width: 100%;

        &-inner {
          @include mx.flex(flex, row, space-between, center);
          @include mx.border('all', $color: map.get(color.$layout-border, 'quinary'));
          padding: map.get(var.$unit, 16);
          background: map.get(color.$layout-surf, 'base');
          border-radius: map.get(var.$radius, 'md');
        }
      }

      &-info {
        @include mx.flex(flex, column, flex-start, flex-start);
        gap: map.get(var.$unit, 4);
      }

      &-label {
        @include mx.flex(flex, row, flex-start, center);
        gap: map.get(var.$unit, 8);

        /* stylelint-disable-next-line no-descending-specificity */
        .icon {
          @include icon.ic-size(map.get(var.$unit, 20));
          color: map.get(color.$label-step, 'done');
        }

        .text {
          @include typo.typography('b2m', $color: map.get(color.$text-colors, 'secondary'));
        }

        // 필수
        .is-req {
          font-style: normal;
          color: map.get(color.$text-status, 'brand-sub');
        }

        // 선택
        .is-opt {
          font-style: normal;
          color: map.get(color.$text-colors, 'tertiary');
        }
      }

      &-desc {
        @include typo.typography('b5r', $color: map.get(color.$text-status, 'brand-sub'));
        position: relative;
        padding-left: fn.rem(6);

        &::before {
          @include mx.position(absolute, fn.rem(5), $left: 0);
          width: map.get(var.$unit, 2);
          height: map.get(var.$unit, 2);
          content: '';
          background: map.get(color.$label-step, 'processing');
          border-radius: 50%;
        }
      }

      &-actions {
        @include mx.flex(flex, row, flex-start, center);
        gap: map.get(var.$unit, 12);

        .vits-btn-sm {
          width: fn.rem(140);
        }
      }

      &-notice {
        width: 100%;
      }
    }
  }

  &-credit-manage {
    @include mx.flex(flex, column);
    @include mypage-credit-common;
    gap: map.get(var.$unit, 32);

    [class*='credit-'][class*='-body'] {
      .credit-title {
        @include typo.typography('b1s', $color: map.get(color.$text-colors, 'primary'));
        padding-bottom: map.get(var.$unit, 20);

        small {
          @include typo.typography('b4r', $color: map.get(color.$text-colors, 'primary'));
          padding-left: fn.rem(10);
        }

        &:not(:first-of-type) {
          margin-top: map.get(var.$unit, 32);
        }
      }
    }

    .credit-manage {
      &-usage {
        @include roundbox-white('section', 'detail');
      }

      &-sign {
        @include roundbox-white('section', 'detail');
      }
    }

    .credit-usage {
      &-items {
        @include mx.flex(flex, row, flex-start, stretch, wrap);
        gap: map.get(var.$unit, 12);
      }

      &-item {
        flex: 0 0 calc((100% - map.get(var.$unit, 12)) / 2);

        &-inner {
          @include mx.flex(flex, column);
          gap: map.get(var.$unit, 8);
          height: 100%;
          padding: map.get(var.$unit, 36) map.get(var.$unit, 40);
          background: map.get(color.$layout-surf, 'raised');
          border-radius: map.get(var.$radius, 'md');
        }
      }

      &-detail {
        @include mx.flex(flex, row, flex-start, center, wrap);
        gap: map.get(var.$unit, 36);
      }

      &-label {
        @include typo.typography('b3s', $color: map.get(color.$text-colors, 'tertiary'));
      }

      &-desc {
        @include mx.flex(flex, row, flex-start, center);
        gap: map.get(var.$unit, 12);
        padding: map.get(var.$unit, 4) map.get(var.$unit, 12);
        background: map.get(color.$layout-surf, 'sunken');
        border-radius: map.get(var.$radius, 'md');

        &-label {
          @include typo.typography('b3s', $color: map.get(color.$text-colors, 'tertiary'));
        }

        &-value {
          @include typo.typography('h4s', $color: map.get(color.$text-colors, 'tertiary'));
        }
      }

      &-value {
        @include typo.typography('h2b', $color: map.get(color.$text-colors, 'secondary'));

        &.value-blue {
          color: map.get(color.$text-status, 'info-sub');
        }

        &.value-red {
          color: map.get(color.$text-status, 'brand-sub');
        }
      }

      &-account {
        @include mx.flex(flex, row, flex-start, flex-start);
        gap: map.get(var.$unit, 12);
      }

      &-bank {
        @include typo.typography('h4s');
      }

      &-number {
        @include typo.typography('h4s', $color: map.get(color.$text-status, 'info-sub'));
      }

      &-info {
        @include list.form-dl-cst(120, 0, 0, 12, 16, 'b3r', map.get(color.$text-colors, 'default'));

        dt {
          &:has(+ dd .credit-usage-account) {
            padding-top: fn.rem(2.5);
          }
        }

        dd {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
        }

        &-box {
          @include mx.flex(flex, row, space-between, center);
        }
      }
    }

    .credit-sign-body {
      @include mx.flex(flex, column, flex-start, flex-start);
      gap: map.get(var.$unit, 16);
    }
  }

  &-credit-process {
    @include mypage-credit-common;

    .credit-apply-process {
      @include roundbox-white('section', 'detail');
    }
  }
}

/* 후불관리 - 후불 신청 프로세스 */
.vits-step-tab {
  @include mx.flex(flex, column, flex-start, center);
  position: relative;
  gap: map.get(var.$unit, 32);

  &-header {
    @include mx.flex(flex, row, center, center);
  }

  &-item {
    @include mx.flex(flex, row, flex-start, center);

    .step-tab {
      &-inner {
        @include mx.flex(flex, column, flex-start, center);
        gap: map.get(var.$unit, 8);
      }

      &-number {
        @include mx.flex(flex, row, center, center);
        @include typo.typography('b4s', $color: color.$color-white);
        width: map.get(var.$unit, 56);
        height: map.get(var.$unit, 20);
        text-transform: uppercase;
        background: map.get(color.$label-step, 'pending');
        border-radius: map.get(var.$radius, 'md');
      }

      &-label {
        @include typo.typography('b3s', $color: map.get(color.$text-colors, 'tertiary'));
      }
    }

    // 완료
    &.is-done {
      .step-tab {
        &-number {
          background: map.get(color.$label-step, 'confirmation');
        }
      }
    }

    // 진행중
    &.is-active {
      &:not([data-step-tab='4']) {
        .step-tab {
          &-number {
            background: map.get(color.$label-step, 'processing');
          }

          &-label {
            color: map.get(color.$text-colors, 'primary');
          }
        }
      }

      &[data-step-tab='4'] {
        .step-tab {
          &-number {
            background: map.get(color.$label-step, 'done');
          }

          &-label {
            color: map.get(color.$text-status, 'success-sub');
          }
        }
      }

      &:not(:last-of-type)::after {
        color: map.get(color.$icon-neutral, 'primary');
      }
    }

    @include icon.pse-icon(after, 16, 0, 24, map.get(color.$icon-neutral, 'disabled'), 'arrow-right', ':last-of-type');
  }

  &-content {
    height: 100%;
  }

  &-panels {
    @include mx.flex;
    width: 100%;
    min-height: fn.rem(480);
    background: map.get(color.$layout-surf, 'raised');
    border-radius: map.get(var.$radius, 'lg');
  }

  &-panel {
    display: none;
    flex: 1 1 auto;
    min-width: 0;

    .step-tab-status {
      @include mx.flex(flex, row, center, center);
      height: 100%;

      .vits-empty-state {
        gap: map.get(var.$unit, 20);

        &-content {
          gap: map.get(var.$unit, 20);
          text-align: center;
        }

        &-title {
          color: map.get(color.$text-colors, 'secondary');
        }

        [class*='vits-btn-'] .text {
          font-weight: 400;
        }
      }
    }

    &.is-active {
      display: block;
    }

    &[data-step-panel='1'] {
      .vits-step-tab-content {
        @include mx.flex(flex, column, center, center);
        gap: map.get(var.$unit, 40);

        .step-tab {
          &-main {
            @include mx.flex(flex, column, center, center);
            gap: map.get(var.$unit, 36);
            text-align: center;

            [class*='vits-btn-'] {
              width: fn.rem(180);
            }
          }

          &-desc {
            p {
              @include typo.typography('b3s', $color: #4a5565);

              & + p {
                margin-top: map.get(var.$unit, 4);
              }
            }
          }
        }
      }
    }

    &[data-step-panel='2'] {
      .vits-step-tab-content {
        @include mx.flex(flex, column, center, center);
        gap: map.get(var.$unit, 32);
        padding: map.get(var.$unit, 32);

        .step-tab {
          &-main {
            @include mx.flex(flex, column, center, center);
            gap: map.get(var.$unit, 12);
            text-align: center;

            [class*='vits-btn-'] {
              width: fn.rem(180);
            }
          }

          &-desc {
            p {
              @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));

              .desc-bold {
                font-weight: 600;
              }

              .desc-point {
                font-weight: 600;
                color: map.get(color.$text-status, 'brand-sub');
              }

              & + p {
                margin-top: map.get(var.$unit, 4);
              }
            }
          }

          &-guide {
            @include typo.typography('b2m');
            align-self: flex-start;
          }
        }

        .credit-sign-items {
          padding: 0;
          background: transparent;
          border-radius: 0;
        }
      }
    }
  }
}

/* 좋아요 */
.vits-mypage-favorites {
  position: relative;
  width: 100%;

  &-toolbar {
    @include mx.flex(flex, row, space-between, center);
    width: 100%;

    .toolbar {
      &-select {
        padding: 0 map.get(var.$unit, 32);
      }

      &-actions {
        @include mx.flex(flex, row, flex-start, center);
        gap: map.get(var.$unit, 12);
      }
    }
  }

  &-meta {
    @include mx.flex(flex, row, flex-start, center);
    gap: map.get(var.$unit, 12);

    .meta {
      &-count {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));

        b {
          padding: 0 map.get(var.$unit, 2) 0 map.get(var.$unit, 4);
          font-weight: 700;
        }
      }

      &-sort {
        margin-left: auto;
      }

      &-view {
        .view-button {
          @include category.view-button-style;
        }
      }
    }

    // 좋아요
    &.type-like {
      padding: 0 map.get(var.$unit, 32);
    }
  }

  &-pagination {
    @include mx.flex(flex, row, center, center);
  }

  &.type-product-list {
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 24);

    .favorites-product-list {
      &-box {
        @include mx.flex(flex, column);
        gap: map.get(var.$unit, 40);
        padding: map.get(var.$unit, 32);
        background: map.get(color.$layout-surf, 'base');
        border-radius: map.get(var.$radius, 'lg');
      }
    }
  }

  &.type-folder-list {
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 20);

    .favorites-folder-list {
      @include mx.flex(flex, column);
      gap: map.get(var.$unit, 12);

      &-box {
        @include mx.flex(flex, column);
        gap: map.get(var.$unit, 40);
      }
    }
  }
}

// 좋아요 폴더 리스트
.vits-favorites-folder-item {
  .folder {
    &-label {
      @include mx.flex(flex, row, flex-start, center);
      position: relative;
      gap: map.get(var.$unit, 20);
      height: fn.rem(92);
      padding: map.get(var.$unit, 24) map.get(var.$unit, 32);
      cursor: pointer;
      user-select: none;
      background: map.get(color.$layout-surf, 'base');
      border-radius: map.get(var.$radius, 'lg');
      transition: box-shadow 0.25s;

      > input {
        @include mx.sr-only;
      }
    }

    &-icon {
      @include mx.border('all', $color: map.get(color.$layout-border, 'tertiary'));
      flex-shrink: 0;
      width: map.get(var.$unit, 20);
      height: map.get(var.$unit, 20);
      background: map.get(color.$layout-surf, 'base');
      border-radius: map.get(var.$radius, 'sm');
    }

    &-content {
      @include mx.flex(flex, column);
      flex: 1 1 auto;
      gap: map.get(var.$unit, 4);
      min-width: 0;

      .content {
        &-title {
          @include mx.flex;
          gap: map.get(var.$unit, 12);

          .title-name {
            @include typo.typography('b1s');
            @include mx.ellipsis-single;
            min-width: 0;
          }

          .title-count {
            @include typo.typography('b1s', $color: map.get(color.$text-status, 'info-soft'));
            flex-shrink: 0;
          }
        }

        &-desc {
          @include typo.typography('b4s', $color: map.get(color.$text-colors, 'tertiary'));
          @include mx.ellipsis-single;
          min-width: 0;
        }
      }
    }

    &-date {
      @include typo.typography('b3s');
      flex-shrink: 0;
      margin-left: auto;
    }
  }

  &:has(input:checked) {
    .folder-icon {
      @include mx.background('ic/ic-check-on.svg', map.get(color.$layout-surf, 'brand'));
      border-color: map.get(color.$layout-surf, 'brand');
    }
  }

  @include mx.common-mouse-event {
    .folder-label {
      box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'primary');
    }
  }
}

/* empty state - nodata */
.vits-empty-state {
  @include mx.flex(flex, column, center, center);
  gap: map.get(var.$unit, 32);

  &-content {
    @include mx.flex(flex, column-reverse, center, center);
    gap: map.get(var.$unit, 32);
  }

  &-text {
    @include mx.flex(flex, column, center, center);
    gap: map.get(var.$unit, 8);
  }

  &-title {
    @include typo.typography('h4s', $color: map.get(color.$text-colors, 'secondary'));
  }

  &-desc {
    @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
  }

  &-icon {
    @include icon.ic-size(fn.rem(82));
    overflow: hidden;
    background: #d9d9d9;
    border-radius: 50%;
  }
}

/* 팝업 */
// 미발송 내역
.vits-unshipped {
  @include mx.flex(flex, column);
  gap: map.get(var.$unit, 12);

  &-product {
    @include mypage-product-common;
    @include mx.flex(flex, row, flex-start, center);
    @include mx.border('all', $color: map.get(color.$layout-border, 'quaternary'));
    gap: map.get(var.$unit, 20);
    order: 1;
    padding: map.get(var.$unit, 12) map.get(var.$unit, 8);
    margin-bottom: map.get(var.$unit, 20);
    border-radius: map.get(var.$radius, 'md');

    .product {
      &-stock {
        @include mx.flex;
        gap: fn.rem(10);
        margin-top: map.get(var.$unit, 16);

        dt {
          @include typo.typography('b4s', $color: map.get(color.$text-colors, 'tertiary'));
        }

        /* stylelint-disable-next-line no-descending-specificity */
        dd:not(:last-of-type) {
          margin-right: fn.rem(14);
        }

        &-status {
          @include typo.typography('b4s', $color: map.get(color.$text-status, 'info'));
        }

        &-date {
          @include typo.typography('b4s', $color: map.get(color.$text-colors, 'default'));
        }
      }
    }
  }

  &-info {
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 8);
  }

  &-thumb {
    flex: 0 0 fn.rem(80);
  }

  &-title {
    @include typo.typography('b2s', $color: map.get(color.$text-colors, 'secondary'));
    order: 2;
  }

  &-text {
    @include typo.typography('b3s', $color: map.get(color.$text-colors, 'secondary'));
    order: 3;
    padding: map.get(var.$unit, 16) map.get(var.$unit, 24) map.get(var.$unit, 16) map.get(var.$unit, 16);
    background: map.get(color.$layout-surf, 'raised');
    border-radius: map.get(var.$radius, 'lg');
  }
}

// 배송지 목록
.vits-address-select {
  @include mx.flex(flex, column);
  position: relative;
  gap: map.get(var.$unit, 20);

  &-header {
    flex-shrink: 0;

    [class*='vits-btn-'] {
      width: 100%;
    }
  }

  &-body {
    flex: 1;
    min-height: 0;

    .address {
      &-list {
        @include mx.flex(flex, column);
        gap: map.get(var.$unit, 20);
      }

      &-card {
        @include mx.flex(flex, column, flex-start, flex-start);
        @include mx.border('all', $color: map.get(color.$layout-border, 'quaternary'));
        gap: map.get(var.$unit, 16);
        padding: map.get(var.$unit, 16);
        border-radius: map.get(var.$radius, 'md');

        > div[class*='address-card-'] {
          width: 100%;
        }

        &-header {
          @include mx.flex(flex, row, space-between, center);
          gap: map.get(var.$unit, 16);
        }

        &-title {
          @include mx.flex(flex, row, flex-start, center);
          gap: map.get(var.$unit, 16);
        }

        &-name {
          @include typo.typography('b2s', $color: map.get(color.$text-colors, 'primary'));
        }

        &-buttons {
          @include mx.flex(flex, row, flex-start, center);
          gap: map.get(var.$unit, 8);
        }

        &-info {
          @include mx.flex(flex, row, flex-start, flex-start, wrap);
          gap: map.get(var.$unit, 16) fn.rem(10);
          padding: 0;
          margin: 0;

          .info-dt {
            @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
            flex: 0 0 fn.rem(80);
            width: fn.rem(80);
          }

          .info-dd {
            @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
            flex: 0 0 calc(100% - fn.rem(80) - fn.rem(10));
            width: calc(100% - fn.rem(80) - fn.rem(10));
          }
        }

        &-footer {
          .address-card-radio {
            @include mx.flex(flex, row, center, center);
            position: relative;
            gap: map.get(var.$unit, 8);
            width: 100%;
            height: map.get(var.$unit, 36);
            cursor: pointer;
            background: map.get(color.$button-fill-secondary, 'fill-surf-secondary-disable');
            border-radius: map.get(var.$radius, 'md');

            input {
              @include mx.sr-only;
            }

            .icon {
              @include icon.ic-size(map.get(var.$unit, 20));
              color: map.get(color.$button-fill-secondary, 'fill-on_surf-secondary-disable');
            }

            .text {
              @include typo.typography(
                'b2s',
                $color: map.get(color.$button-fill-secondary, 'fill-on_surf-secondary-disable')
              );
            }

            &:has(input:checked) {
              background: map.get(color.$button-fill-secondary, 'fill-surf-secondary-default');

              .icon,
              .text {
                color: map.get(color.$button-fill-secondary, 'fill-on_surf-secondary-default');
              }
            }
          }
        }
      }
    }
  }
}

// 첨부파일
.vits-attachment-popup {
  @include mx.flex(flex, row, center, center);
  width: 100%;
  max-width: fn.rem(710);
  max-height: 65vh;
  overflow: hidden;

  img {
    display: block;
    max-width: 100%;
    max-height: 65vh;
    object-fit: contain;
    object-position: center;
  }
}

// 반품/취소 신청
.vits-claim-request {
  @include mx.flex(flex, column);
  position: relative;
  gap: map.get(var.$unit, 16);

  /* stylelint-disable no-descending-specificity */
  .vits-select,
  .vits-select-trigger {
    width: 100%;
  }

  .vits-select-list {
    width: 100%;
    transition: none;
  }
  /* stylelint-enable no-descending-specificity */

  &-header,
  &-footer {
    flex-shrink: 0;
  }

  &-body {
    flex-grow: 1;
    width: 100%;
    min-height: fn.rem(190);
    max-height: fn.rem(240);

    &:has(.vits-claim-request-chekbox) {
      @include mx.border('all', $color: map.get(color.$layout-border, 'quaternary'));
      padding: map.get(var.$unit, 16) map.get(var.$unit, 4) map.get(var.$unit, 16) map.get(var.$unit, 16) !important;
      margin-bottom: 0 !important;
      background: map.get(color.$layout-surf, 'mypage');
      border-radius: map.get(var.$radius, 'lg');
    }
  }

  &-header {
    padding: map.get(var.$unit, 16) map.get(var.$unit, 24) map.get(var.$unit, 16) map.get(var.$unit, 16);
    background: map.get(color.$layout-surf, 'raised');
    border-radius: map.get(var.$radius, 'lg');
  }

  &-notice {
    @include mx.bullet-style(10, 7, 2, 2, map.get(color.$layout-surf, 'secondary'));

    > li {
      @include typo.typography('b4r');
    }
  }

  &-toolbar,
  &-footer {
    padding-top: map.get(var.$unit, 20);
  }

  &-title {
    @include typo.typography('b2s', $color: map.get(color.$text-colors, 'secondary'));
  }

  &-section {
    @include mx.flex(flex, column, flex-start, flex-start);

    &:not(:has(.vits-claim-request-pickup)) {
      gap: map.get(var.$unit, 16);
    }

    &:has(.vits-claim-request-pickup) {
      gap: map.get(var.$unit, 12);
    }
  }

  &-box {
    @include mx.border('all', $color: map.get(color.$layout-border, 'tertiary'));
    padding: map.get(var.$unit, 16);
    background: color.$color-white;
    border-radius: map.get(var.$radius, 'md');
  }

  &-product {
    @include mypage-product-common;
    @include mx.flex(flex, column, flex-start, stretch);
    gap: map.get(var.$unit, 20);
  }

  &-check {
    padding: 0 map.get(var.$unit, 32);
  }

  &-chekbox {
    .claim-request-product {
      &-list {
        @include mx.flex(flex, column, flex-start, flex-start);
        gap: map.get(var.$unit, 16);
      }

      &-item {
        position: relative;

        [class*='vits-checkbox-item'] {
          @include mx.position(absolute, map.get(var.$unit, 16), $left: map.get(var.$unit, 16));
          z-index: var.$zindex-base;
        }

        &:has([class*='vits-checkbox-item'] input:checked) {
          .vits-claim-request-box {
            border-color: map.get(color.$layout-border, 'brand');
          }
        }
      }
    }
  }

  &-overview {
    @include mx.flex(flex, row, flex-start, center);
    gap: map.get(var.$unit, 20);
  }

  &-thumb {
    flex-shrink: 0;
    width: fn.rem(80);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: map.get(var.$radius, 'sm');
  }

  &-info {
    @include mx.flex(flex, column, flex-start, stretch);
    gap: map.get(var.$unit, 8);

    .product {
      &-header {
        @include mx.flex(flex, column, flex-start, stretch);
        gap: map.get(var.$unit, 4);
      }

      /* stylelint-disable-next-line no-descending-specificity */
      &-meta {
        @include mx.flex(flex, row, flex-start, center);
        gap: map.get(var.$unit, 8);
      }
    }
  }

  &-quantity {
    @include mx.flex(flex, row, space-between, center);

    .product-quantity {
      @include mx.flex;
      gap: fn.rem(10);

      &-label {
        @include typo.typography('b4s', $color: map.get(color.$text-colors, 'tertiary'));
      }

      &-value {
        @include typo.typography('b4s', $color: map.get(color.$text-status, 'info-sub'));
      }

      &-price {
        @include typo.typography('b3s', $color: map.get(color.$neutral-colors, '1'));
      }

      &-info {
        @include mx.flex(flex, column, flex-start, flex-start);
        gap: map.get(var.$unit, 2);
      }

      &-select {
        @include mx.flex(flex, row, flex-start, center);
        flex-shrink: 0;
        gap: fn.rem(10);
        min-width: fn.rem(68);
      }
    }
  }

  &-reason {
    @include mx.flex(flex, column, center, center);

    .claim-request-reason {
      &-toggle {
        @include button.btn-reset;
        @include mx.flex(flex, row, flex-start, center);
        @include mx.border('bottom', $color: map.get(color.$layout-border, 'tertiary'));
        gap: map.get(var.$unit, 12);
        padding-bottom: map.get(var.$unit, 4);

        .text {
          @include typo.typography('b4r');
        }

        /* stylelint-disable no-descending-specificity */
        .icon {
          @include icon.ic-size(map.get(var.$unit, 16));
          color: map.get(color.$button-ghost-tertiary, 'ghost-on_surf-tertiary-default');
          transition: transform 0.3s;
        }

        &[aria-expanded='true'] {
          .icon {
            transform: rotate(180deg);
          }
        }
        /* stylelint-enable no-descending-specificity */
      }

      &-content {
        width: 100%;
      }

      /* stylelint-disable no-descending-specificity */
      &-list {
        @include mx.flex(flex, row, center, flex-start, wrap);
        gap: map.get(var.$unit, 12) map.get(var.$unit, 24);
        width: 100%;
        padding: map.get(var.$unit, 16) map.get(var.$unit, 24) map.get(var.$unit, 16) map.get(var.$unit, 16);
        margin: 0;
        background: map.get(color.$layout-surf, 'raised');
        border-radius: map.get(var.$radius, 'lg');

        dt {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
          width: fn.rem(140);
          margin-top: fn.rem(7);
        }

        dd {
          width: calc(100% - fn.rem(164));
        }
      }
      /* stylelint-enable no-descending-specificity */
    }
  }

  &-memo {
    @include mx.flex(flex, column, flex-start, flex-start);
    gap: fn.rem(10);

    .claim-request-memo {
      &-textarea {
        width: 100%;
      }

      &-guide {
        @include mx.bullet-style(9, 2, 0, 0, map.get(color.$text-status, 'brand'), 6);

        > li {
          @include typo.typography('b5r', $color: map.get(color.$text-colors, 'secondary'));

          &::before {
            color: map.get(color.$text-status, 'brand');
            content: '*';
          }
        }
      }
    }
  }

  &-pickup {
    @include mx.flex(flex, column, flex-start, stretch);
    gap: map.get(var.$unit, 16);
    width: 100%;

    .claim-request-pickup {
      &-header {
        @include mx.flex(flex, row, space-between, center);
      }

      &-name {
        @include typo.typography('b2s', $color: map.get(color.$text-colors, 'primary'));
      }

      &-actions {
        @include mx.flex(flex, row, flex-start, center);
        gap: map.get(var.$unit, 12);
      }

      &-info {
        @include mx.flex(flex, row, flex-start, flex-start, wrap);
        gap: map.get(var.$unit, 16) fn.rem(10);
        padding: 0;
        margin: 0;

        /* stylelint-disable-next-line no-descending-specificity */
        dt {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
          flex: 0 0 fn.rem(80);

          &.has-gap {
            margin-top: fn.rem(3);
          }
        }

        /* stylelint-disable-next-line no-descending-specificity */
        dd {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
          flex-grow: 1;
          width: calc(100% - fn.rem(90));
        }
      }
    }
  }

  &-footer {
    @include mx.flex(flex, column, flex-start, stretch);
    gap: map.get(var.$unit, 40);
  }

  &-total {
    @include mx.flex(flex, row, space-between, flex-start);

    &-label {
      @include typo.typography('b2s', $color: map.get(color.$text-colors, 'secondary'));
    }

    &-price {
      @include typo.typography('h3b', $color: map.get(color.$text-status, 'brand'));
    }
  }
}

// 좋아요 폴더 만들기
.vits-like-folder {
  .vits-form-dl {
    @include list.form-dl-cst(140, 44, 11.5, 12, 24, 'b2s', map.get(color.$text-colors, 'primary'));
  }
}

// 후불 신청서
.vits-credit-application {
  @include mx.flex(flex, column);
  gap: map.get(var.$unit, 36);

  .credit-company-info {
    @include list.form-dl-cst(144, 0, 0, 0, 16, 'b3r', map.get(color.$text-colors, 'default'));

    dd {
      @include typo.typography('b3r');
    }
  }

  .credit-manager-section {
    @include mx.flex(flex, column, flex-start, flex-start);
    gap: map.get(var.$unit, 12);

    .manager {
      &-header {
        @include mx.flex(flex, column, flex-start, flex-start);
        gap: map.get(var.$unit, 2);
        width: 100%;
        padding-bottom: map.get(var.$unit, 8);
      }

      &-title {
        @include typo.typography('b2s', $color: map.get(color.$text-colors, 'secondary'));
      }

      &-desc {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
      }

      &-content {
        width: 100%;
        padding: map.get(var.$unit, 16);
        background: map.get(color.$layout-surf, 'base');
        border-radius: map.get(var.$radius, 'md');
        box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'tertiary');
      }

      &-empty {
        @include mx.flex(flex, row, space-between, center);
      }

      &-text {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
      }

      &-form {
        @include mx.flex(flex, column);
        gap: map.get(var.$unit, 32);

        .form {
          &-title {
            @include typo.typography('b2s', $color: map.get(color.$text-colors, 'primary'));
          }

          &-fields {
            @include list.form-dl-cst(80, 32, 7, 10, 16, 'b3r', map.get(color.$text-colors, 'tertiary'));

            dd {
              @include mx.flex(flex, row, flex-start, flex-start);
              gap: fn.rem(10);

              &:not(:has(.vits-checkbox-item)) {
                .vits-input {
                  width: fn.rem(320);
                }
              }

              &:has(.vits-checkbox-item) {
                .vits-input {
                  width: fn.rem(200);
                }

                .vits-checkbox-item {
                  flex-shrink: 0;
                  align-self: center;
                }
              }
            }
          }

          &-actions {
            @include mx.flex(flex, row, center, center);
            gap: map.get(var.$unit, 20);

            button {
              width: fn.rem(130);
            }
          }
        }
      }

      &-list {
        @include mx.flex(flex, row, flex-start, flex-start);
        gap: map.get(var.$unit, 8);
      }
    }
  }
}
