// -----------------------------------------------------------------------------
// pages/_promo.scss
// - 기획전 목록 / 상세 페이지
// -----------------------------------------------------------------------------

@use 'sass:map';
@use 'sass:math';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

@mixin tab-nav-grid($minW, $gapY, $gapX) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($minW, 1fr));
  gap: fn.rem($gapY) fn.rem($gapX);
}

@mixin tab-nav-btn(
  $h: map.get(var.$unit, 56),
  $px: fn.rem(6),
  $bg: map.get(color.$layout-surf, 'base'),
  $rd: map.get(var.$radius, 'md'),
  $bdc: map.get(color.$layout-border, 'tertiary'),
  $text: 'b2r',
  $color: map.get(color.$text-colors, 'tertiary'),
  $maxH: calc((fn.rem(16) * 1.3) * 2),
  $acBdc: map.get(color.$layout-border, 'brand'),
  $acText: fn.rem(18),
  $acColor: map.get(color.$text-status, 'brand'),
  $acMaxH: calc((fn.rem(18) * 1.3) * 2),
  $hvBg: map.get(color.$layout-status, 'brand-bg-sub'),
  $hvBdc: map.get(color.$icon-colors, 'hover'),
  $hvColor: map.get(color.$text-status, 'brand-sub')
) {
  .tab-btn {
    @include button.btn-reset;
    @include mx.flex(flex, row, center, center);
    width: 100%;
    height: $h;
    padding: 0 $px;
    background: $bg;
    border-radius: $rd;
    box-shadow: inset 0 0 0 1px $bdc;
    transition:
      background 0.2s,
      box-shadow 0.25s;

    &-text {
      @include typo.typography($text, $color: $color);
      max-height: $maxH;
      overflow: hidden;
      transition:
        color 0.2s,
        font-size 0.25s;
    }

    &.is-active {
      box-shadow: inset 0 0 0 2px $acBdc;

      .tab-btn-text {
        max-height: $acMaxH;
        font-size: $acText;
        font-weight: 700;
        color: $acColor;
      }
    }

    &:not(.is-active) {
      @include mx.common-mouse-event {
        background: $hvBg;
        box-shadow: inset 0 0 0 1px $hvBdc;

        .tab-btn-text {
          color: $hvColor;
        }
      }
    }
  }
}

@mixin tab-content {
  .tab-panel {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

@mixin tab-banner(
  $listGap: map.get(var.$unit, 20),
  $itemSize: math.div(1280, 220),
  $itemRd: map.get(var.$radius, 'md')
) {
  .tab-banner {
    &-list {
      @include mx.flex(flex, column);
      gap: $listGap;
    }

    &-item {
      a {
        @include mx.media-box(cover, $itemSize, 100%, $overflow: hidden);
        display: block;
        border-radius: $itemRd;
      }
    }
  }
}

/* 기획전 배너 리스트 */
.vits-promo-tab {
  @include mx.flex(flex, column);
  gap: map.get(var.$unit, 52);
  padding-top: map.get(var.$unit, 56);

  &-nav {
    @include tab-nav-grid(fn.rem(244), 11, 15);
    @include tab-nav-btn;
  }

  &-content {
    @include tab-content;
    @include tab-banner;
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 40);
    padding-bottom: fn.rem(6);
  }
}

/* 기획전 상세 상품목록 */
.vits-promo-products {
  padding-top: map.get(var.$unit, 56);

  .promo-products {
    // header
    &-header {
      @include mx.flex(flex, column);
      gap: map.get(var.$unit, 32);
      padding-bottom: fn.rem(64);
      text-align: center;

      [class*='header-'] {
        .title {
          @include mx.flex(flex, row, center, center);
          @include typo.typography('h1b', $color: #101828);
          height: map.get(var.$unit, 48);
        }
      }

      .header-main {
        @include mx.flex(flex, column);
        gap: map.get(var.$unit, 32);

        .banner {
          @include mx.media-box(cover, math.div(1280, 220), 100%, $overflow: hidden);
          background: map.get(color.$layout-surf, 'sunken');
          border-radius: map.get(var.$radius, 'md');
        }

        .desc {
          @include typo.typography('b2r', $color: map.get(color.$text-colors, 'tertiary'));
        }
      }

      .header-sub {
        @include mx.flex(flex, column);
        gap: map.get(var.$unit, 20);
        padding-bottom: map.get(var.$unit, 44);

        .desc {
          @include typo.typography('b1r', $color: map.get(color.$text-colors, 'tertiary'));
        }
      }
    }

    &-body {
      padding-bottom: fn.rem(50);

      .vits-product-list.view-thumb {
        &.product-cols-4 {
          gap: fn.rem(64);

          .vits-product-list-items {
            grid-template-columns: repeat(4, 1fr);
            gap: map.get(var.$unit, 48) map.get(var.$unit, 40);

            .product {
              &-code {
                font-size: fn.rem(12);
              }

              &-meta {
                padding-top: 0;
              }

              &-brand,
              &-model,
              &-spec {
                font-size: fn.rem(14);
              }

              &-name {
                font-size: fn.rem(16);
              }

              &-spec {
                margin-top: map.get(var.$unit, 4);
              }

              &-extra {
                margin-top: 0;

                .vits-product-flags {
                  gap: map.get(var.$unit, 4);
                }
              }
            }
          }
        }

        &.product-cols-6 {
          gap: map.get(var.$unit, 56);

          .vits-product-list-items {
            grid-template-columns: repeat(auto-fill, minmax(196px, 1fr));
            gap: map.get(var.$unit, 24) map.get(var.$unit, 20);

            .product {
              &-body {
                gap: map.get(var.$unit, 4) 0;
              }

              &-code {
                font-size: fn.rem(10);
              }

              &-brand,
              &-model {
                font-size: fn.rem(12);
              }
            }
          }
        }
      }

      .vits-product-more {
        @include mx.flex(flex, row, center, center);

        [class*='vits-btn'] {
          width: fn.rem(360);

          .text {
            font-size: fn.rem(20);
          }
        }
      }
    }
  }

  &-tab {
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 40);

    .promo-products-tab {
      &-nav {
        @include mx.flex(flex, row, flex-start, stretch, wrap);
        gap: map.get(var.$unit, 12);

        @include tab-nav-btn(fn.rem(42), map.get(var.$unit, 16), $maxH: calc(fn.rem(16) * 1.3));
      }

      &-content {
        @include tab-content;
        @include tab-banner;
      }
    }
  }
}
