// -----------------------------------------------------------------------------
// pages/product.scss
// - 상품상세 페이지에서 사용.
// -----------------------------------------------------------------------------
@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;
@use '@/assets/scss/components/swiper' as swiper;

/* stylelint-disable no-descending-specificity */

// 최상위 class
.vits-wrapper-product {
  // PC_SM 반응형
  @include mx.pc-sm {
    min-width: 1024px;
    padding: fn.rem(10) map.get(var.$unit, 20) 0;

    .vits-deal-gallery {
      max-width: 400px;

      .pd-gallery {
        max-width: 400px;

        .pd-main-swiper {
          height: 400px;
        }

        .pd-thumbs-area {
          height: 40px !important;

          .pd-thumb,
          .pd-thumbs-swiper,
          .swiper-wrapper {
            height: 40px !important;
          }

          .pd-thumb {
            width: 40px !important;
          }
        }
      }

      .vits-description-btn {
        width: auto;
        padding: fn.rem(14) fn.rem(34);
      }
    }

    .vits-product-recommend {
      .vits-banner-swiper {
        min-width: 1024px;
      }
    }

    .tab-show-price {
      .info-inner {
        li {
          &:first-child {
            width: 40%;
          }

          &:last-child {
            width: 60%;
          }
        }
      }
    }
  }

  // S: 상세페이지 default
  em {
    font-style: normal;
  }

  // 아이콘 기본 정렬
  .icon {
    @include mx.flex($align: center);
  }

  .vits-top-entry {
    @include mx.flex($justify: space-between);
    max-width: 1280px;
    padding: fn.rem(22) 0 fn.rem(15);
    margin: 0 auto;

    .vits-product-code {
      @include mx.flex($align: center);

      .text {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
      }

      .icon {
        color: map.get(color.$layout-border, 'tertiary');
      }
    }
  }
}

.vits-product-detail-container {
  padding-top: fn.rem(10);
}

.vits-deal-view {
  @include mx.flex;
  gap: 54px;

  @include mx.pc {
    min-width: 1024px;
    max-width: 1280px;
    margin: 0 auto;
  }
}

// S: 상품 좌측 상세 이미지 영역
.vits-deal-gallery {
  .pd-gallery {
    position: relative;
    width: 100%;
    max-width: 596px;
    background: color.$color-white;

    &-main {
      position: relative;
      display: block;
    }
  }

  // Navigation (Main)
  .pd-nav {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 44px;
    height: 64px;
    pointer-events: none;
    cursor: pointer;
    background: rgb(0 0 0 / 35%);
    border: 0;
    opacity: 0;
    transform: translateY(-50%);

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: 0.2;
    }
  }

  // Zoom
  .pd-zoom {
    position: absolute;
    top: 0;
    left: calc(100% + 16px);
    z-index: 10;
    display: none;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background: color.$color-white;
    border: 1px solid map.get(color.$gray-shades, '30');
    border-radius: map.get(var.$radius, lg);

    &.is-on {
      display: block;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      max-width: none !important;
      max-height: none !important;
      user-select: none;
      -webkit-user-drag: none;
    }
  }

  // Thumbs
  .pd-gallery-thumbs {
    display: block;
    width: 100%;
    padding-top: fn.rem(20);
  }

  // Thumb Navigation
  .pd-thumb-nav {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 32px;
    height: 32px;
    pointer-events: none;
    cursor: pointer;
    background: map.get(color.$layout-status, 'brand-bg-sub');
    border: 0;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translateY(-50%);

    @include mx.common-mouse-event {
      opacity: 1;
    }

    // &.is-hidden {
    //   display: none;
    // }

    &.is-disabled {
      pointer-events: none;
      filter: invert(1);
    }

    &.pd-thumb-prev {
      left: 0;
      width: map.get(var.$unit, 24);
      height: map.get(var.$unit, 24);
      margin-top: 0;
      background: url('/public/resources/img/mro/renewal/ic/ic-arrow-left.svg') 50% 50% no-repeat;
    }

    &.pd-thumb-next {
      right: 0;
      width: map.get(var.$unit, 24);
      height: map.get(var.$unit, 24);
      margin-top: 0;
      background: url('/public/resources/img/mro/renewal/ic/ic-arrow-right.svg') 50% 50% no-repeat;
    }
  }

  .pd-thumbs-area {
    position: relative;
    width: 100%;
    height: 60px;

    &:hover,
    &:focus-within {
      .pd-thumb-nav {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }

  .pd-thumbs-swiper {
    position: relative;
    width: auto;
    height: 60px;
    margin: 0 fn.rem(33.5);

    .swiper-wrapper {
      align-items: stretch;
      justify-content: flex-start;
      height: 60px;
    }

    .swiper-slide {
      height: 60px;

      .thumb-label {
        padding: 0 fn.rem(6);
        font-size: fn.rem(10);
        font-weight: 100;
        color: #fff;
        background-color: map.get(color.$gray-shades, '80');
        border-radius: map.get(var.$radius, sm);
        opacity: 0.6;

        @include mx.position(absolute, $top: 3px, $right: 2.5px);
      }
    }
  }

  // Thumb Item
  .pd-thumb {
    width: 60px !important;
    height: 60px !important;
    overflow: hidden;
    cursor: pointer;
    background: color.$color-white;
    border: 1px solid map.get(color.$gray-shades, '30');
    border-radius: map.get(var.$radius, sm);
    opacity: 0.3;
    transition: opacity 0.3s;

    &.is-active {
      opacity: 1;
    }

    @include mx.common-mouse-event {
      opacity: 1;
    }

    img {
      display: block;
      width: 100%;
      max-width: none;
      height: 100%;
      max-height: none;
      object-fit: cover;
    }

    .pd-thumb-label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 12px;
      font-weight: 600;
      color: map.get(color.$gray-shades, '80');
      background: map.get(color.$gray-shades, '10');
    }
  }

  // Main Swiper
  .pd-main-swiper {
    position: relative;
    width: 100%;
    height: 596px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background: color.$color-white;
    border: 1px solid #f3f3f3;
    border-radius: map.get(var.$radius, lg);

    /* 메인 썸네일 화살표 미사용 시 */
    .pd-nav {
      display: none !important;
    }

    .swiper-slide {
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .pd-iframe {
        width: 100%;
        height: 100%;

        iframe {
          display: block;
          width: 100%;
          height: 100%;
          border: 0;
        }
      }
    }

    &:hover,
    &:focus-within {
      .pd-nav {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }

  // Responsive
  @media (width <= 1100px) {
    .pd-zoom {
      display: none !important;
    }
  }

  .vits-description-box {
    padding: fn.rem(20) fn.rem(33) fn.rem(14);

    .vits-scrollbar {
      height: 120px;
      padding: map.get(var.$unit, 12) map.get(var.$unit, 16);
      overflow-y: auto;
      border-radius: map.get(var.$radius, sm);

      @include mx.border(all, 1px, solid, $color: map.get(color.$gray-shades, '30'));

      .content-text {
        white-space: pre-wrap;
      }
    }
  }

  .vits-description-btn {
    gap: map.get(var.$unit, 12);
    width: 530px;
    padding: fn.rem(14) fn.rem(100) 0;
    margin: 0 auto;

    @include mx.flex($justify: center);

    .btn-catalog,
    .btn-inquiry {
      flex-grow: 1;
      width: 50%;
      min-width: 0;

      button {
        gap: map.get(var.$unit, 4);
        width: 100%;
        padding: 0 fn.rem(28);
        border-radius: map.get(var.$radius, sm);
      }
    }
  }
}

// S: 상품 우측 상세 정보
.vits-deal-info {
  position: relative;
  flex: 1;

  // 상품 우측 상세 정보 내부영역
  .vits-deal-info-inner {
    .info-inner {
      @include mx.flex($align: flex-start, $justify: space-between);
    }
  }

  .product-brand-name {
    padding-bottom: map.get(var.$unit, 16);
    line-height: normal;

    @include typo.typography('b2s', $color: map.get(color.$text-colors, 'primary'));
    @include mx.flex($align: center);
  }

  .product {
    &-select-buttons {
      gap: map.get(var.$unit, 8);
      padding-bottom: map.get(var.$unit, 20);

      .vits-btn-login {
        padding: 0;
        padding-top: map.get(var.$unit, 20);

        .vits-btn-xxl {
          width: 100%;
        }

        .text {
          font-weight: 700;
          text-align: center;
        }
      }

      .vits-btn-option {
        padding: 0;

        .vits-btn-xl {
          justify-content: space-between;
          width: 100%;
          padding-left: map.get(var.$unit, 20);
          border-radius: map.get(var.$radius, 'sm');

          @include typo.typography('b2m', $color: map.get(color.$layout-border, 'primary'));

          @include mx.common-mouse-event {
            color: map.get(color.$brand-colors, 'primary');
            border-color: map.get(color.$brand-colors, 'primary');

            .icon {
              color: map.get(color.$brand-colors, 'primary');
            }
          }
        }
      }
    }

    &-select-unit {
      padding: map.get(var.$unit, 20);
      border-top: 1px solid map.get(color.$gray-shades, '30');

      .info-inner {
        li {
          width: 100%;
        }
      }

      .vits-input-unit {
        @include mx.flex($align: center);
        gap: map.get(var.$unit, 12);
        padding: fn.rem(6) 0;

        .input-label {
          width: 100%;

          @include mx.flex($align: center);

          .text {
            flex: 1;

            @include typo.typography('h4b', $color: map.get(color.$text-colors, 'primary'));
          }

          .input-unit {
            @include mx.flex($align: baseline, $justify: space-between);
            @include mx.border(all, 1px, solid, $color: map.get(color.$layout-border, 'tertiary'));
            min-width: 186px;
            padding: fn.rem(10) fn.rem(12);
            border-radius: map.get(var.$radius, sm);

            em {
              font-style: normal;

              @include typo.typography('b2r', $color: map.get(color.$text-colors, 'quaternary'));
            }

            input[type='text'] {
              padding-right: fn.rem(4);
              font-size: fn.rem(16);
              text-align: right;
              border: 0;
            }
          }
        }

        .vits-btn-lg {
          min-width: auto;
          padding: fn.rem(12) fn.rem(36);
          background-color: map.get(color.$gray-shades, '60');
          border-color: map.get(color.$gray-shades, '60');
          border-radius: map.get(var.$radius, sm);

          @include mx.common-mouse-event {
            background-color: map.get(color.$gray-shades, '70');
            border-color: map.get(color.$gray-shades, '70');
          }
        }
      }
    }

    &-select-quick {
      position: relative;
      padding: map.get(var.$unit, 20) 0;
      border-top: 1px solid map.get(color.$gray-shades, '30');

      .title {
        padding-bottom: map.get(var.$unit, 20);

        @include typo.typography('b2m', $color: map.get(color.$text-colors, 'primary'));
      }

      .radio-item {
        padding-left: map.get(var.$unit, 8);
      }

      .vits-btn-xs {
        gap: map.get(var.$unit, 2);
        border-radius: map.get(var.$radius, sm);

        &.unit-price-info {
          @include mx.common-mouse-event {
            color: map.get(color.$brand-colors, 'primary');
            background-color: transparent;
            border-color: map.get(color.$brand-colors, 'primary') !important;

            .icon {
              color: map.get(color.$brand-colors, 'primary');
            }
          }
        }

        .text {
          font-weight: 600;
        }
      }

      .unit-price-info-hover {
        @include mx.position(absolute, $top: 50px, $right: 0);
        z-index: var.$zindex-base;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        transition:
          opacity 0.2s ease,
          transform 0.2s ease;
        transform: translateY(fn.rem(4));

        .unit-price-info-inner {
          @include mx.flex(flex, column, flex-start, flex-start);
          min-width: fn.rem(223);
          padding: map.get(var.$unit, 16);
          margin-top: fn.rem(10);
          background-color: color.$color-white;
          border: 1px solid map.get(color.$layout-border, 'tertiary');
          border-radius: map.get(var.$radius, 'md');
          box-shadow: 0 fn.rem(9) fn.rem(21) 0 rgb(0 0 0 / 10%);

          .list-inner {
            @include mx.flex(flex, column);
            gap: map.get(var.$unit, 8);

            .list-item {
              @include typo.typography('b3r', $color: map.get(color.$text-colors, 'default'));

              span {
                font-weight: 600;
              }

              &::before {
                display: inline-block;
                width: fn.rem(4);
                height: fn.rem(4);
                margin-right: map.get(var.$unit, 8);
                vertical-align: middle;
                content: '';
                background-color: map.get(color.$gray-shades, '30');
                border-radius: 50%;
              }
            }
          }
        }
      }

      /* 단가할인 버튼 hover 시 */
      &:has(.unit-price-info:hover),
      &:has(.unit-price-info:focus-visible),
      &:has(.unit-price-info:active) {
        .unit-price-info-hover {
          pointer-events: auto;
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }

      /* hover 유지 (툴팁에 마우스 올렸을 때 닫히지 않게) */
      &:has(.unit-price-info-hover:hover),
      &:has(.unit-price-info-hover:focus-visible),
      &:has(.unit-price-info-hover:active) {
        .unit-price-info-hover {
          pointer-events: auto;
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &-select-result {
      @include mx.flex($direction: column);
      gap: map.get(var.$unit, 8);

      .select-result-item {
        position: relative;
        padding: map.get(var.$unit, 20);
        background-color: map.get(color.$layout-surf, 'sunken');
        border-radius: map.get(var.$radius, sm);
      }

      .vits-btn-close {
        @include mx.position(absolute, $top: 6px, $right: 6px);

        &.icon {
          width: fn.rem(36);
          height: fn.rem(36);
          padding: 0;
          border: 0;

          @include mx.flex($justify: center, $align: center);

          .ic {
            @include icon.ic-size(fn.rem(18));
          }
        }
      }

      .prd-code {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
      }

      .prd-name {
        padding: fn.rem(8) 0;

        @include typo.typography('b2s', $color: map.get(color.$text-colors, 'primary'));
      }

      .prd-size {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'Secondary'));
      }

      .prd-group-row {
        padding-top: fn.rem(16);

        @include mx.flex($align: flex-end, $justify: space-between);

        .vits-count-box {
          @include mx.flex($align: center);
          gap: map.get(var.$unit, 8);
          max-width: fn.rem(330);
        }

        .prd-single-price {
          flex: 1;
          text-align: right;

          @include typo.typography('h4b', $color: map.get(color.$text-colors, 'primary'));

          .text {
            @include typo.typography('b3s', $color: map.get(color.$text-colors, 'primary'));
          }

          .price {
            max-width: fn.rem(135);
            padding-left: map.get(var.$unit, 8);
          }
        }
      }
    }

    // S: 총 상품 금액
    &-total-price {
      padding: fn.rem(32) 0;

      .price-summary {
        @include mx.flex($align: center, $justify: space-between);
      }

      .price-info {
        .price-title {
          @include typo.typography('b2m', $color: map.get(color.$text-colors, 'primary'));
        }
      }

      .price-result {
        @include mx.flex($direction: column);
        row-gap: map.get(var.$unit, 8);
        text-align: right;

        .discount-info {
          @include typo.typography('b2m', $color: map.get(color.$text-status, 'brand'));
          display: inline-flex;

          @include mx.flex($align: flex-end, $justify: flex-end);
          gap: fn.rem(4);

          .icon {
            width: map.get(var.$unit, 24);
            height: map.get(var.$unit, 24);

            .ic {
              @include icon.ic-size(map.get(var.$unit, 24));
            }
          }
        }

        .total-price {
          @include typo.typography('h1b', $color: map.get(color.$text-colors, 'primary'));

          .price-quantity {
            @include typo.typography('b3s', $color: map.get(color.$text-colors, 'default'));
          }

          .price {
            padding-left: map.get(var.$unit, 20);
          }
        }

        .price-tax {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
        }
      }
    }

    &-order-buttons {
      @include mx.flex($align: center);
      gap: map.get(var.$unit, 12);

      :is(.btn-buy, .btn-cart) {
        width: 100%;

        .vits-btn-xxl {
          width: 100%;
        }
      }

      .btn-cart {
        button {
          @include mx.common-mouse-event {
            background-color: map.get(color.$brand-colors, '60');

            .text {
              color: map.get(color.$text-colors, 'inverse');
            }

            &:active {
              border: 2px solid map.get(color.$layout-border, 'brand');

              .text {
                color: map.get(color.$text-status, 'brand');
              }
            }
          }

          &.disabled {
            background-color: map.get(color.$gray-shades, '20');

            .text {
              color: map.get(color.$gray-shades, '40');
            }
          }
        }
      }
    }

    &-price-info {
      padding: map.get(var.$unit, 20) 0;
      border-top: 1px solid map.get(color.$gray-shades, '30');

      .original {
        text-decoration: line-through;

        @include typo.typography('d3r', $color: map.get(color.$text-colors, 'tertiary'));
      }

      .discount {
        @include mx.flex($align: center);
        gap: map.get(var.$unit, 8);

        .discount-rate {
          @include typo.typography('h2b', $color: map.get(color.$text-status, 'brand'));
        }

        .discount-price {
          @include typo.typography('h2b', $color: map.get(color.$text-colors, 'primary'));
        }
      }

      .delivery-benefit {
        padding-top: fn.rem(10);

        @include mx.flex($align: center);
        @include typo.typography('b2b', $color: map.get(color.$text-status, 'brand'));

        .icon {
          width: map.get(var.$unit, 20);
          height: map.get(var.$unit, 20);

          .ic {
            width: 100%;
            height: 100%;
          }
        }
      }

      .discount-coupon {
        button {
          gap: map.get(var.$unit, 4);
          height: fn.rem(44);
          padding: 0 fn.rem(28);
          color: map.get(color.$text-status, 'brand');
          border-color: map.get(color.$layout-border, 'brand');

          &.disabled {
            color: map.get(color.$gray-shades, '40');
            pointer-events: none;
            cursor: not-allowed;
            background-color: map.get(color.$layout-surf, 'sunken');
            border-color: map.get(color.$layout-surf, 'sunken');

            .icon {
              color: map.get(color.$gray-shades, '40');
            }
          }
        }

        @include mx.common-mouse-event {
          button:not(.disabled) {
            background-color: map.get(color.$layout-status, 'brand-bg-sub');
          }

          &:active {
            button:not(.disabled) {
              .icon {
                color: map.get(color.$text-colors, 'inverse');
              }
              color: map.get(color.$text-colors, 'inverse');
              background-color: map.get(color.$brand-colors, 'primary');
            }
          }
        }
      }

      &.is-guest {
        // 비회원 상태 오른쪽 정렬
        .info-inner {
          justify-content: flex-end;
          text-align: right;

          .original {
            @include typo.typography('h2b', $color: map.get(color.$text-colors, 'primary'));
            text-decoration: none;
          }
        }
      }
    }

    &-name-info {
      padding-bottom: map.get(var.$unit, 20);

      .info-inner li {
        @include mx.flex($direction: column);
        gap: map.get(var.$unit, 8);
      }

      .product-name {
        @include typo.typography('h3b');
        @include mx.ellipsis-multi($line-height: 1.4, $ea: 2);
      }

      .product-shipping-tags {
        @include mx.flex($wrap: wrap);
        gap: map.get(var.$unit, 4);
        padding-top: map.get(var.$unit, 5);

        .vits-product-flags {
          gap: map.get(var.$unit, 4);
        }
      }

      // 좋아요 버튼 checkbox
      .like-btn {
        position: relative;
        display: block;
        width: map.get(var.$unit, 52);
        height: map.get(var.$unit, 52);
        cursor: pointer;
        background-color: color.$color-white;
        border: 1px solid map.get(color.$gray-shades, 'primary');
        border-radius: map.get(var.$radius, xl);
        transition:
          background-color 0.3s ease,
          color 0.3s ease, 
          border-color 0.3s ease;

        .ic {
          @include mx.position(absolute, $top: 50%, $left: 50%);
          @include icon.ic-size(map.get(var.$unit, 32));
          transform: translate(-50%, -50%);
        }

        @include mx.common-mouse-event {
          border-color: map.get(color.$brand-colors, 'primary');

          .ic {
            background-color: map.get(color.$brand-colors, 'primary');
          }
        }
        
        &.active{
          background-color: map.get(color.$brand-colors, 'primary');
          border-color: map.get(color.$brand-colors, 'primary');

          .ic {
            background-color: color.$color-white;
          }
        }
      }
    }

    &-minidetail {
      padding: map.get(var.$unit, 20);
      border-top: 1px solid map.get(color.$gray-shades, '30');

      .info-inner {
        flex-wrap: wrap;
        row-gap: map.get(var.$unit, 16);

        li {
          gap: fn.rem(10);
          width: auto;

          @include mx.flex($align: start);

          &:nth-of-type(even) {
            width: 42%;
            padding-left: map.get(var.$unit, 32);
          }

          &:nth-of-type(odd) {
            width: 58%;

            .value {
              min-width: fn.rem(255);
            }
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }

      .label {
        min-width: fn.rem(74);

        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
      }

      .value {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
      }
    }

    // 비회원 상태일 때 경계선 제거
    // stylelint-disable-next-line no-duplicate-selectors
    &-price-info.is-guest {
      + .product-minidetail {
        border-bottom: 0;
      }
    }
  }
}

// 상품상세 탭 영역
.vits-deal-detail {
  padding: fn.rem(76) 0 0;

  .tab-section {
    padding-top: fn.rem(52);

    .section-title {
      @include typo.typography('b2b', $color: map.get(color.$text-colors, 'primary'));
      max-width: 1280px;
      padding: fn.rem(10) 0 fn.rem(21);
      margin: 0 auto;
    }

    & ~ .tab-section {
      padding-top: fn.rem(30);
    }

    .vits-more-view {
      position: relative;
      padding: fn.rem(31) 0 fn.rem(137);
      margin: fn.rem(0) auto 0;
      background-color: color.$color-white;

      &::before {
        @include mx.position(absolute, $bottom: 100%);
        display: block;
        width: 100%;
        height: 400px;
        content: '';
        background: linear-gradient(180deg, rgb(255 255 255 / 0%) 25.07%, rgb(255 255 255 / 74%) 65.58%, #fff 91.42%);
      }

      button {
        padding: 0 fn.rem(60.5);
        margin: 0 auto;
        font-weight: 500;
        color: map.get(color.$text-colors, 'primary');
        border-radius: fn.rem(200);
      }
    }

    .section-content {
      max-width: 1280px;
      margin: 0 auto;

      img {
        display: block;
        max-width: 700px;
        height: auto;
        margin: 0 auto;
        object-fit: cover;
      }

      .vits-img-detail {
        // 임의값
        max-height: 1125px;
        overflow: hidden;

        &.is-open {
          max-height: 100%;
        }
      }

      // spec 테이블 style
      .vits-product-spec {
        @include mx.flex($align: center);
        padding-bottom: fn.rem(12);
        border-top: 1px solid map.get(color.$gray-shades, 'primary');

        .vits-spec-table {
          width: 100%;

          th,
          td {
            height: fn.rem(44);
            padding-left: fn.rem(20);
            text-align: left;
          }
        }

        .vits-spec-label {
          @include typo.typography('b3s', $color: map.get(color.$text-colors, 'primary'));
          width: fn.rem(197);
          background-color: map.get(color.$layout-surf, 'raised');
        }

        .vits-spec-value {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
        }

        &.spec-col3 {
          width: fn.rem(990);
          margin: 0 auto;
          border-top: 0;

          table th,
          table td {
            height: fn.rem(26);
            border: 1px solid map.get(color.$layout-border, 'quinary');
            border-width: 1px 0;
          }

          .vits-spec-label {
            width: fn.rem(110);
            font-size: fn.rem(12);
          }

          .vits-spec-value {
            font-size: fn.rem(12);
          }
        }
      }

      &:has(.vits-img-detail.is-open) {
        .vits-more-view {
          &::before {
            content: none;
          }
        }
      }
    }

    .section-content-download {
      gap: map.get(var.$unit, 12);
      max-width: 1280px;
      margin: 0 auto;

      @include mx.flex($align: center);

      .vits-btn-sm {
        gap: map.get(var.$unit, 4);
        border-color: map.get(color.$layout-border, 'quaternary');
        border-radius: map.get(var.$radius, sm);

        .icon,
        .text {
          font-size: fn.rem(12);
          color: map.get(color.$text-colors, 'tertiary');
        }
      }
    }
  }

  .tab-wrap {
    position: sticky;
    top: 0;
    z-index: 1000;
    gap: map.get(var.$unit, 8);

    // max-width: 1280px;
    margin: 0 auto;
    background-color: color.$color-white;

    @include mx.border(bottom, 1px, solid, $color: map.get(color.$layout-border, 'tertiary'));

    .tab-show-price {
      max-width: 1280px;
      height: 0;
      margin: 0 auto;
      overflow: hidden;
      opacity: 0;
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
      transform: translateY(fn.rem(4));

      &.is-open {
        height: auto;
        opacity: 1;
        transform: translateY(0);
      }
    }

    .info-inner {
      @include mx.flex($align: center, $justify: space-between);
      gap: fn.rem(20);
      padding: fn.rem(16) 0 fn.rem(19);

      li {
        @include mx.flex($align: flex-end, $justify: flex-end);
        gap: fn.rem(20);
        width: 50%;
      }
    }

    .product-name {
      @include typo.typography('h3b');
      @include mx.ellipsis-multi($line-height: 1.4, $ea: 2);
    }

    .product-price {
      @include mx.flex($align: center);
      gap: fn.rem(10);

      .original {
        text-decoration: line-through;

        @include typo.typography('d3r', $color: map.get(color.$text-colors, 'tertiary'));
      }

      .calculated-price {
        @include mx.flex($align: center);
        gap: fn.rem(6);

        .rate {
          @include typo.typography('h2b', $color: map.get(color.$text-status, 'brand'));
        }

        .price {
          @include typo.typography('h2b', $color: map.get(color.$text-colors, 'primary'));
        }
      }

      .price-guest-mode{
        @include mx.flex($direction: column);
        gap: map.get(var.$unit, 2);

        .text-title{
          @include typo.typography('b2b', $color: map.get(color.$text-status, 'info-sub'));
        }

        .text-desc{
          @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
        }
      }
    }

    .product-order-buttons {
      @include mx.flex($align: center, $justify: flex-end);
      gap: fn.rem(10);

      [class*="vits-btn-"] {
        width: 100%;
        min-height: fn.rem(45);
        border-radius: map.get(var.$radius, 'sm');
      }

      :is(.btn-buy, .btn-cart) {
        min-width: fn.rem(156);
      }

      // 조장상품 일 경우 
      .btn-promo:only-child {
        min-width: fn.rem(218);
        margin-left: fn.rem(104);
      }

      .btn-guest-login{
        min-width: fn.rem(305);

        .icon{
          color: map.get(color.$icon-neutral, 'primary');
        }

        .text{
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
        }
      }

      .btn-cart {
        button {
          @include mx.common-mouse-event {
            background-color: map.get(color.$brand-colors, '60');

            .text {
              color: map.get(color.$text-colors, 'inverse');
            }

            &:active {
              border: 2px solid map.get(color.$layout-border, 'brand');

              .text {
                color: map.get(color.$text-status, 'brand');
              }
            }
          }

          &.disabled {
            background-color: map.get(color.$gray-shades, '20');

            .text {
              color: map.get(color.$gray-shades, '40');
            }
          }
        }
      }
    }

    .tab-nav {
      position: relative;
      max-width: 1280px;
      margin: 0 auto;

      @include mx.flex($align: center);
      background-color: color.$color-white;

      .tab-btn {
        @include typo.typography('b2r', $color: map.get(color.$text-colors, 'tertiary'));
        min-width: fn.rem(197);
        padding: fn.rem(17) fn.rem(32);
        text-align: center;
        background-color: transparent;
        border: 1px solid map.get(color.$layout-border, 'quaternary');
        border-bottom: 0;

        & ~ .tab-btn {
          margin-left: -1px;
        }

        &.is-active {
          margin-bottom: -1px;
          border-bottom: 2px solid color.$color-white;

          @include typo.typography('b2b', $color: map.get(color.$text-colors, 'primary'));
        }
      }

      .tab-bar {
        @include mx.position(absolute, $top: 0, $left: 0);
        width: fn.rem(197);
        height: fn.rem(2);
        background-color: map.get(color.$text-colors, 'primary');
        transition: transform 0.25s ease;
      }
    }
  }
}

// swiper 컨테이너 영역 (추천 상품영역)
.vits-product-recommend {
  .recommend-title {
    @include swiper.swiper-title;
    max-width: 1280px;
    padding-top: fn.rem(50);
    padding-bottom: fn.rem(30);
    margin: 0 auto;
  }

  .vits-banner-swiper {
    position: relative;
  }

  /* [상품상세 페이지 상품유닛 (회원, 비회원 구분)] */
  .vits-product-slide {
    .vits-base-swiper-card {
      padding: 0;
    }

    .product-price {
      width: 100%;
    }
  }
}



/* stylelint-disable selector-class-pattern */
// as-is iframe 운영소스 추가
.video_box_inner.youtube-video-frame,
.video_box_inner.youtube-video-frame iframe {
  min-height: fn.rem(650);
}
/* stylelint-enable selector-class-pattern */

/* ===modal kendo window -쿠폰 다운로드 팝업 === */
.vits-coupon-download {
  .coupon-list-box {
    &.vits-scrollbar {
      max-height: fn.rem(428);
      overflow: auto;
    }

    ul {
      @include mx.flex($direction: column);
      gap: map.get(var.$unit, 12);
    }

    .coupon-item {
      @include mx.flex($align: center);
      gap: map.get(var.$unit, 20);
      padding: fn.rem(14) fn.rem(20);
      border: 1px solid map.get(color.$layout-border, 'quaternary');
      border-radius: map.get(var.$radius, 'md');

      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        filter: grayscale(1);
        opacity: 0.4;
      }

      @include mx.common-mouse-event {
        background-color: map.get(color.$layout-surf, 'raised');
        border-color: map.get(color.$layout-border, 'primary');

        .vits-btn-md {
          color: map.get(color.$text-colors, 'inverse');
          background-color: map.get(color.$brand-colors, 'primary');

          .icon {
            color: map.get(color.$text-colors, 'inverse');
          }
        }
      }

      &-left {
        .coupon-item-badge {
          position: relative;
          display: block;
          width: fn.rem(96);
          height: fn.rem(68);

          @include mx.background('ic/ic-coupon-badge.svg');
        }

        .coupon-item-badge-value {
          @include typo.typography('d2b', $color: map.get(color.$blue-shades, '100'));
          display: block;
          padding-top: fn.rem(22);
          text-align: center;
        }
      }

      &-body {
        @include mx.flex($direction: column);
        @include mx.ellipsis-single;
        flex: 1;
        gap: map.get(var.$unit, 4);
        min-width: 0; // 말줄임 등 대비

        [class*="coupon-item-"] {
          @include mx.ellipsis-single;
        }

        .coupon-item-title {
          @include typo.typography('b1s', $color: map.get(color.$text-colors, 'primary'));
        }

        .coupon-item-period {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
        }

        .coupon-item-desc {
          @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
        }
      }

      &-right {
        [class*="vits-btn-"] {
          gap: 0;

          &:hover:not(:disabled), &:active {
            color: map.get(color.$text-colors, 'inverse');
            background-color: map.get(color.$brand-colors, 'primary');

            .icon {
              color: map.get(color.$text-colors, 'inverse');
            }
          }
        }
      }
    }
  }
}

/* ===modal kendo window -다른 규격찾기 팝업 (특수 케이스 적용)=== */
// s: 해당 모달만 적용되는 스타일
// 윈도우 열/닫기 시 애니메이션 적용 (body 부분에 위치)
/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-id-pattern */
.k-window-titleless:has(#findOtherOptionModal) {
  position: fixed !important;
  top: 0 !important;
  right: -100% !important;
  left: auto !important;
  display: block !important;
  max-width: 512px !important;
  height: 100vh !important;
  border-radius: 0 !important;
  transition:
    transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.3s ease,
    right 0.3s ease;
  transform: translateX(100%);
/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-id-pattern */
  #findOtherOptionModal{
    &.k-window-content{
      max-height: 100% !important;
      padding:0;
    }

    .vits-modal-header{
      padding-bottom: fn.rem(32);
      border-bottom: 1px solid map.get(color.$layout-surf, 'secondary');
    }
  
    .vits-modal-content {
      padding: 0;
    }

    .vits-find-other-option {
      // 필터 버튼 위치 조정
      .vits-modal-filter-btn{
        position: absolute;
        top: fn.rem(32);
        right: fn.rem(76);
        border-radius: map.get(var.$radius, 'sm');
    
        @include mx.common-mouse-event {
          background-color: map.get(color.$layout-surf, 'secondary');
        }
      }
    }
    
    // 필터영역 (우측 전체매뉴)
    .filter-box {
      background-color: map.get(color.$layout-surf, 'mypage');
    
      .vits-scrollbar {
        max-height: fn.rem(452);
        padding: map.get(var.$unit, 32) map.get(var.$unit, 20) 0;
        margin: map.get(var.$unit, 24) map.get(var.$unit, 20) 0;
        overflow: auto;
        background-color: color.$color-white;
        border-radius: map.get(var.$radius, 'md') map.get(var.$radius, 'md') 0 0;
      }
    
      .filter-box-list {
        @include mx.flex($direction: column);
        gap: fn.rem(30);
    
        .filter-box-item {
          .filter-item-title {
            @include mx.flex($align: center, $justify: space-between);
            padding-bottom: fn.rem(14);
    
            .title-text{
              @include typo.typography('b4b', $color: map.get(color.$text-colors, 'primary'));
            }
    
            .vits-filter-more {
              @include mx.flex($align: center);
              background-color: transparent;
              border: none;
              
              .text{
                @include typo.typography('b4r', $color: map.get(color.$text-colors, 'primary'));
              }
    
              .icon {
                display: inline-flex;
                align-self: center;
                width: fn.rem(10);
                height: fn.rem(8);
                color: map.get(color.$text-colors, 'tertiary');
    
                .ic{
                  width:100%;
                  height:100%;
                }
              }
            }
          }
    
          .filter-item-content {
            .filter-chip-group {
              @include mx.flex($direction: row, $wrap: wrap);
              gap: fn.rem(6) fn.rem(8);
              max-height: fn.rem(28);
              overflow: hidden;
    
              .filter-chip {
                @include typo.typography('b4r', $color: map.get(color.$text-colors, 'primary'));
                padding: fn.rem(5) fn.rem(8);
                background-color: transparent;
                border: 1px solid map.get(color.$layout-border, 'tertiary');
                border-radius: map.get(var.$radius, 'sm');
    
                @include mx.common-mouse-event {
                  color: map.get(color.$text-status, 'brand');
                  border-color: map.get(color.$layout-border, 'brand');
                }
    
                &.is-active {
                  font-weight: 600;
                  color: map.get(color.$text-status, 'brand');
                  border-color: map.get(color.$layout-border, 'brand');
                }
    
                &.disabled {
                  color: map.get(color.$text-colors, 'tertiary');
                  pointer-events: none;
                  background-color: map.get(color.$layout-surf, 'sunken');
                  border-color: map.get(color.$layout-border, 'tertiary');
                }
              }
    
              &.is-open {
                max-height: fit-content;
              }
            }
          }
        }
      }
    
      .filter-box-buttons {
        @include mx.flex($align: center, $justify: center);
        gap: fn.rem(12);
        padding: fn.rem(36) 0;
        margin: 0 map.get(var.$unit, 20) fn.rem(24);
        background-color: color.$color-white;
        border-radius: 0 0 map.get(var.$radius, 'md') map.get(var.$radius, 'md');
    
        button {
          flex-shrink: 0;
          min-width: fn.rem(130);
          border-radius: map.get(var.$radius, 'sm');
        }
      }
    }
    
    // 옵션 영역 (우측 전체매뉴)
    .product-option-list {
      @include mx.flex($direction: column);
    
      // 상품리스트
      .product-option {
        &-item {
          @include mx.flex($align: center);
          gap: map.get(var.$unit, 12);
          width: 100%;
          padding: map.get(var.$unit, 20) map.get(var.$unit, 24);
          text-align: left;
          cursor: pointer;
    
          // 기본 button 리셋 (필요 최소)
          background: none;
          border: 0;
          border-bottom: 1px solid map.get(color.$gray-shades, '30');
    
          @include mx.common-mouse-event {
            cursor: pointer;
            background-color: map.get(color.$layout-surf, 'raised');
    
            .product-option-name {
              color: map.get(color.$text-status, 'info');
              text-decoration: underline;
            }
          }
    
          &.is-sold-out {
            position: relative;
            pointer-events: none;
            cursor: not-allowed;
            background-color: map.get(color.$layout-surf, 'sunken');
    
            &::before {
              @include typo.typography('b4s', $color: map.get(color.$text-colors, 'primary'));
              @include mx.flex($align: center, $justify: center);
              position: absolute;
              inset: 0;
              content: '일시품절';
              background: hwb(0deg 94.12% 5.88% / 80%);
            }
          }
        }
    
        &-thumb {
          @include mx.flex($justify: center, $align: center);
          flex: 0 0 92px;
          height: 92px;
          overflow: hidden;
          border-radius: map.get(var.$radius, 'sm');
    
          img {
            display: block;
            max-width: 100%;
            max-height: 100%;
          }
        }
    
        &-info {
          @include mx.flex($direction: column);
          flex: 0 0 240px;
          gap: map.get(var.$unit, 4);
        }
    
        &-title {
          @include mx.flex($align: center);
          @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
    
          .product-option-code {
            @include typo.typography('b5r', $color: map.get(color.$text-colors, 'tertiary'));
            padding: map.get(var.$unit, 2) map.get(var.$unit, 4);
            margin-left: fn.rem(4);
            border: 1px solid map.get(color.$gray-shades, '30');
          }
        }
    
        &-name {
          @include typo.typography('b3s', $color: map.get(color.$text-colors, 'primary'));
          @include mx.ellipsis-multi($line-height: 1.4, $ea: 2);
        }
    
        &-spec {
          @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
        }
    
        &-tags {
          @include mx.flex($wrap: wrap);
          gap: map.get(var.$unit, 4);
          padding-top: map.get(var.$unit, 5);
    
          .vits-product-flags {
            gap: map.get(var.$unit, 4);
          }
        }
    
        &-price {
          @include mx.flex($direction: column);
          min-width: fn.rem(108);
          text-align: right;
    
          .product-option-original {
            @include typo.typography('d3r', $color: map.get(color.$text-colors, 'tertiary'));
            text-decoration: line-through;
          }
    
          .product-option-discount {
            .discount {
              @include typo.typography('b3b', $color: map.get(color.$text-status, 'brand'));
            }
    
            .amount {
              min-width: auto;
              padding-left: fn.rem(4);
    
              @include typo.typography('b3b', $color: map.get(color.$text-colors, 'primary'));
            }
          }
        }
      }
    }    
  }
}

body.is-option-modal-open {
/* stylelint-disable-next-line selector-pseudo-class-no-unknown, selector-id-pattern */
  .k-window-titleless:has(#findOtherOptionModal) {
    right: 0 !important;
    transform: translateX(0);
  }
}

/* e.===modal kendo window -다른 규격찾기 팝업 === */

/* stylelint-enable no-descending-specificity */