@use '@/assets/scss/abstracts/index' as *;

.background-test {
  .icon-png {
    width: 50px;
    height: 50px;
    background-image: url('/public/images/camera.png');
    background-size: 50px;
  }

  .icon-svg {
    width: 50px;
    height: 50px;
    background-image: url('/public/images/colors.svg');
    background-size: 50px;
  }
}

::placeholder {
  color: gray;
}

body {
  background-color: beige;
}
