<% const _src = srcPath; const _public = publicPath; %>

<section class="vits-unshipped">
  <!-- 미발송 사유 -->
  <h2 class="vits-unshipped-title">미발송 사유</h2>
  <p class="vits-unshipped-text">배송센터 물량 확보 중입니다.</p>

  <!-- 상품 정보 -->
  <div class="vits-unshipped-product">
    <div class="vits-unshipped-thumb">
      <div class="product-thumb">
        <img src="https://vitsonimg.co.kr/images/productsNew/56/56290.png" alt="" />
      </div>
    </div>
    <div class="vits-unshipped-info">
      <p class="product-title">
        <span class="product-brand">엠포르지오아르마니</span>
        <span class="product-name"
          >더블 OPP 접착테이프 투명 (초강력 접착제)더블 OPP 접착테이프 투명 (초강력 접착)더블 OPP 접착테이프 투명
          (초강력 접착제)더블 OPP 접착테이프 투명 (초강력 접착)</span
        >
      </p>
      <p class="product-spec"><span class="sr-only">규격</span>무선조작/디밍</p>
      <dl class="product-stock">
        <dt>재고현황</dt>
        <dd class="product-stock-status">입고 대기중</dd>
        <dt>입고예정일</dt>
        <dd class="product-stock-date">2024.12.18</dd>
      </dl>
    </div>
  </div>
</section>
