body {
    margin: 0;
}

body p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    width: 100%;
    border: 1px solid #c3c3c3;
    border-collapse: collapse;
}

table .tdTitle {
    background-color: #d4e2fe;
    font-weight: bold;
    padding: 5px;
}

.w950 {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.w50pp {
    width: 50%
}

.w90pp {
    width: 90%
}

.a4Size {
    margin: 0 auto;
    width: 21cm
}

.flexContainer {
    display: flex;
}

.padding_10 {
    padding: 0 10px !important;
}

.heightPadding {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

input {
    outline: none;
}

button {
    cursor: pointer
}

.inputNone {
    border: none;
}

.font10 {
    font-size: 10px;
}

.aStyle {
    color: blue;
    text-decoration: underline;
}

.autoTransferBox {
    padding: 10px 15px;
    box-sizing: border-box;
}

.autoTransferBox input[type=text] {
    border: 1px solid #ddd
}

.selectbox {
    border: 1px solid #ddd
}

.titleBox {
    overflow: hidden;
}

.titleBox h1 {
    text-align: center;
    font-size: 25px;
    margin: 0;
}

.subTitle {
    font-weight: bold;
    font-size: 12px;
    float: right;
}

.autoBox1 .tdTitle {
    padding: 5px;
    font-size: 11px;
}

.autoBox2 {
    margin-top: 10px
}

.autoBox2 .tdTitle {
    font-size: 11px;
}

.autoBox1 .inputPrint {
    outline: none;
    padding: 4px 5px;
}

.autoTitle {
    font-size: 12px;
    font-weight: bold;
}

.autoSubTitle {
    font-weight: lighter;
    font-size: 12px;
}

.autoBox table {
    border: 2px solid;
}

.autoBox td {
    border-bottom: 1px solid;
    border-right: 1px solid;
    height: 23px;
    font-size: 11px
}

.autoBox1 td:nth-child(1),
.autoBox1 td:nth-child(3) {
    width: 18%;
}

.autoBox2 table tr:nth-child(2) td:nth-child(2),
.autoBox2 table tr:nth-child(2) td:nth-child(4) {
    font-size: 12px;
}

.autoBox2 table tr:nth-child(2) td:nth-child(4) {
    text-align: center;
}

.inputApplicant {
    width: 120px;
    border: 1px solid #ddd;
    padding: 4px 5px;
    background-color: #FAF4C0
}

.inputRelation {
    width: 60px;
    border: 1px solid #ddd;
    padding: 4px 5px;
    background-color: #FAF4C0
}

.inputUnder {
    border: none;
    border-bottom: 1px solid;
}

.inputMonth {
    width: 100px;
}

.inputDay {
    width: 50px;
}

.autoBox2Width12 {
    width: 14%;
}

.autoBox2Width16 {
    width: 18%;
}

.autoBox2Width34 {
    width: 32%;
}

.tdTitle {
    text-align: center;
}

.autoTransferBox .inputBox {
    padding: 4px 5px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ddd
}

.autoTransferBox .guideText {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px
}

.blank {
    border: none;
    background-color: white;
}

.personDataDesc {
    font-size: 10px;
    padding: 10px;
}

.personDataDesc p:nth-child(1) {
    text-align: center;
    font-weight: bold;
}

.listCon {
    margin-left: 15px;
}

.agreeInputBox {
    text-align: right;
    font-weight: bold;
}

.agreeInputBox label,
.agreeInputBox input {
    display: inline-block;
    vertical-align: middle
}

.fotTd {
    padding: 5px;
}

.fotDescTitle {
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

.fotSubDesc {
    text-align: center;
    line-height: 20px;
    margin: 10px 0;
    font-size: 12px;
}

.fotSignBox {
    text-align: right;
    font-size: 10px;
}

.fotSignBox .date_area {
    margin-bottom: 25px
}

.fotSignBox .sign_area + .sign_area {
    margin-top: 60px
}

.fotSignBox div:nth-child(1) input {
    width: 30px;
    text-align: right;
}

.autoDescBox p {
    font-size: 10px;
}

.autoDescFot {
    justify-content: space-between;
    margin-top: 15px;
}

.btnBar {
    margin: 10px 30px;
    text-align: center
}

.btnBar .btn1 {
    display: inline-block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    background: #ddd;
    font-size: 14px;
    border: 0
}

.btnBar .btn2 {
    display: inline-block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    background: #101466;
    color: #fff;
    font-size: 14px;
    border: 0
}

.signBox {
    display: inline-block
}

.userSign {
    position: relative;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center
}

.userSign img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60px;
}


@media print {
    .autoTransferBox input[type=text] {
        border-color: transparent;
    }

    .autoTransferBox input[type=text].inputUnder {
        border-bottom: 1px solid #000
    }

    .printHide {
        display: none
    }

    @page {
        size: 21cm 29.7cm;
        margin: 20px;
    }
}

/* 로딩바 */
#back {
    position: fixed;
    z-index: 100;
    background-color: #000000;
    display: none;
    top: 0;
    left: 0;
}

#loadingBar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: none; */
    z-index: 200;
    /* width:48px;
    height:48px; */
    font-size: 30px;
    color: orange
}
