body {
    margin: 0;
    font-size: 11px;
}

body p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.aStyle {
    text-decoration: underline;
    color: blue;
}

table {
    width: 100%;
    border: 1px solid #c3c3c3;
    border-collapse: collapse;
}

label {
    cursor: pointer;
}

.flexContainer {
    display: flex;
}

.w950 {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.padding4 {
    padding: 4px;
}

.m_0 {
    margin: 0 !important;
}

.wrap {
}

/*  */
.cmsBox {
    margin: 50px 0;
}

.cmsItemBox {
    border: 1px solid #c3c3c3;
    padding: 10px 15px;
    box-sizing: border-box;
}

.subMenu {
}

.subMenu ul {
    justify-content: flex-end;
}

.title {
    font-weight: bold;
    margin: 5px 0;
}

.cmsInfoCon {
}

.tableStyle {
    text-align: center;
    background-color: #e5e4e4;
}

.topTd {
    width: 10%;
}

.cmsTable {
}

.cmsTable input {
    /*     border: none; */
    outline: none;
    border: 1px solid #ddd
}

.cmsTable td {
    border-bottom: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}

.warningTxtBox {
    font-weight: bold;
    color: red;
    margin: 10px 0;
}

.personComTitle {
    justify-content: space-between;
}

.chkBox {
    align-items: center;
}

.personCon {
    background-color: #e5e4e4;
    padding: 15px;
    box-sizing: border-box;
}

.perDescBox {
    margin-top: 15px;
}

.btnBox {
    text-align: center;
    margin: 20px 0;
}

.btn1 {
    width: 150px;
    display: inline-block;
    color: white;
    padding: 10px 0px;
    margin: 0 5px;
}

.cancelBtn {
    display: inline-block;
    background-color: #c3c2c2;
}

.signUpBtn {
    background-color: rgba(0 32 96);
}