.sub_container {
    background-color: #fff;
}

.error_page {
    width: 100%;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.error_inner {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

.error_info {
    margin: 0 auto;
    padding-top: 220px;
    max-width: 400px;
    width: 90%;
    background-image: url('/resources/img/error/error_404.png');
    background-size: 250px;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: left;
}

.error_info .txt1 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
    color: #666
}

.error_info .txt2 {
    color: #969696
}

.btn_error_grp {
    text-align: center;
    display: flex;
    margin-top: 20px
}

/* .btn_error_grp [class^="btn_"]{width:100%; padding:10px} */
/* .btn_error_grp button + button{margin-left:10px;} */
.btn_main {
    width: 100%;
    background-color: #17ad86;
    border: 2px solid #17ad86;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.btn_prev {
    width: 100%;
    margin-left: 10px;
    background-color: #e4e7eb;
    border: 2px solid #e4e7eb;
    color: #000;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.btn_prev:hover {
    background-color: #dde0e4;
}

.error_info.error_403 {
    padding-top: 320px;
    background-image: url('/resources/img/error/error_403.png');
    background-size: 292px;
}

.error_info.error_500 {
    padding-top: 235px;
    background-image: url('/resources/img/error/error_500.png');
    background-size: 292px;
}

.error_info.error_session {
    padding-top: 371px;
    background-image: url('/resources/img/error/error_session.png');
    background-size: 252px;
}

.error_info.error_403_admin {
    background-image: url('/resources/img/error/error_403_admin.png');
    background-size: 292px;
}

@media (max-width: 1324px) {
    body {
        min-width: 100%;
    }
}

@media (max-width: 1022px) {
    .sub_container {
        width: 100%
    }
}

@media (min-width: 1023px) {
    .sub_container {
        width: auto
    }

    .error_info {
        max-width: 800px;
        font-size: 20px;
        padding-left: 350px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-position: top left;
        background-size: auto;
    }

    .error_info.error_403 {
        padding-top: 60px;
        padding-bottom: 60px
    }

    .error_info.error_500 {
        padding-top: 60px;
        padding-bottom: 60px;
        background-position: center left;
    }

    .error_info.error_session {
        padding-top: 120px;
        padding-bottom: 110px;
        background-position: 50px center;
    }

    .error_info.error_session .btn_main {
        width: 50%
    }

    .error_info.error_session .txt2 {
        margin-top: 10px;
    }

    .error_info .txt1 {
        font-size: 20px;
        line-height: 30px;
    }

    .error_info.error_500 .txt1 {
        letter-spacing: -1px;
    }

    .error_info .txt2 {
        margin-top: 30px;
        font-size: 18px
    }

    .btn_main, .btn_prev {
        height: 50px; /* line-height:50px; */
        padding: 0;
        font-size: 18px;
        border-radius: 0;
        font-weight: 300;
    }

    .btn_prev {
        margin-left: 20px;
    }
}

@media (max-width: 900px) {
    .error_info {
        max-width: 80%
    }
}
