<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->

<div class="vm-filter-product">
  <dl class="filter-product-group">
    <dt class="filter-product-label">브랜드</dt>
    <dd class="filter-product-items">
      <button type="button"></button>
    </dd>
    <dt class="filter-product-label">공통</dt>
    <dd class="filter-product-items">
      <button type="button"></button>
    </dd>
    <dt class="filter-product-label">속성</dt>
    <dd class="filter-product-items">
      <button type="button"></button>
    </dd>
  </dl>
  <div>
    <button type="button">필터 더보기</button>
    <ul class="filter-select-items">
      <li>
        <button type="button">오늘출발</button>
      </li>
    </ul>
  </div>
</div>
