<% const _src = srcPath; const _public = publicPath; %>
<!-- [D] case: 회원가입 완료 / 아이디 찾기 결과 / 휴면상태 안내 페이지 공통 사용 -->
<div class="auth-contact">
  <a href="tel:15668967" class="auth-contact-call" aria-label="고객센터 1566-8967">
    <span class="auth-contact-icon">
      <img src="<%= _public %>/resources/img/mro/renewal/ic/ic-calling.svg" alt="" aria-hidden="true" />
    </span>
    <span class="auth-contact-text">고객센터 1566-8967</span>
  </a>
  <a href="#!" class="auth-contact-kakaotalk" aria-label="카카오톡 채널 문의">
    <span class="auth-contact-icon">
      <img src="<%= _public %>/resources/img/mro/renewal/ic/ic-kakaotalk.svg" alt="" aria-hidden="true" />
    </span>
    <span class="auth-contact-text">카카오톡 채널 문의</span>
  </a>
</div>
