<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->
<section class="vm-auth-dormant-modal">
  <h2 class="sr-only">휴면계정 해제</h2>

  <form class="vm-auth-dormant-form" action="" method="post">
    <div class="vm-auth-dormant-form-fields">
      <span class="form-field-label">아이디</span>

      <!-- prettier-ignore -->
      <%- include(`${_src}/views/components/form/input-text.ejs`, { id: 'login-id', name: 'loginId', label: '아이디', placeholder: 'mztest1', required: true, disabled: true, rootClass: 'size-large' }) %> 
    </div>

    <div class="vm-auth-dormant-form-fields">
      <span class="form-field-label">비밀번호<span class="label-required">*</span></span>

      <!-- prettier-ignore -->
      <%- include(`${_src}/views/components/form/input-text.ejs`, { id: 'login-pw', name: 'password', label: '비밀번호', placeholder: '비밀번호', required: true, rootClass: 'size-large', type: 'password', showPasswordToggle: true }) %> 
    </div>
  </form>
</section>
