<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->

<header class="vm-header header-alarm-bar">
  <!-- prettier-ignore -->
  <%- include('./header-button.ejs', { 
    button: 'back' })
  %> 
 
  <p class="vm-header-title" data-header-title><%= title %></p>

  <div class="vm-header-actions">
    <!-- prettier-ignore -->
    <%- include('./header-button.ejs', { 
      button: 'setting' })
    %> 
  </div>
</header>
