<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->

<header class="vm-header header-nav-bar-logo">
  <a href="" class="vm-header-home" aria-label="메인으로">
    <img src="<%= _public %>/resources/img/mro/renewal/logo/logo-header.svg" alt="비츠온엠알오 로고" />
  </a>
</header>
