<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->

<header class="vm-header header-product-bar">
  <!-- prettier-ignore -->
  <%- include('./header-button.ejs', { 
    button: 'back' })
  %> 
  
  <div class="vm-header-search">
    <!-- prettier-ignore -->
    <%- include(`${_src}/views/components/form/input-search.ejs`, {
      idPrefix: 'product-search',
      action: '#!',
      name: 'product-search',
      placeholder: '무엇이든 비츠온에서 찾아보세요',
      addClassName: 'theme-gray size-l',
      hasClear: true
    }) %>
  </div>
  <div class="vm-header-actions">
    <!-- prettier-ignore -->
    <%- include('./header-button.ejs', { 
      button: 'cart',
      count: 3
    })
    %>
  </div>
</header>
