@charset 'utf-8';

/*/////////////////////////////////////////////////////////*/
/*/색상 커스텀 /////////////////////////////////////////////*/


:root {
    --primary: #4466dd;
}


/* Color Custom - Main Color */
.cst-color {
    color: #4466dd !important;
}

/*background:배경색, color:글자색*/
.cst-bg {
    background: #4466dd !important;
    color: #fff !important
}

/*border:테두리색, color:글자색*/
.cst-border {
    border-color: #4466dd !important;
    color: #4466dd !important;
}

/* Color Custom - Green(인증화면) */
.cst-bg-gr {
    background: #49cc4e !important
}

.cst-color-gr {
    color: #49cc4e !important
}

.cst-fill-gr {
    fill: #49cc4e !important
}

/*/색상 커스텀 /////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////*/
/*/HEADER 영역 ////////////////////////////////////////////*/

/* Header 배경 색상 */
.ci .ci-area {
    background-color: #fff !important;
    border-bottom: 1px solid #e9e9e9 !important
}


/* Header ( 로고 지정 시 )  */
/*.ci .header-cont .logo{*/
/*    content: url("../images/w-pay_logo.png"); !*이미지 링크*!*/
/*    margin-left: auto} !* auto:중앙정렬, 0:좌측정렬 *!*/

/* Header ( 글자 입력 시 ) */
.ci .header-cont p {
    font-size: 18px;
    font-weight: 700;
}

.ci .header-cont p:before {
    content: 'Vitson';
    color: #e60012;
}

.ci .header-cont p:after {
    content: 'Pay';
    color: #34BE82;
}

.ci .header-cont {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

/*left:좌측 정렬, center:중앙정렬*/


/* Header - 아이콘 색상 */
.ci .btn_back {
    border-color: #000 !important; /*display: none;*/
}

.ci .btn_close:before, .ci .btn_close:after {
    background: #000 !important; /* display: none;*/
}

/*/HEADER 영역 ////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////*/
/*/체크박스 CHECK BOX //////////////////////////////////////*/
input[class="chk_lg"]:checked + label:before,
input[class="chk_box"]:checked + label:before {
    background: #4466dd !important;
    border-color: #4466dd !important;
}

input[class="chk_sm"]:checked + label:after {
    border-color: #4466dd !important;
}

/*/체크박스 CHECK BOX //////////////////////////////////////*/
/*////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////*/
/*/인풋 필드 INPUT FIELD ////////////////////////////////////*/
.input:focus ~ .label-text,
.input-focus ~ .label-text {
    color: #4466dd !important;
}

/*210826*/
.bar:before,
.bar:after {
    border-color: #4466dd !important;
}

/*210826*/
.select:focus {
    border-color: #4466dd !important;
}

/*/인풋 필드 INPUT FIELD ////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////*/
/*/내용 수정 ////////////////////////////////////////////////*/
.cst-desc-01_pw:before {
    content: '등록할 비밀번호를 입력해 주세요.'
}


/*//////////////////////////////////////////////////////////*/
/*/폰트 지정 ////////////////////////////////////////////////*/

/* noto-sans-kr-100 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/noto-sans-kr-v9-korean-100.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Thin'), local('NotoSansKR-Thin'),
    url('../fonts/noto-sans-kr-v9-korean-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/noto-sans-kr-v9-korean-100.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/noto-sans-kr-v9-korean-100.woff') format('woff'), /* Modern Browsers */ url('../fonts/noto-sans-kr-v9-korean-100.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-300 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/noto-sans-kr-v9-korean-300.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
    url('../fonts/noto-sans-kr-v9-korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/noto-sans-kr-v9-korean-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/noto-sans-kr-v9-korean-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/noto-sans-kr-v9-korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-regular - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-kr-v9-korean-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
    url('../fonts/noto-sans-kr-v9-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/noto-sans-kr-v9-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/noto-sans-kr-v9-korean-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/noto-sans-kr-v9-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-500 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-sans-kr-v9-korean-500.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
    url('../fonts/noto-sans-kr-v9-korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/noto-sans-kr-v9-korean-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/noto-sans-kr-v9-korean-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/noto-sans-kr-v9-korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-700 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/noto-sans-kr-v9-korean-700.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
    url('../fonts/noto-sans-kr-v9-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/noto-sans-kr-v9-korean-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/noto-sans-kr-v9-korean-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/noto-sans-kr-v9-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* noto-sans-kr-900 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/noto-sans-kr-v9-korean-900.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans KR Black'), local('NotoSansKR-Black'),
    url('../fonts/noto-sans-kr-v9-korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/noto-sans-kr-v9-korean-900.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/noto-sans-kr-v9-korean-900.woff') format('woff'), /* Modern Browsers */ url('../fonts/noto-sans-kr-v9-korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}


/*/////////////////////////////////////////////////////////*/
/*/pin 키패드 커스텀 //////////////////////////////////////////*/
/* content:테마타입 [ "","A":default, "B":dark, "C":gray ] ////*/

.inputPinNum .pw-cont {
    content: "";
}

.payregCard .form-cont {
    content: "";
}

/*/////////////////////////////////////////////////////////*/
/*/pin 키패드 커스텀 /////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////*/
/*/결제요쳥 표준 즉시할인 버튼 색상 커스텀 /////////////////////////////////////////////*/

.pay_cont .bdg_coupon {
    background: #FFAA00;
}

/*/////////////////////////////////////////////////////////*/
/*/결제요쳥 표준 즉시할인 버튼 색상 커스텀 /////////////////////////////////////////////*/

/* 카드 간편등록 */
.cardImport h6 {
    color: #000000 !important;
}


.trial .btn_trial {
    display: none !important;
}