@charset 'utf-8';

/*/////////////////////////////////////////////////////////////////*/
/* WPAY Web UI Text Custom CSS  */
/* - 화면 별 문구를 원하는 내용으로 수정하여 사용. */
/*/////////////////////////////////////////////////////////////////*/

/* 이용약관동의 (회원가입) */
.regAgree .cst_title:before {
    content: "회원가입";
}

.regAgree .cst_next_btn:before {
    content: "다 음";
}

/* 휴대폰 본인 인증 (회원가입, 비밀번호 변경) */
.mobilianceVerify .cst_title:before {
    content: "휴대폰 본인 인증";
}

.mobilianceVerify .cst_sub_title:before {
    content: "본인 명의의 휴대폰 정보를 입력해 주세요.";
}

.mobilianceVerify .cst_auth_btn:before {
    content: "인증번호 요청";
}

.mobilianceVerify .cst_next_btn:before {
    content: "다 음";
}

/* 비밀번호 등록 (회원가입, 비밀번호 변경) */
.inputPinNum .cst_regpin1_title:before {
    content: "비밀번호 등록";
}

.inputPinNum .cst_regpin1_sub_title:before {
    content: "등록할 비밀번호를 입력해 주세요.";
}

.inputPinNum .cst_regpin2_title:before {
    content: "비밀번호 등록";
}

.inputPinNum .cst_regpin2_sub_title:before {
    content: "등록할 비밀번호를 다시 입력해 주세요.";
}

/* 카드 등록 */
.payregCard .cst_title:before {
    content: "카드 등록";
}

.payregCard .cst_sub_title:before {
    content: "카드번호를 입력해 주세요.\A본인 명의 카드만 등록 가능합니다.";
    white-space: pre;
}

.payregCard .cst_next_btn:before {
    content: "등 록";
}

/* 내 카드 간편등록 */
.payregCardList .cst_title:before {
    content: "내 카드 불러오기";
}

.payregCardList .cst_sub_title:before {
    content: "카드를 선택하세요.\A한 번에 한 장씩 등록할 수 있습니다.";
    white-space: pre;
}

.cardImport h6:before {
    content: "내 카드 불러오기";
}

.payregCardList .cst_next_btn:before {
    content: "등 록";
}

/* 계좌 등록 [step1] 은행 선택 */
.payregAcctBanks .cst_title:before {
    content: "계좌 등록";
}

.payregAcctBanks .cst_sub_title:before {
    content: "은행을 선택해 주세요.";
}

/* 계좌 등록 [step2] 은행계좌 정보 입력 */
.payregAcctInput .cst_title:before {
    content: "계좌 등록";
}

.payregAcctInput .cst_sub_title:before {
    content: "본인 명의의 계좌 정보를 입력해 주세요.";
}

.payregAcctInput .cst_next_btn:before {
    content: "다 음";
}

/* 계좌 등록[step3] 출금동의 ARS인증 */
.payregAcctWDArs .cst_title:before {
    content: "계좌 등록";
}

.payregAcctWDArs .cst_sub_title:before {
    content: "계좌등록을 위한 자동이체 출금 동의를 위해 ARS인증전화를 드립니다.";
}

.payregAcctWDArs .cst_ars_cont:before {
    content: "ARS 인증";
}

.payregAcctWDArs .cst_next_btn:before {
    content: "ARS 인증 요청";
}

/* 휴대폰 등록 */
.payregPhone .cst_title:before {
    content: "휴대폰 정보 확인";
}

.payregPhone .cst_sub_title:before {
    content: "등록할 휴대폰 정보를 확인해주세요.";
}

.payregPhone .cst_next_btn:before {
    content: "다 음";
}

/* 비밀번호 인증 (비밀번호 인증, 결제 인증 PIN인증) */
.inputPinNum .cst_authpin_title:before {
    content: "비밀번호 인증";
}

.inputPinNum .cst_authpin_sub_title:before {
    content: "비밀번호 6자리를 입력해 주세요.";
}

.inputPinNum .cst_authpin_resetpw_btn:before {
    content: "결제 비밀번호 재설정";
}

/* 결제 인증 ARS 추가인증 */
.arsAuth .cst_title:before {
    content: "ARS 인증";
}

.arsAuth .cst_sub_title:before {
    content: "ARS인증 요청 버튼을 눌러 통화 연결 후 인증번호 네 자리를 입력해 주세요.";
}

.arsAuth .cst_chw_phone_btn:before {
    content: "휴대폰 번호가 변경되셨나요? 발신 번호가 차단되어 있으면 인증이 불가능합니다.";
}

.arsAuth .cst_auth_btn:before {
    content: "ARS 인증 요청";
}

.arsAuth .cst_reauth_btn:before {
    content: "ARS 인증 재요청";
}

.arsAuth .cst_next_btn:before {
    content: "ARS 인증 완료";
}

/* 결제 요청 - 표준 */
.payreqauthStdMain .cst_stdmain_title:before {
    content: "결제수단 선택";
}

.payreqauthStdMain .cst_stdmain_agree_btn:before {
    content: "결제 내용을 확인하였고, 동의합니다.";
}

.payreqauthStdMain .cst_stdmain_next_btn:before {
    content: "결 제";
}

.payreqauthStdMain .cst_stdmain_add_btn:before {
    content: "결제수단 추가";
}

/* 자동결제 신청 표준(정기결제) */
.payreqauthStdMain .cst_auto_stdmain_title:before {
    content: "자동 결제 수단 선택";
}

.payreqauthStdMain .cst_auto_stdmain_agree_btn:before {
    content: "자동 결제 신청에 동의합니다.";
}

.payreqauthStdMain .cst_auto_stdmain_next_btn:before {
    content: "결 제";
}

.payreqauthStdMain .cst_auto_stdmain_add_btn:before {
    content: "결제수단 추가";
}

/* 분할결제 요청 */
.prttPayreqStdMain .cst_prttstdmain_title:before {
    content: "분할결제 설정";
}

.prttPayreqStdMain .cst_prttstdmain_subtitle:before {
    content: "결제수단별 결제금액을 설정하세요.";
}

.prttPayreqStdMain .cst_prttstdmain_pay_popup_title:before {
    content: "분할결제 설정 내역 확인";
}

.prttPayreqStdMain .cst_prttstdmain_pay_popup_sub_title:before {
    content: "설정하신 내역으로 결제를 진행합니다.";
}

.prttPayreqStdMain .cst_prttstdmain_pin_popup_title:before {
    content: "결제 비밀번호 인증";
}

.prttPayreqStdMain .cst_prttstdmain_pin_popup_sub_title:before {
    content: "비밀번호 6자리를 입력해 주세요.";
}

.prttPayreqStdMain .cst_prttstdmain_add_btn:before {
    content: "결제수단 추가";
}
