// -----------------------------------------------------------------------------
// components-mo/_breadcrumb.scss
// - 카테고리 경로 표시 및 탐색을 위한 모바일 UI 스타일 정의.
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

// 상품 목록
.vm-breadcrumb-list {
  background: color.$color-white;

  .vm-breadcrumb {
    &-items {
      @include mx.flex(flex, row, flex-start, center);
      @include mx.pc-hide-scrollbar;
      min-width: 100%;
      padding: map.get(var.$unit, 12) 0;
      overflow: auto hidden;

      > li {
        @include mx.flex(flex, row, flex-start, center);

        &:first-of-type {
          padding-left: var.$mo-gutter;
        }

        &:last-of-type {
          padding-right: var.$mo-gutter;
        }

        &:not(:last-of-type)::after {
          display: block;
          flex-shrink: 0;
          width: map.get(var.$unit, 12);
          height: map.get(var.$unit, 12);
          margin: 0 map.get(var.$unit, 2);
          color: map.get(color.$icon-neutral, 'primary');
          content: '';
          background: currentcolor;
          mask: url('/public/resources/img/mro/renewal/ic/ic-arrow-right.svg') no-repeat center / contain;
        }
      }
    }

    &-btn {
      @include button.btn-reset;
      @include mx.flex(flex, row, center, center);
      flex-shrink: 0;
      height: fn.rem(28);
      padding: 0 map.get(var.$unit, 12);
      white-space: nowrap;
      border-radius: map.get(var.$radius, 'xl');
      box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'quinary');

      .text {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));

        @media (width >= 744px) {
          font-size: fn.rem(calc(12px * 1.3));
        }
      }

      &.is-current {
        box-shadow: inset 0 0 0 1px map.get(color.$text-colors, 'tertiary');

        .text {
          color: map.get(color.$text-colors, 'primary');
        }
      }
    }
  }
}
