// -----------------------------------------------------------------------------
// components-mo/_filter.scss
// - 모바일 필터 영역 UI 공통 스타일 정의
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

$filter-dt-width: fn.rem(98);

@mixin filter-product-divider {
  @include mx.flex(flex, row, flex-start, center);

  &::after {
    position: relative;
    z-index: var.$zindex-base;
    display: block;
    flex-shrink: 0;
    width: fn.rem(13);
    height: var.$mo-gutter;
    margin-left: auto;
    content: '';
    background: linear-gradient(
      to right,
      transparent 12px,
      map.get(color.$layout-border, 'quaternary') 12px,
      map.get(color.$layout-border, 'quaternary') 13px,
      transparent 13px
    );
  }
}

@mixin fade-edge($direction: right, $color: #fff, $size: 40px, $opacity: 0.7) {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    width: $size;
    height: 100%;
    pointer-events: none;
    content: '';
    background: linear-gradient(to $direction, rgba($color, 0), rgba($color, $opacity));
    #{$direction}: 0;
  }
}

@mixin filter-btn {
  .filter-product-more {
    [class*='vits-btn-'] {
      .text {
        color: map.get(color.$button-ghost-tertiary, 'ghost-on_surf-tertiary-default');
      }
    }

    &:has(+ .filter-product-selected) {
      @include filter-product-divider;
      width: $filter-dt-width;
      padding-right: 0;
    }

    &.is-selected {
      [class*='vits-btn-'] {
        border-color: map.get(color.$button-ghost-secondary, 'ghost-on_surf-secondary-default');

        .icon,
        .text {
          color: map.get(color.$button-ghost-secondary, 'ghost-on_surf-secondary-default');
        }

        .icon {
          @include mx.position(relative);

          &::after {
            @include mx.position(absolute, -2px, -2px);
            z-index: var.$zindex-base;
            width: map.get(var.$unit, 8);
            height: map.get(var.$unit, 8);
            content: '';
            background: map.get(color.$icon-colors, 'primary');
            border-radius: 50%;
            box-shadow: inset 0 0 0 1px color.$color-white;
          }
        }
      }
    }
  }
}

@mixin tree-depth-row($depth: 1) {
  .category-tree-depth#{$depth} > .category-tree-item > .category-tree-row {
    @content;
  }
}

.vm-filter-product {
  width: 100%;

  &-inner {
    background: color.$color-white;
  }

  .filter-product {
    &-group {
      display: grid;
      grid-template-columns: minmax(auto, $filter-dt-width) 1fr;

      dt,
      dd {
        padding-top: map.get(var.$unit, 12);
        padding-bottom: map.get(var.$unit, 12);
        box-shadow: inset 0 -1px 0 0 map.get(color.$layout-border, 'quinary');
      }
    }

    &-label {
      @include filter-product-divider;
      @include typo.typography('b3s');
      padding-left: var.$mo-gutter;
    }

    &-items {
      @include mx.flex;
      gap: var.$mo-gutter;
      min-width: 0;
      padding-right: var.$mo-gutter;
      padding-left: map.get(var.$unit, 12);
      overflow-x: auto;

      .vm-ckbox-text {
        flex-shrink: 0;
      }
    }

    &-more {
      width: 100%;
      padding: 0 var.$mo-gutter;

      [class*='vits-btn-'] {
        width: 100%;
      }
    }

    &-bar {
      @include mx.flex(flex, row, flex-start, flex-start);
      padding: map.get(var.$unit, 12) 0 var.$mo-section-gap;

      @include filter-btn;
    }

    &-selected {
      flex-grow: 1;
      min-width: 0;
      padding-left: map.get(var.$unit, 12);

      @include fade-edge(right, #fff, 18px, 1);

      .vits-chip-button-group {
        gap: map.get(var.$unit, 4);

        .vits-chip-button {
          max-width: calc(100% - var.$mo-gutter);

          &:last-of-type {
            margin-right: var.$mo-gutter;
          }
        }
      }
    }
  }
}

// 필터 팝업
$filter-section-divider: inset 0 -1px 0 0 map.get(color.$layout-surf, 'secondary');

// kendo-window 필터전용 적용
.vm-scope .k-window.is-slideright:has(.vm-filter-popup) {
  .vm-modal-footer {
    box-shadow: map.get(var.$box-shadow, 'mo_menu');
  }
}

.vm-filter-popup {
  padding-bottom: map.get(var.$unit, 20);

  // 결과 내 재검색
  .filter-popup-search {
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 20);
    padding: map.get(var.$unit, 12) var.$mo-gutter var.$mo-section-gap;
    box-shadow: $filter-section-divider;

    &-title {
      @include typo.typography('b2s', $color: #101828);
    }

    // 모바일
    .vits-input-search.mo-filter-search {
      .vits-input-search-form {
        .input-search {
          padding-right: fn.rem(46);
          font-weight: 400;

          &-btn {
            right: 17px;
          }
        }
      }
    }
  }

  // 필터 분류
  .filter-popup-section {
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 20);
    width: 100%;
    padding: var.$mo-section-gap var.$mo-gutter;
    box-shadow: $filter-section-divider;

    .filter-popup {
      &-button {
        @include button.btn-reset;
        @include mx.flex(flex, row, space-between, center);
        width: 100%;

        .text {
          @include typo.typography('b2s', $color: #0a0a0a);
        }

        .icon {
          @include icon.ic-size(map.get(var.$unit, 20));
          transition: transform 0.3s;
          will-change: transform;
        }

        &[aria-expanded='true'] {
          .icon {
            transform: rotate(180deg);
          }
        }
      }

      &-body {
        @include mx.flex(flex, column);
        gap: map.get(var.$unit, 20);

        [data-search-more-scope] {
          @include mx.flex(flex, column);
          gap: var.$mo-gutter;

          .filter-more {
            padding-top: map.get(var.$unit, 4);

            &-button {
              @include button.btn-reset;
              @include mx.flex(flex, row, center, center);
              @include mx.border('all', $color: map.get(color.$button-ghost-tertiary, 'ghost-border-tertiary-default'));
              gap: map.get(var.$unit, 8);
              width: 100%;
              height: map.get(var.$unit, 32);
              padding: fn.rem(6) map.get(var.$unit, 12);
              background: map.get(color.$button-ghost-tertiary, 'ghost-surf-tertiary-default');
              border-radius: map.get(var.$radius, 'sm');

              .text,
              .count {
                @include typo.typography(
                  'b3r',
                  $color: map.get(color.$button-ghost-tertiary, 'ghost-on_surf-tertiary-default')
                );
              }

              .count {
                font-style: normal;
              }

              .icon {
                @include icon.ic-size(map.get(var.$unit, 20));
                color: map.get(color.$button-ghost-tertiary, 'ghost-on_surf-tertiary-default');
              }
            }
          }
        }
      }
    }

    &:last-of-type {
      box-shadow: none;
    }
  }

  // 모바일 필터 팝업 - 카테고리 트리
  .vits-category-tree-list {
    @include mx.flex(flex, column);
    gap: var.$mo-gutter;

    & + [data-search-more-toggle] {
      margin-top: 0;
    }
  }

  .category-tree-depth1 {
    > .category-tree-item {
      @include mx.flex(flex, column);
      gap: var.$mo-gutter;
    }
  }

  .category-tree-depth2,
  .category-tree-depth3,
  .category-tree-depth4 {
    @include mx.flex(flex, column);
    gap: var.$mo-gutter;
    padding-left: 0;

    .category-tree-panel {
      margin-top: var.$mo-gutter;
    }
  }

  @include tree-depth-row(1) {
    padding: 0;

    .vits-checkbox-item {
      gap: map.get(var.$unit, 8);
    }
  }

  @include tree-depth-row(2) {
    padding: 0;

    .vits-checkbox-item {
      gap: map.get(var.$unit, 20);

      .label {
        color: map.get(color.$text-colors, 'tertiary');
      }
    }
  }

  @include tree-depth-row(3) {
    padding: 0;

    .vits-checkbox-item {
      gap: map.get(var.$unit, 36);

      .label {
        color: map.get(color.$text-colors, 'tertiary');
      }
    }
  }

  @include tree-depth-row(4) {
    padding: 0;

    .vits-checkbox-item {
      gap: map.get(var.$unit, 52);

      .label {
        color: map.get(color.$text-colors, 'tertiary');
      }
    }
  }

  .category-tree {
    &-row {
      @include mx.flex(flex, row, space-between, flex-start);
      gap: var.$mo-gutter;
      min-height: 0;

      .vits-checkbox-item {
        flex-grow: 1;
        min-width: 0;
        max-width: fit-content;

        /* stylelint-disable-next-line no-descending-specificity */
        .icon {
          align-self: flex-start;
          margin-top: 1px;
        }
      }

      &:has(.category-tree-toggle) {
        .vits-checkbox-item {
          margin-top: 1px;
        }
      }
    }

    &-toggle {
      @include button.btn-reset;
      position: relative;
      flex-shrink: 0;
      width: map.get(var.$unit, 20);
      height: map.get(var.$unit, 20);

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 13px;
        height: 1px;
        content: '';
        background: map.get(color.$icon-neutral, 'tertiary');
        border-radius: 2px;
        transition: transform 0.3s;
        transform: translate(-50%, -50%);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      &[aria-expanded='true']::after {
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }

    &-panel {
      display: none;

      &.is-open {
        display: block;
      }
    }
  }
}
