// -----------------------------------------------------------------------------
// components-mo/_floating.scss
// - 모바일 플로팅 메뉴
// -----------------------------------------------------------------------------

@use 'sass:map';
@use 'sass:math';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

$common-coords: map.get(var.$unit, 8);
$common-size: map.get(var.$unit, 40);

.vm-floating {
  &-section {
    @include mx.position(
      fixed,
      $bottom: calc(map.get(var.$mo-bottom-bar, 'tab-bar') + env(safe-area-inset-bottom, 0px)),
      $right: $common-coords
    );
    z-index: map.get(var.$mo-zindex, 'floating');
    padding-bottom: $common-coords;
    pointer-events: none;
    transition: bottom 0.3s ease;
  }

  &-top {
    @include button.btn-reset;
    @include mx.flex(flex, row, center, center);
    width: $common-size;
    height: $common-size;
    pointer-events: none;
    background: map.get(color.$layout-surf, 'base');
    filter: drop-shadow(0 4px 7px rgb(0 0 0 / 4%));
    border-radius: $common-size;
    box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'secondary');
    opacity: 0;
    transition: opacity 0.3s ease;

    &.is-visible {
      pointer-events: auto;
      opacity: 1;
    }

    img {
      width: map.get(var.$unit, 32);
      aspect-ratio: 35 / 24;
    }
  }
}

@each $name, $height in var.$mo-bottom-bar {
  @if $name != 'tab-bar' {
    .vm-wrap:has([class*='#{$name}']) {
      .vm-floating-section {
        bottom: calc(#{$height} + env(safe-area-inset-bottom, 0px));
      }
    }
  }
}
