// -----------------------------------------------------------------------------
// components-mo/_form.scss
// - 모바일 폼 요소(input, select, textarea 등) 공통 UI 스타일 정의.
// -----------------------------------------------------------------------------

@use 'sass:list';
@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

// 텍스트형 체크박스
.vm-ckbox-text {
  position: relative;

  input {
    @include mx.sr-only;
  }

  .label {
    @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
  }

  &:has(input:checked) {
    .label {
      font-weight: 700;
      color: map.get(color.$text-colors, 'default');
    }
  }
}

// 폴더 체크박스
.vm-ckbox-folder {
  @include mx.flex;
  position: relative;
  gap: map.get(var.$unit, 12);
  width: 100%;
  padding: map.get(var.$unit, 12) var.$mo-gutter;
  cursor: pointer;
  user-select: none;
  background: color.$color-white;
  border-radius: map.get(var.$radius, 'lg');

  .ckbox-folder {
    &-icon {
      position: relative;
      display: block;
      flex-shrink: 0;
      width: var.$mo-gutter;
      height: var.$mo-gutter;
      margin-top: fn.rem(0.5);
      background: color.$color-white;
      border-radius: map.get(var.$radius, 'sm');
      box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'tertiary');
    }

    &-body {
      @include mx.flex(flex, column);
      flex-grow: 1;
      gap: map.get(var.$unit, 8);
      min-width: 0;
    }

    &-name,
    &-desc {
      @include mx.flex;
      @include mx.ellipsis-multi;
      width: 100%;
    }

    &-name {
      @include typo.typography('b3s');
    }

    &-desc {
      @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
      margin-top: map.get(var.$unit, 2);
    }

    &-meta {
      @include mx.flex(flex, row);
      gap: map.get(var.$unit, 8);
    }

    &-ea {
      @include typo.typography('b4s', $color: map.get(color.$text-status, 'info-soft'));
    }

    &-date {
      @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
    }
  }

  &:has(input:checked) {
    .ckbox-folder-icon {
      &::before {
        @include mx.position(absolute, 0, 0, 0, 0);
        z-index: var.$zindex-base;
        content: '';
        background: url('/public/resources/img/mro/renewal/ic/ic-check-on.svg') no-repeat center / contain;
        box-shadow: inset 0 0 0 0 map.get(color.$layout-surf, 'brand');
      }
    }
  }
}
