// -----------------------------------------------------------------------------
// components-mo/_form.scss
// - 모바일 폼 요소(input, select, textarea 등) 공통 UI 스타일 정의.
// -----------------------------------------------------------------------------

@use 'sass:list';
@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

// input-item : mobile
// input 자동완성 감지용 (0s 애니메이션으로 JS에 알림)
@keyframes on-auto-fill-start {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.vits-input {
  .input-item input {
    color: map.get(color.$text-colors, 'primary');

    &:-webkit-autofill {
      animation-name: on-auto-fill-start;
    }
  }

  &.is-filled .input-item {
    box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'primary');
  }
}

// 텍스트형 체크박스
.vm-ckbox-text {
  position: relative;

  input {
    @include mx.sr-only;
  }

  .label {
    @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
  }

  &:has(input:checked) {
    .label {
      font-weight: 700;
      color: map.get(color.$text-colors, 'default');
    }
  }
}

// 폴더 체크박스
.vm-ckbox-folder {
  @include mx.flex;
  position: relative;
  gap: map.get(var.$unit, 12);
  width: 100%;
  padding: map.get(var.$unit, 12) var.$mo-gutter;
  cursor: pointer;
  user-select: none;
  background: color.$color-white;
  border-radius: map.get(var.$radius, 'lg');

  .ckbox-folder {
    &-icon {
      position: relative;
      display: block;
      flex-shrink: 0;
      width: var.$mo-gutter;
      height: var.$mo-gutter;
      margin-top: fn.rem(0.5);
      background: color.$color-white;
      border-radius: map.get(var.$radius, 'sm');
      box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'tertiary');
    }

    &-body {
      @include mx.flex(flex, column);
      flex-grow: 1;
      gap: map.get(var.$unit, 8);
      min-width: 0;
    }

    &-name,
    &-desc {
      @include mx.flex;
      @include mx.ellipsis-multi;
      width: 100%;
    }

    &-name {
      @include typo.typography('b3s');
    }

    &-desc {
      @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
      margin-top: map.get(var.$unit, 2);
    }

    &-meta {
      @include mx.flex(flex, row);
      gap: map.get(var.$unit, 8);
    }

    &-ea {
      @include typo.typography('b4s', $color: map.get(color.$text-status, 'info-soft'));
    }

    &-date {
      @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
    }
  }

  &:has(input:checked) {
    .ckbox-folder-icon {
      &::before {
        @include mx.position(absolute, 0, 0, 0, 0);
        z-index: var.$zindex-base;
        content: '';
        background: url('/public/resources/img/mro/renewal/ic/ic-check-on.svg') no-repeat center / contain;
        box-shadow: inset 0 0 0 0 map.get(color.$layout-surf, 'brand');
      }
    }
  }
}

// 텍스트 박스형 체크박스 => button 변경
.vm-checkbox-text-box {
  @include button.btn-reset;
  @include mx.flex(flex, row, flex-start, center);
  position: relative;
  max-width: 100%;
  height: fn.rem(30);
  padding: 0 map.get(var.$unit, 12);
  border-radius: map.get(var.$radius, 'sm');
  box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'quaternary');

  .text {
    @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
    @include mx.ellipsis-single;
  }

  &.is-active {
    box-shadow: inset 0 0 0 1px map.get(color.$icon-colors, 'hover');

    .text {
      font-weight: 600;
      color: map.get(color.$text-status, 'brand-sub');
    }
  }
}

/* ================================================
======================= 팝업 =======================
================================================ */
// AD 신청하기 form
.vm-form {
  &-list {
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 12);
  }

  &-item {
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 8);
    width: 100%;

    &-label {
      @include typo.typography('b3s', $color: map.get(color.$text-colors, 'primary'));
      flex-shrink: 0;

      &[class*='label-'] {
        &[class*='weight-400'] {
          font-weight: 400;
        }

        &[class*='color-tertiary'] {
          color: map.get(color.$text-colors, 'tertiary');
        }
      }
    }
  }

  &-agree {
    height: fn.rem(240);
    padding: map.get(var.$unit, 12) map.get(var.$unit, 4) map.get(var.$unit, 8) map.get(var.$unit, 12);
    margin-top: map.get(var.$unit, 12);
    overflow: hidden;
    background: map.get(color.$layout-surf, 'raised');
    border-radius: map.get(var.$radius, 'lg');

    p {
      @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
    }

    &-inner {
      width: 100%;
      height: 100%;
      padding-right: map.get(var.$unit, 4);
      overflow: hidden auto;

      > div + div {
        margin-top: fn.rem(16);
      }
    }
  }

  &-actions {
    @include mx.flex(flex, row, center, center);
    padding-top: var.$mo-gutter;

    [class*='checkbox-single-'] {
      &::before {
        align-self: flex-start;
        margin-top: fn.rem(1);
      }

      .agree-text {
        font-size: fn.rem(14);
        color: map.get(color.$text-colors, 'primary');
      }
    }
  }
}
