// -----------------------------------------------------------------------------
// components-mo/_overflow-menu.scss
// - 오버플로우(더보기) 메뉴 스타일
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

.vm-overflow-menu {
  position: relative;

  .overflow-trigger {
    @include button.btn-reset;
    @include icon.ic-size(map.get(var.$unit, 24));
  }

  .overflow-list {
    @include mx.position(absolute, 100%, 0);
    z-index: map.get(var.$mo-zindex, 'overflow-menu');
    display: none;
    width: max-content;
    min-width: fn.rem(80);
    max-width: calc(100vw - (var.$mo-gutter * 2) - env(safe-area-inset-left) - env(safe-area-inset-right));
    padding: map.get(var.$unit, 8) 0;
    word-break: break-word;
    overflow-wrap: anywhere;
    background: color.$color-white;
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px #000;

    li {
      button {
        @include button.btn-reset;
      }

      a,
      button {
        @include typo.typography('b3r', $color: map.get(color.$neutral-colors, '1'));
        display: block;
        width: 100%;
        min-height: map.get(var.$unit, 32);
        padding: fn.rem(7) var.$mo-gutter;
        text-align: left;
      }
    }
  }

  &.is-open .overflow-list {
    display: block;
  }
}
