<% const _src = srcPath; const _public = publicPath; %>
<!-- 쿠폰받기 modal -->
<!-- prettier-ignore -->
<div class="vits-modal-product-modal get-coupon-modal" 
  id="get-coupon-modal"
  data-layer-box="get-coupon-modal"
  data-layer-type="modal"
  data-layer-lock="true"
  data-layer-outside="true"
  role="dialog"
  aria-modal="true"
  aria-labelledby="coupon-title"
>
  <div class="vits-modal-product-dim" aria-hidden="true" data-layer-close></div>
  <div class="vits-modal-product-panel">
    <div class="vits-modal-product-head">
      <h2 id="coupon-title">쿠폰 다운로드 및 적용<span class="description">해당 상품에 제공되는 전체 쿠폰 목록입니다.</span></h2>
      <div class="vits-modal-product-close">
        <button type="button" class="icon" data-layer-close>
          <i class="ic ic-x"></i>
        </button>
      </div>
    </div>
    <div class="vits-modal-product-body">
      <div class="vits-modal-product-content">
        <div class="coupon-list-box vits-scrollbar">
          <ul>
            <% for (let i = 0; i < 3; i++) { %>
            <li>
              <div class="coupon-item">
                <div class="coupon-item-left">
                  <span class="coupon-item-badge">
                    <strong class="coupon-item-badge-value">15%</strong>
                  </span>
                </div>

                <div class="coupon-item-body">
                  <strong class="coupon-item-title">크리스마스 특별 쿠폰 15% 할인</strong>
                  <p class="coupon-item-period">사용기간: 2024.12.20 ~ 2024.12.26</p>
                  <p class="coupon-item-desc">적용상품: LED 전구, 인테리어 전구, 니트램프</p>
                </div>

                <div class="coupon-item-right">
                  <!-- prettier-ignore -->
                  <%- include(`${_src}/views/components/button/button.ejs`, { size:'lg', variant: 'outline-primary', text: '쿠폰받기', iconLeft: true, iconName: 'ic-line-download' }) %>
                </div>
              </div>
            </li>
            <% } %>
            <!-- disabled  -->
            <li>
              <div class="coupon-item disabled">
                <div class="coupon-item-left">
                  <span class="coupon-item-badge">
                    <strong class="coupon-item-badge-value">15%</strong>
                  </span>
                </div>

                <div class="coupon-item-body">
                  <strong class="coupon-item-title">크리스마스 특별 쿠폰 15% 할인크리스마스 특별 쿠폰 15% 할인</strong>
                  <p class="coupon-item-period">사용기간: 2024.12.20 ~ 2024.12.26사용기간: 2024.12.20 ~ 2024.12.26</p>
                  <p class="coupon-item-desc">
                    적용상품: LED 전구, 인테리어 전구, 니트램프적용상품: LED 전구, 인테리어 전구, 니트램프
                  </p>
                </div>

                <div class="coupon-item-right">
                  <!-- prettier-ignore -->
                  <%- include(`${_src}/views/components/button/button.ejs`, { size:'lg', variant: 'outline-primary', text: '쿠폰받기', iconLeft: true, iconName: 'ic-line-download' }) %>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="vits-modal-product-buttons">
        <!-- prettier-ignore -->
        <%- include(`${_src}/views/components/button/button.ejs`, {
          size:'xxl', 
          variant: 'secondary', 
          text: '취소',
          className: 'btn-cancel'
        }) %>
        <%- include(`${_src}/views/components/button/button.ejs`, {
          size:'xxl', 
          variant: 'primary', 
          text: '전체 받기',
          className: 'btn-all-receive'
        }) %>
      </div>
    </div>
  </div>
</div>
