// -----------------------------------------------------------------------------
// layout/_footer.scss
// - 푸터 내부 UI 전용. 레이아웃(높이/배치)은 layout/_wrapper.scss에서만 제어.
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

.vits-footer {
  background: map.get(color.$layout-surf, 'footer');

  > .vits-inner {
    @include mx.flex(flex, row, flex-start, stretch);
    padding: map.get(var.$unit, 24) 0;
  }

  &-customer {
    padding: map.get(var.$unit, 12);
    background: map.get(color.$layout-surf, 'primary');

    .vits-inner {
      @include mx.flex(flex, row, flex-start, center, wrap);

      .footer-customer {
        &-title {
          @include typo.typography('h4s', $color: map.get(color.$text-colors, 'inverse'));
        }

        &-tel {
          @include typo.typography('h3s', $color: map.get(color.$text-colors, 'inverse'));
        }

        &-schedule {
          @include typo.font-style(
            $weight: 400,
            $size: 14,
            $line-height: fn.rem(20),
            $color: map.get(color.$text-colors, 'tertiary')
          );
        }

        &-btn {
          @include mx.flex(flex, row, center, center);
          gap: map.get(var.$unit, 4);

          .icon {
            @include icon.ic-size(map.get(var.$unit, 20));
            color: map.get(color.$icon-neutral, 'tertiary');
          }

          .text {
            @include typo.typography('b3r', $color: map.get(color.$text-colors, 'muted'));
          }

          &:is(button) {
            @include button.btn-reset;
            background: transparent;
          }
        }
      }
    }

    [class*='vits-footer-customer-'] {
      @include mx.flex(flex, row, flex-start, center);
    }

    &-info {
      gap: map.get(var.$unit, 8);
    }

    &-hours {
      gap: map.get(var.$unit, 4);
      margin: 0 auto 0 fn.rem(46);
    }

    &-actions {
      gap: map.get(var.$unit, 24);
    }
  }

  &-brand {
    width: fn.rem(144);
    margin-right: fn.rem(84);
  }

  &-logo {
    width: 100%;
  }

  &-company {
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 20);
  }

  &-links {
    @include mx.flex(flex, row, flex-start, center);
    gap: map.get(var.$unit, 56);

    .footer-link {
      @include typo.typography('b3r', $color: color.$color-white);

      &.link-bold {
        font-weight: 700;
      }
    }
  }

  &-info {
    > li {
      &:not(:has(.company-name)) {
        @include mx.divider('p', 1, 12, 6, $color: map.get(color.$text-colors, 'tertiary'));
      }

      &:has(.company-name) {
        @include mx.divider('p', 1, 12, 12, $color: map.get(color.$text-colors, 'muted'));
      }

      &:first-of-type {
        margin-bottom: map.get(var.$unit, 8);
      }

      &:not(:first-of-type, :last-of-type) {
        margin-bottom: map.get(var.$unit, 2);
      }
    }

    .company {
      &-name,
      &-email {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'muted'));
      }

      &-email {
        text-decoration: underline;
        text-underline-offset: 3px;
      }

      &-text {
        @include mx.flex(flex, row, flex-start, center);
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
        gap: map.get(var.$unit, 4);
      }

      &-tel {
        font: inherit;
        color: currentcolor;

        @include mx.hoverable-only {
          cursor: text;
        }
      }

      &-btn-lookup {
        @include button.btn-reset;
        @include mx.flex(inline-flex);
        @include typo.typography('b3r', $color: map.get(color.$neutral-colors, '6'));
      }
    }
  }

  &-copyright {
    @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
  }

  &-utility {
    @include mx.flex(flex, column, flex-start, flex-start);
    margin-left: auto;

    &-group {
      @include mx.flex(flex, row, flex-end, flex-start);
      gap: map.get(var.$unit, 40);
      width: 100%;

      // dropdown
      .footer-familysite {
        width: fn.rem(178);
      }
    }
  }

  &-sns {
    @include mx.flex;
    gap: map.get(var.$unit, 16);

    .footer-sns {
      @include mx.flex(flex, row, center, center);
      @include mx.border('all', $color: map.get(color.$layout-border, 'secondary'));
      position: relative;
      width: fn.rem(37);
      height: fn.rem(37);
      border-radius: 50%;

      /* stylelint-disable-next-line no-descending-specificity */
      .icon {
        display: block;
        width: fn.rem(24);
        height: fn.rem(24);
        color: map.get(color.$layout-border, 'secondary');
        background: currentcolor;
        mask: no-repeat center / fn.rem(24);
      }

      &.youtube {
        .icon {
          mask-image: url('/public/resources/img/mro/renewal/logo/logo-youtube.svg');
        }
      }

      &.insta {
        .icon {
          mask-image: url('/public/resources/img/mro/renewal/logo/logo-instagram.svg');
        }
      }

      &.naver {
        .icon {
          width: fn.rem(16);
          height: fn.rem(16);
          mask-image: url('/public/resources/img/mro/renewal/logo/logo-naver.svg');
        }
      }
    }
  }

  &-cert {
    @include mx.flex(flex, row, flex-end, center);
    gap: fn.rem(10);
    width: 100%;
    margin-top: auto;

    .footer-cert {
      &-logos {
        @include mx.flex(flex, row, flex-start, center);
        gap: fn.rem(10);
      }

      &-logo {
        display: block;

        &.cert-kftc {
          width: fn.rem(56);
        }

        &.cert-inipay {
          height: fn.rem(46);

          img {
            width: auto;
            height: 100%;
          }
        }
      }

      &-desc {
        .title {
          @include typo.typography('b5s', $color: map.get(color.$gray-shades, '60'));
        }

        .text {
          @include typo.typography('b5r', $color: map.get(color.$gray-shades, '60'));
          margin-top: map.get(var.$unit, 4);
        }
      }
    }
  }

  /* 사업자정보조회 모달 팝업 */
  &-modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: none;

    &.is-open {
      display: block;
    }

    &-dim {
      position: absolute;
      inset: 0;
      background: rgb(0 0 0 / 55%);
    }

    &-panel {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      width: calc(100% - 32px);
      max-width: 520px;
      max-height: calc(100% - 32px);
      overflow: hidden;
      background: #fff;
      border-radius: map.get(var.$radius, 'lg');
      transform: translate(-50%, -50%);
    }

    &-head {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: space-between;
      padding: 14px 16px;
      border-bottom: 1px solid #e6e6e6;
    }

    &-title {
      margin: 0;
      font-size: 16px;
      line-height: 1.3;
    }

    &-close {
      padding: 8px;
      cursor: pointer;
      background: transparent;
      border: 0;
    }

    &-body {
      padding: 16px;
      overflow: auto;
    }

    &-status {
      margin: 0 0 12px;
      font-size: 14px;
      line-height: 1.4;
      color: #555;
    }

    &-foot {
      display: flex;
      justify-content: flex-end;
      padding: 12px 16px;
      border-top: 1px solid #e6e6e6;
    }

    &-btn {
      padding: 10px 14px;
      cursor: pointer;
      background: #f6f6f6;
      border: 1px solid #d0d0d0;
      border-radius: 10px;
    }

    &-table-inner {
      width: 100%;
      overflow: hidden;
      border-collapse: collapse;
      border: 1px solid #e6e6e6;
      border-radius: 10px;

      th,
      td {
        padding: 10px 12px;
        font-size: 14px;
        line-height: 1.4;
        vertical-align: top;
        border-top: 1px solid #e6e6e6;
      }

      tr:first-child {
        th,
        td {
          border-top: 0;
        }
      }

      /* stylelint-disable-next-line no-descending-specificity */
      th {
        font-weight: 600;
        color: #333;
        text-align: left;
        background: #fafafa;
      }

      /* stylelint-disable-next-line no-descending-specificity */
      td {
        color: #444;
      }
    }

    &-note {
      margin: 10px 2px 0;
      font-size: 12px;
      line-height: 1.4;
      color: #777;
    }
  }
}

/** footer nodata 저작권 문구 + 배경색상 스타일 */
.vits-footer-nodata {
  background: map.get(color.$layout-surf, 'mypage');

  > .vits-inner {
    justify-content: center;
    padding: fn.rem(25) 0 fn.rem(49);

    @include mx.border('top', $color: map.get(color.$icon-neutral, 'disabled'));

    .vits-footer-copyright {
      @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
      text-align: center;
    }
  }
}
