// -----------------------------------------------------------------------------
// layout/_side.scss
// - 콘텐츠 옆 사이드 영역 배치를 위한 공통 레이아웃 스타일 정의.
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;
@use '@/assets/scss/pages/mypage' as mypage;

/* 커테고리 목록 - 왼쪽 side */
.vits-side-plp {
  box-sizing: content-box;
  width: fn.rem(260);
  padding-right: map.get(var.$unit, 32);
  margin-right: map.get(var.$unit, 32);

  .plp-side {
    &-category,
    &-filter-item {
      @include mx.flex(flex, column, flex-start, flex-start);
      gap: map.get(var.$unit, 24);
      width: 100%;
    }

    &-category {
      padding-bottom: map.get(var.$unit, 32);
    }

    &-title {
      @include typo.typography('b1s', $color: map.get(color.$text-colors, 'primary'));
    }

    &-filter {
      &-list {
        @include mx.flex(flex, column, flex-start, flex-start);
        gap: map.get(var.$unit, 32);

        > li {
          @include mx.flex(flex, column, flex-start, flex-start);
          @include mx.border('top', $color: map.get(color.$layout-border, 'quaternary'));
          gap: map.get(var.$unit, 24);
          width: 100%;
          padding-top: map.get(var.$unit, 32);

          .filter-more {
            margin-top: map.get(var.$unit, 24);
          }
        }
      }
    }

    &-filter-items {
      width: 100%;

      &:not(:has(.filter-more)) {
        max-height: 50vh;
        overflow: hidden auto;
      }
    }

    &-filter-item {
      & ~ .plp-side-filter-item {
        margin-top: map.get(var.$unit, 16);
      }
    }
  }

  &:not(:has(.vits-category-tree)) {
    .plp-side-filter-list > li {
      &:first-of-type {
        padding-top: 0;
        border-top: 0;
      }
    }
  }
}

/* 마이페이지 왼쪽 메뉴 */
.vits-side-mypage {
  @include mx.flex(flex, column, flex-start, flex-start);
  flex: 0 0 fn.rem(304);
  gap: map.get(var.$unit, 20);
  box-shadow: map.get(var.$box-shadow, 'elevation_1');

  .mypage-sidemenu {
    @include mypage.roundbox-white;
    width: 100%;

    &-title {
      @include typo.typography('h1b', $color: #101828);
    }

    &-link {
      @include typo.typography('b2r');
      display: inline-block;
      margin-bottom: map.get(var.$unit, 16);
    }
  }
}
