// -----------------------------------------------------------------------------
// layout/_side.scss
// - 콘텐츠 옆 사이드 영역 배치를 위한 공통 레이아웃 스타일 정의.
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;
@use '@/assets/scss/pages/mypage' as mypage;

$link-height: map.get(var.$unit, 52);
$link-padding: map.get(var.$unit, 32);

@mixin link-hover {
  &.is-active {
    font-weight: 700;
    color: map.get(color.$text-colors, 'primary');
  }

  @include mx.common-mouse-event {
    font-weight: 700;
    color: map.get(color.$text-colors, 'primary');
    background: map.get(color.$layout-surf, 'raised');
  }
}

/* 커테고리 목록 - 왼쪽 side */
.vits-side-plp {
  box-sizing: content-box;
  width: fn.rem(260);
  padding-right: map.get(var.$unit, 32);
  margin-right: map.get(var.$unit, 32);

  .plp-side {
    &-category,
    &-filter-item {
      @include mx.flex(flex, column, flex-start, flex-start);
      gap: map.get(var.$unit, 24);
      width: 100%;
    }

    &-category {
      padding-bottom: map.get(var.$unit, 32);
    }

    &-title {
      @include typo.typography('b1s', $color: map.get(color.$text-colors, 'primary'));
    }

    &-filter-list {
      @include mx.flex(flex, column, flex-start, flex-start);
      gap: map.get(var.$unit, 32);

      > li {
        @include mx.flex(flex, column, flex-start, flex-start);
        @include mx.border('top', $color: map.get(color.$layout-border, 'quaternary'));
        gap: map.get(var.$unit, 24);
        width: 100%;
        padding-top: map.get(var.$unit, 32);

        .filter-more {
          margin-top: map.get(var.$unit, 24);

          &-button {
            @include mx.flex(flex, row, center, center);
            @include mx.border('all', $color: map.get(color.$button-ghost-tertiary, 'ghost-border-tertiary-default'));
            gap: map.get(var.$unit, 8);
            width: 100%;
            height: map.get(var.$unit, 32);
            padding: fn.rem(6) map.get(var.$unit, 12);
            background: map.get(color.$button-ghost-tertiary, 'ghost-surf-tertiary-default');
            border-radius: map.get(var.$radius, 'sm');

            .text,
            .count {
              @include typo.typography(
                'b3r',
                $color: map.get(color.$button-ghost-tertiary, 'ghost-on_surf-tertiary-default')
              );
            }

            .count {
              font-style: normal;
            }

            .icon {
              @include icon.ic-size(map.get(var.$unit, 20));
              color: map.get(color.$button-ghost-tertiary, 'ghost-on_surf-tertiary-default');
            }
          }
        }
      }
    }

    &-filter-items {
      width: 100%;

      // max-height 적용 X - 전체 노출
      // &:not(:has(.filter-more)) {
      //   max-height: 50vh;
      //   overflow: hidden auto;
      // }
    }

    &-filter-item {
      & ~ [data-search-more-toggle] {
        margin-top: map.get(var.$unit, 16);
      }
    }
  }

  &:not(:has(.vits-category-tree)) {
    .plp-side-filter-list > li {
      &:first-of-type {
        padding-top: 0;
        border-top: 0;
      }
    }
  }

  // 26-02-12 개발 서버 대응
  &.vits-side-plp:not(:has(> div.plp-side-category)) {
    .plp-side-filter-list > li:first-of-type {
      padding-top: 0;
      border-top: 0;
    }
  }
}

.vits-grid-side-left {
  button {
    @include button.btn-reset;
  }

  .side-left {
    &-title {
      @include typo.typography('h1b', $color: #101828);
    }

    &-nav {
      @include mypage.roundbox-white;
      width: 100%;
      padding: map.get(var.$unit, 20) 0;
    }

    &-dashboard {
      @include mx.flex(flex, row, flex-start, center);
      @include typo.typography('b1r', $color: map.get(color.$text-colors, 'primary'));
      height: $link-height;
      padding: 0 $link-padding;

      @include link-hover;
    }

    &-item {
      &.has-sub {
        padding-top: map.get(var.$unit, 12);
        margin-top: map.get(var.$unit, 12);
      }
    }

    &-link {
      @include mx.flex(flex, row, flex-start, center);
      width: 100%;
      height: $link-height;
      padding: 0 $link-padding;

      &:is(button) {
        @include typo.typography('b1r', $color: map.get(color.$text-colors, 'muted'));

        .icon {
          @include icon.ic-size(map.get(var.$unit, 20));
          margin-left: auto;
          color: map.get(color.$icon-neutral, 'tertiary');
          transition: transform 0.3s;
          will-change: transform;
        }

        &[aria-expanded='true'] .icon {
          transform: rotate(-180deg);
        }
      }

      &:is(a) {
        @include typo.typography('b1r', $color: map.get(color.$text-colors, 'secondary'));
        padding-left: map.get(var.$unit, 44);
        transition:
          color 0.3s,
          font-weight 0.3s,
          background 0.35s;

        @include link-hover;
      }
    }

    &-sub {
      &-list {
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

/* 마이페이지 왼쪽 메뉴 */
.vits-side-mypage,
.vits-side-support {
  @include mx.flex(flex, column, flex-start, flex-start);
  flex: 1 1 auto;
  gap: map.get(var.$unit, 20);
  width: 100%;
  min-width: fn.rem(200);
  max-width: fn.rem(304);
}
