// -----------------------------------------------------------------------------
// pages-mo/_auth.scss
// - 모바일 로그인/회원가입 페이지에서 사용.
// -----------------------------------------------------------------------------

@use 'sass:map';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;
@use '@/assets/scss/components/form' as form;

@mixin link-underline-style {
  .vits-text-link {
    @include typo.typography('b3s', $color: map.get(color.$text-colors, 'tertiary'));
    padding-bottom: fn.rem(4);
    border-bottom: 1px solid map.get(color.$layout-border, 'tertiary');
  }
}

@mixin signup-form-style {
  // 기본 인풋 레이아웃
  .vm-signup-form {
    @include mx.flex(flex, column, flex-start, stretch);
    width: 100%;

    .vm-form {
      &-hint {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
        width: 100%;
        margin-top: map.get(var.$unit, 4);
      }

      &-row {
        @include mx.flex(flex, row, space-between, center, wrap);
        gap: map.get(var.$unit, 8);
      }

      &-column {
        @include mx.flex($direction: column);
        gap: map.get(var.$unit, 12);
        align-items: stretch;
      }

      &-label {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
        flex: 1.5 1 0;
        min-width: fn.rem(100);
      }

      &-field {
        flex: 3 1 0;
        min-width: 0;

        // 유효성 검사 시, 테두리 색상 변경
        .vits-validation {
          &.is-valid {
            .input-item {
              box-shadow: inset 0 0 0 1px map.get(color.$layout-border, 'primary');
            }
          }
        }
      }
    }

    .label-required {
      color: map.get(color.$text-status, 'brand-sub');
    }
  }
}

@mixin button-actions-style {
  @include mx.flex(flex, row, center, flex-end);
  gap: map.get(var.$unit, 12);
  width: 100%;
  padding-bottom: map.get(var.$unit, 40);

  [class*='vits-btn-'] {
    flex: 1 1 0;
    padding: 0 fn.rem(24);

    &[class*='primary'] {
      flex: 3 1 0;
    }
  }
}

@mixin info-card-style {
  @include mx.flex(flex, column, center, center);
  width: 100%;
  padding: fn.rem(44) map.get(var.$unit, 16);
  background-color: map.get(color.$layout-surf, 'raised');
  border-radius: map.get(var.$radius, 'lg');
  box-shadow: map.get(var.$box-shadow, 'elevation_1');

  .vits-empty-state {
    padding: 0;
  }
}

@mixin selectbox-w100 {
  .vits-select {
    width: 100%;

    &-value {
      font-size: fn.rem(14);
    }

    &-trigger {
      justify-content: space-between;
      width: 100%;
      padding: 0 map.get(var.$unit, 16);
    }

    &-list {
      width: calc(100% - fn.rem(1));
    }
  }
}

@mixin signup-submit-style {
  width: 100%;

  [class*='vits-btn-'] {
    width: 100%;
  }
}

[class*='main-content-auth-'] {
  background-color: map.get(color.$layout-surf, 'base'); // 로그인 초기 배경색
  &:has(.info-find-wrap) {
    background-color: transparent;
  }

  // 회원가입 > 입력 폼 , 회원탈퇴
  &:has(.vm-signup-write-inner) {
    .vm-login-content {
      padding-top: map.get(var.$unit, 20);
      padding-bottom: map.get(var.$mo-bottom-bar, 'tab-bar');
    }
  }

  &:has(.vm-withdraw-form) {
    .vm-login-content {
      padding-top: map.get(var.$unit, 20);
    }
  }

  // 배경색 제외 설정
  &:has(
      .auth-dormant-form,
      .id-find-form,
      .join-complete,
      .vits-signup-terms-card,
      .isvm-transfer,
      .vm-signup-write-inner
    ) {
    background-color: map.get(color.$layout-surf, 'mypage');
  }

  @include mx.flex(flex, column, flex-start, flex-start);

  /* 로그인 컨텐츠 */
  .vm-login {
    // stylelint-disable no-descending-specificity
    &-content {
      flex: 1;
      width: 100%;
      padding: map.get(var.$unit, 56) map.get(var.$unit, 16) 0;

      @include mx.flex(flex, column, flex-start, flex-start);

      // 아이디 찾기 결과
      &:has(.id-find-form) {
        @include mx.flex(flex, column, flex-start, center);
        padding-top: fn.rem(80);
      }
    }

    &-logo {
      @include mx.flex(flex, column, center, center);
      width: fn.rem(152);
      margin: 0 auto fn.rem(48);

      @include mx.img-fit(contain);

      .vm-login-subtitle {
        @include typo.typography('b1', $color: map.get(color.$text-colors, 'tertiary'));
        margin-top: fn.rem(10);
      }
    }

    &-form {
      @include mx.flex(flex, column, flex-start, flex-start);
      width: 100%;
    }

    /* 입력 영역 */
    &-form-fields {
      @include mx.flex(flex, column, flex-start, flex-start);
      gap: map.get(var.$unit, 12);
      width: 100%;

      /* 인증코드 유효시간 영역 */
      .login-once-time-attack {
        @include mx.flex(flex, column, center, center);
        gap: map.get(var.$unit, 16);
        width: 100%;
        padding-top: map.get(var.$unit, 12);

        .time-attack-info {
          @include mx.flex(flex, row, center, center);
          gap: map.get(var.$unit, 12);

          .time-attack-label {
            @include typo.typography('b2s', $color: map.get(color.$text-colors, 'tertiary'));
          }

          .time-attack-value {
            @include typo.typography('b2s', $color: map.get(color.$text-status, 'brand'));
          }
        }

        .time-attack-btn {
          padding: 0 fn.rem(25);

          .text {
            @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
          }
        }
      }
    }

    /* 옵션 영역 (아이디,자동 로그인 저장)  */
    &-options {
      margin-top: map.get(var.$unit, 12);

      .login-checkbox {
        @include mx.flex(flex, row, flex-start, center);
        gap: map.get(var.$unit, 24);
      }

      .label {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
      }
    }
  }

  /* 로그인 버튼 */
  .login-submit {
    width: 100%;
    margin-top: fn.rem(52);
  }

  /* 일회성 로그인 링크, 아이디찾기결과 메인 링크 */
  .login-once-others {
    padding: map.get(var.$unit, 16) 0 fn.rem(44);
    margin: 0 auto;

    @include link-underline-style;
  }

  /* 인증 탭 버튼 */
  .vits-auth-tabs {
    min-height: fn.rem(48);
    margin-bottom: map.get(var.$unit, 52);

    [class*='vits-btn-'] {
      min-height: fn.rem(48);
    }
  }

  .login-links {
    @include mx.flex(flex, column, center, center);
    width: 100%;

    ul {
      @include mx.divider('li', $h: 12, $gap: 16, $color: map.get(color.$layout-border, 'tertiary'));

      a {
        @include typo.typography('b3', $color: map.get(color.$text-colors, 'tertiary'));
      }
    }
  }

  // ISVM 전환 신청 (MO_MY_05010204)
  .isvm-transfer {
    padding: 0;

    .isvm-brand {
      @include mx.flex(flex, row, center, center, wrap);
      gap: map.get(var.$unit, 12);
      padding: map.get(var.$unit, 56) 0 map.get(var.$unit, 36);
      background-color: map.get(color.$layout-surf, 'base');
      box-shadow: map.get(var.$box-shadow, 'elevation_1');

      img {
        width: auto;
        height: fn.rem(20);
      }

      &-arrow {
        @include mx.background('ic/ic-triple-arrow.svg');
        display: inline-flex;
        align-items: center;
        width: fn.rem(13.5);
        height: fn.rem(9);
      }

      &-sub {
        @include mx.flex(flex, column);
        gap: map.get(var.$unit, 8);
        width: 100%;
        padding: fn.rem(28) map.get(var.$unit, 16) 0;
        text-align: center;

        &-point {
          @include typo.typography('b2s', $color: map.get(color.$text-colors, 'default'));

          b {
            @include typo.typography('b2s', $color: map.get(color.$text-status, 'success-sub'));
          }
        }

        &-text {
          @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
          width: 100%;
        }
      }
    }

    // 하단 안내
    .vm-isvm-info {
      @include mx.flex(flex, column);
      gap: map.get(var.$unit, 12);
      padding: map.get(var.$unit, 24) map.get(var.$unit, 16) map.get(var.$unit, 32);

      &-warning {
        @include typo.typography('b5r', $color: map.get(color.$text-colors, 'secondary'));
        padding-left: fn.rem(10);

        .point-dot {
          &::before {
            display: inline-block;
            margin-right: map.get(var.$unit, 4);
            content: '*';

            @include typo.typography('b5r', $color: map.get(color.$text-status, 'brand'));
          }
        }
      }

      &-sub {
        @include typo.typography('b3s', $color: map.get(color.$text-colors, 'default'));
        margin: 0;

        &.typo-b4r {
          @include typo.typography('b4s', $color: map.get(color.$text-status, 'info'));
        }
      }

      &-list {
        @include mx.flex(flex, column);
        @include mx.bullet-style(10, 7, 2, 2, map.get(color.$icon-neutral, 'secondary'));
        gap: map.get(var.$unit, 4);

        li {
          margin-top: 0 !important;

          @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
        }
      }
    }

    .vits-signup-terms-card {
      margin: map.get(var.$unit, 24) map.get(var.$unit, 16) 0;
    }

    .vm-signup-submit {
      @include signup-submit-style;
      padding: 0 map.get(var.$unit, 16) map.get(var.$unit, 48);
    }
  }
}

/* === 로그인/회워가입 폼 === */
.vm-signup {
  &-headline {
    padding: 0;
    margin-bottom: map.get(var.$unit, 24);
    text-align: center;
  }

  &-desc {
    @include typo.typography('b2m', $color: map.get(color.$text-colors, 'default'));
  }

  &-title {
    @include typo.typography('h4b', $color: map.get(color.$text-colors, 'default'));
  }

  &-alert {
    @include typo.typography('b2r', $color: map.get(color.$text-colors, 'default'));
    padding-bottom: map.get(var.$unit, 24);
  }

  // 비밀번호, 아이디 찾기
  .info-find {
    &-wrap {
      width: 100%;

      .info-find-tabs-wrap {
        & + .info-find-form {
          padding: map.get(var.$unit, 44) map.get(var.$unit, 16);
        }
      }
    }

    &-tabs-wrap {
      .vits-auth-tabs {
        padding: 0;
        margin-bottom: 0;
        background-color: transparent;

        [class*='vits-btn-'] {
          padding: fn.rem(16) 0 fn.rem(32);
          margin-bottom: fn.rem(-16);
          border: 0;
          border-radius: map.get(var.$radius, 'md') map.get(var.$radius, 'md') 0 0;

          .text {
            @include typo.typography('b3b', $color: map.get(color.$text-colors, 'tertiary'));
          }
        }
      }

      .info-find-tab-btn {
        &.is-active .text {
          @include typo.typography('b3b', $color: map.get(color.$text-colors, 'secondary'));
        }
      }

      & + &-form {
        border-radius: 0 0 map.get(var.$radius, 'lg') map.get(var.$radius, 'lg');
      }
    }

    &-form {
      padding: map.get(var.$unit, 24) map.get(var.$unit, 16);
      background-color: map.get(color.$layout-surf, 'base');

      @include mx.flex(flex, column, flex-start, flex-start);
      border-radius: map.get(var.$radius, 'lg');
      box-shadow: map.get(var.$box-shadow, 'elevation_1');

      &-fields {
        @include mx.flex(flex, column, flex-start, flex-start);
        gap: map.get(var.$unit, 12);
      }

      &-actions {
        width: 100%;
        margin: map.get(var.$unit, 40) 0 map.get(var.$unit, 20);

        [class*='vits-btn-'] {
          width: 100%;
        }
      }
    }
  }

  // 휴면 계정 안내
  .auth-dormant {
    &-form {
      @include info-card-style;
      @include mx.flex(flex, column, center, center);
      gap: map.get(var.$unit, 32);
      padding: fn.rem(32) fn.rem(16);
    }

    &-info-box {
      @include mx.flex(flex, column, flex-start, flex-start);
      gap: map.get(var.$unit, 20);
      padding: map.get(var.$unit, 32) map.get(var.$unit, 16);
      text-align: center;
      background-color: map.get(color.$layout-surf, 'raised');
      border-radius: map.get(var.$radius, 'sm');
    }

    &-info-text {
      @include typo.typography('b3r', $color: map.get(color.$text-colors, 'secondary'));
      margin: 0;

      .highlight-text {
        @include typo.typography('b3b', $color: map.get(color.$text-status, 'info'));
      }

      .point-text {
        @include typo.typography('b3b', $color: map.get(color.$text-status, 'brand'));
      }
    }

    &-actions {
      @include button-actions-style;
      flex: auto;
      padding-bottom: 0;
    }
  }

  // auth (회원가입 완료, 아이디 찾기 결과 등)
  .auth-contact {
    @include mx.flex(flex, row, center, center);
    gap: map.get(var.$unit, 32);
    width: 100%;
    padding-top: fn.rem(24);

    &-call,
    &-kakaotalk {
      @include mx.flex(flex, row, center, center);
      gap: map.get(var.$unit, 8);
      text-decoration: none;
    }

    &-icon {
      flex-shrink: 0;
      border-radius: 50%;

      @include mx.flex(flex, row, center, center);
      @include icon.ic-size(fn.rem(32));
      @include mx.img-fit(contain);
    }

    &-text {
      @include typo.typography('b4s', $color: map.get(color.$text-colors, 'secondary'));
    }
  }

  // 아이디 찾기 완료
  .id-find-form {
    @include mx.flex(flex, column, center, flex-start);
    width: 100%;
    margin-top: fn.rem(16);

    .id-info {
      &-card {
        @include info-card-style;

        .id-info-text {
          @include typo.typography('b2s', $color: map.get(color.$text-colors, 'tertiary'));
          text-align: center;
        }

        .found-id-text {
          @include typo.typography('b1s', $color: map.get(color.$text-status, 'brand'));
          padding: 0 map.get(var.$unit, 12);
        }
      }

      &-main-link {
        padding: map.get(var.$unit, 40) 0 map.get(var.$unit, 16);
        margin: 0 auto;

        @include link-underline-style;
      }

      &-actions {
        @include button-actions-style;
        padding-bottom: fn.rem(24);
        border-bottom: 1px solid map.get(color.$layout-border, 'tertiary');
      }
    }
  }

  // 회원가입 완료
  .join-complete {
    @include mx.flex(flex, column, center, flex-start);
    width: 100%;

    &-card {
      @include info-card-style;
      @include link-underline-style;
      padding: fn.rem(32) fn.rem(16);

      .vits-text-link {
        margin: map.get(var.$unit, 32) 0 map.get(var.$unit, 16);
      }
    }

    &-actions {
      @include button-actions-style;
      padding-bottom: 0;
    }
  }

  // 비밀번호 변경 안내
  .pw-change {
    &-form-wrap {
      @include mx.flex(flex, column, center, center);
      flex: 1;
      gap: map.get(var.$unit, 32);
      width: 100%;

      .alerts-anatomy-text {
        white-space: pre-line;
      }
    }

    &-form {
      @include mx.flex(flex, column, flex-start, flex-start);
      flex: 1;
      width: 100%;
    }

    &-form-inner {
      @include mx.flex(flex, column, flex-start, flex-start);
      flex: 1;
      gap: map.get(var.$unit, 20);
      width: 100%;

      @include signup-form-style;

      .vm-signup-form {
        gap: map.get(var.$unit, 12);

        .vm-form-row {
          align-items: flex-start;

          .vm-form-label {
            padding-top: map.get(var.$unit, 8);
          }
        }
      }
    }

    &-actions {
      @include button-actions-style;
    }
  }

  &-form-wrap {
    width: 100%;
  }

  // 회원가입 > 약관동의
  &-terms {
    @include signup-form-style;

    .vm-signup-form {
      gap: map.get(var.$unit, 8);
      padding: map.get(var.$unit, 8) map.get(var.$unit, 16) map.get(var.$unit, 24);
      background-color: map.get(color.$layout-surf, 'base');
      border-radius: 0 0 map.get(var.$radius, 'lg') map.get(var.$radius, 'lg');
      box-shadow: map.get(var.$box-shadow, 'elevation_1');

      @include selectbox-w100;
    }

    .vm-signup-submit {
      @include signup-submit-style;
      padding-top: map.get(var.$unit, 24);
    }
  }

  // 회원가입 > 회원정보입력
  &-write-inner {
    @include mx.flex(flex, column, flex-start, flex-start);
    gap: map.get(var.$unit, 24);
    width: 100%;
    padding: map.get(var.$unit, 20);
    background-color: map.get(color.$layout-surf, 'base');
    border-radius: map.get(var.$radius, 'lg');
    box-shadow: map.get(var.$box-shadow, 'elevation_1');

    .vm-signup-submit {
      @include signup-submit-style;
    }

    .vm-signup-section {
      @include mx.flex(flex, column, flex-start, flex-start);
      gap: map.get(var.$unit, 16);
      width: 100%;
    }

    .vm-signup-section-title {
      @include typo.typography('b3s', $color: map.get(color.$text-colors, 'secondary'));
      margin: 0;

      .label-required {
        color: map.get(color.$text-status, 'brand-sub');
      }
    }

    .vm-signup-form {
      @include mx.flex(flex, column, flex-start, flex-start);
      gap: map.get(var.$unit, 20);
      width: 100%;

      .vm-form-row {
        width: 100%;
      }

      .vm-form-field {
        @include mx.flex(flex, row, flex-start, flex-start);
        gap: map.get(var.$unit, 8);
        width: 100%;

        @include selectbox-w100;

        [class*='vits-btn-']:not([class*='vits-btn-eyes']) {
          padding: 0 fn.rem(20);
        }
      }

      .vm-form-hint {
        @include typo.typography('b4r', $color: map.get(color.$text-colors, 'tertiary'));
        width: 100%;
        padding-left: fn.rem(12);
        margin-top: map.get(var.$unit, 4);
      }

      .validation-message p {
        padding-left: fn.rem(12);
        font-size: fn.rem(12);
        font-weight: 400;
      }

      .vm-form-column {
        @include mx.flex(flex, column, flex-start, stretch);
        gap: map.get(var.$unit, 12);
        width: 100%;
      }

      .vm-form-label {
        // Body/13/13 Sb
        @include typo.typography('m1s', $color: map.get(color.$text-colors, 'secondary'));
      }
    }

    // 접기/펼치기 공통 스타일 (마케팅·세금계산서)
    @mixin auth-toggle-box-surface {
      padding: map.get(var.$unit, 16) map.get(var.$unit, 12);
      background-color: map.get(color.$layout-surf, 'raised');
      border-radius: map.get(var.$radius, 'lg');
    }

    @mixin auth-toggle-row {
      @include mx.flex($align: center, $justify: space-between);
    }

    @mixin auth-toggle-btn-base {
      @include button.btn-reset;
      @include typo.typography('b3r', $color: map.get(color.$text-colors, 'tertiary'));
      @include mx.flex($align: center);
      gap: map.get(var.$unit, 4);
    }

    @mixin auth-toggle-text-expand-collapse {
      // 기본: 접힌 상태(펼치기 노출)
      &.is-expanded {
        display: none;
      }

      &.is-collapsed {
        display: inline;
      }
    }

    @mixin auth-toggle-icon {
      @include icon.ic-size(fn.rem(16));
      transition: transform 0.2s;
    }

    @mixin auth-toggle-body($with-margin-top: false) {
      overflow: hidden;
      transition:
        margin 0.3s,
        padding-top 0.3s,
        max-height 0.3s,
        clip-path 0.3s,
        opacity 0.2s,
        visibility 0s 0s;

      &.is-open {
        display: block;
        padding-top: map.get(var.$unit, 24);
      }
    }

    @mixin auth-toggle-btn-aria-expanded($text-class, $icon-class) {
      &-btn[aria-expanded='true'] {
        #{$text-class}.is-expanded {
          display: inline;
        }

        #{$text-class}.is-collapsed {
          display: none;
        }

        #{$icon-class} .ic {
          transform: rotate(180deg);
        }
      }

      &-btn[aria-expanded='false'] {
        #{$text-class}.is-expanded {
          display: none;
        }

        #{$text-class}.is-collapsed {
          display: inline;
        }

        #{$icon-class} .ic {
          transform: rotate(0deg);
        }
      }
    }

    .vm-modify-toggle-box {
      width: 100%;

      @include auth-toggle-box-surface;

      .vm-modify-marketing {
        &-toggle {
          @include auth-toggle-row;
        }

        &-btn {
          @include auth-toggle-btn-base;
        }

        &-text {
          @include typo.typography('b3s', $color: map.get(color.$text-colors, 'secondary'));
          @include auth-toggle-text-expand-collapse;
        }

        &-icon {
          @include auth-toggle-icon;
        }

        @include auth-toggle-btn-aria-expanded('.vm-modify-marketing-text', '.vm-modify-marketing-icon');

        &-body {
          @include auth-toggle-body(false);
        }

        &-list {
          display: flex;
          flex-wrap: wrap;
          gap: map.get(var.$unit, 16);
        }

        &-item {
          @include mx.flex($align: center);
        }
      }

      .vits-checkbox-item .label {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
      }
    }

    // 세금계산서 정보
    .vm-signup-tax {
      padding-top: map.get(var.$unit, 16);

      &-head {
        @include mx.flex($direction: column);
        gap: map.get(var.$unit, 12);
      }

      &-title {
        @include typo.typography('b3s', $color: map.get(color.$text-colors, 'secondary'));
      }

      &-btn {
        @include auth-toggle-btn-base;
      }

      &-body {
        @include auth-toggle-body(true);
      }

      &-text {
        @include auth-toggle-text-expand-collapse;
      }

      &-icon {
        @include auth-toggle-icon;
      }

      // 접기/펼치기 영역 box
      .vm-signup-toggle-box {
        @include auth-toggle-box-surface;
        width: 100%;
        margin-bottom: map.get(var.$unit, 12);

        .vm-signup-tax-toggle {
          @include auth-toggle-row;
        }

        .vm-signup-tax-text {
          @include typo.typography('b3s', $color: map.get(color.$text-colors, 'secondary'));
          @include auth-toggle-text-expand-collapse;
        }

        .vits-checkbox-item .label {
          @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
        }
      }

      @include auth-toggle-btn-aria-expanded('.vm-signup-tax-text', '.vm-signup-tax-icon');
    }

    // 회원탈퇴 및 ISVM 전환 신청 버튼 스타일
    .vm-signup-footer {
      &-list {
        @include mx.flex($align: center, $justify: flex-start);
        gap: map.get(var.$unit, 32);
      }

      .vits-text-underline-button {
        @include typo.typography('b3s', $color: map.get(color.$text-status, 'brand-sub'));

        &.type-member-delete {
          color: map.get(color.$text-status, 'brand-sub');
          border-color: map.get(color.$text-status, 'brand-sub');
        }

        &.type-member-transfer {
          color: map.get(color.$text-colors, 'tertiary');
        }
      }
    }
  }
}

// 약관동의 카드 (pc 소스 일부 가지고옴)
.vits-signup {
  &-terms-card {
    @include mx.flex($direction: column);
    gap: map.get(var.$unit, 20);
    padding: map.get(var.$unit, 24) map.get(var.$unit, 16);
    background-color: map.get(color.$layout-surf, 'base');
    border-radius: map.get(var.$radius, 'lg') map.get(var.$radius, 'lg') 0 0;
  }

  &-terms-all {
    @include mx.flex($direction: column);
    gap: map.get(var.$unit, 2);
    padding: 0 map.get(var.$unit, 16);

    .vits-checkbox-item.size-l {
      align-items: center;
    }
  }

  &-terms-all-desc {
    @include typo.typography('b5r', $color: map.get(color.$text-colors, 'tertiary'));
    padding-left: fn.rem(24);
    margin: 0;
  }

  &-terms-list {
    @include mx.flex(flex, column, flex-start, flex-start);
    gap: map.get(var.$unit, 4);
  }

  &-terms-item {
    @include mx.flex(flex, row, space-between, center);
    gap: map.get(var.$unit, 4);
    width: 100%;
    padding: map.get(var.$unit, 16);
    border: 1px solid map.get(color.$layout-border, 'quaternary');
    border-radius: map.get(var.$radius, 'md');

    .vits-checkbox-item {
      .label {
        @include typo.typography('b2s', $color: map.get(color.$text-colors, 'secondary'));
      }

      .label-tag {
        margin-left: map.get(var.$unit, 8);
        color: map.get(color.$text-status, 'brand-sub');
      }

      // 마케팅 및 광고 알림 설정 체크 시 텍스트 색상 변경
      [value='marketing'] ~ .label {
        .label-tag {
          color: map.get(color.$text-colors, 'tertiary');
        }
      }
    }
  }

  &-terms-link {
    display: inline-flex;
    flex-shrink: 0;
    gap: map.get(var.$unit, 4);
    align-items: center;
    color: map.get(color.$text-colors, 'tertiary');
    text-decoration: none;

    .ic {
      @include icon.ic-size(fn.rem(16));
    }
  }

  &-terms-details {
    width: 100%;
  }

  &-terms-summary {
    @include mx.flex(flex, row, space-between, center);
    gap: map.get(var.$unit, 12);
    list-style: none;
    cursor: pointer;

    .terms-toggle-btn {
      @include button.btn-reset;
      display: inline-flex;
      flex: 1;
      flex-shrink: 0;
      justify-content: flex-start;
      color: map.get(color.$text-colors, 'tertiary');

      .ic {
        @include icon.ic-size(fn.rem(16));
      }
    }
  }

  &-terms-sub {
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 16);

    &.is-open {
      padding-top: map.get(var.$unit, 12);
      margin-top: map.get(var.$unit, 16);
      border-top: 1px solid map.get(color.$layout-border, 'quaternary');

      .label {
        @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
      }
    }
  }

  .terms-toggle-btn[aria-expanded='true'] .ic {
    transform: rotate(180deg);
  }
}

/* === kendo window 휴면해제 팝업 === */
.vm-auth-dormant-modal {
  position: relative;

  .vm-auth-dormant {
    &-form {
      @include mx.flex(flex, column, flex-start, flex-start);
      gap: map.get(var.$unit, 16);

      &-fields {
        @include mx.flex(flex, column, flex-start, flex-start);
        gap: map.get(var.$unit, 8);
        width: 100%;

        .form-field-label {
          @include typo.typography('b3s', $color: map.get(color.$text-colors, 'primary'));
          min-width: fn.rem(140);

          .label-required {
            @include typo.typography('b3s', $color: map.get(color.$text-status, 'brand-sub'));
            margin-left: map.get(var.$unit, 2);
          }
        }
      }
    }
  }
}

/* === 회원탈퇴 팝업 (MO_MY_05010203_M) === */
// stylelint-disable-next-line selector-id-pattern
.vm-withdraw {
  &-form {
    @include mx.flex(flex, column, flex-start, flex-start);
    @include signup-form-style;
    gap: map.get(var.$unit, 24);
    width: 100%;
  }

  &-agree {
    @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
    margin: 0 auto;
  }

  &-notice {
    width: 100%;

    .vits-alerts-anatomy.type-red {
      margin-bottom: 0;

      .alerts-anatomy-list {
        li {
          @include typo.typography('b4r', $color: map.get(color.$text-colors, 'secondary'));
          padding-left: 0;
        }

        li::before {
          content: none;
        }
      }

      .alerts-anatomy-list-sub {
        @include mx.bullet-style(8, 6, 2, 2, map.get(color.$icon-neutral, 'secondary'), 2);

        li {
          @include typo.typography('b5r', $color: map.get(color.$text-colors, 'secondary'));
          margin-left: fn.rem(14);
        }
      }
    }
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &-agree {
    .vits-checkbox-item .label {
      @include typo.typography('b3r', $color: map.get(color.$text-colors, 'primary'));
    }
  }

  &-fields {
    @include mx.flex(flex, column);
    gap: map.get(var.$unit, 20);
    width: 100%;
    padding-top: map.get(var.$unit, 12);

    .vm-form-row {
      @include mx.flex(flex, column);
      gap: map.get(var.$unit, 8);

      .vm-form-label {
        @include typo.typography('b3s', $color: map.get(color.$text-colors, 'secondary'));
        min-width: fn.rem(110);

        .label-required {
          @include typo.typography('b3s', $color: map.get(color.$text-status, 'brand-sub'));
          margin-left: map.get(var.$unit, 2);
        }
      }

      .vm-form-field {
        flex: 1;
        min-width: 0;
      }

      &.type-withdraw-reason {
        .vm-form-field {
          @include mx.flex(flex, column, flex-start, flex-start);
          width: 100%;
          padding: map.get(var.$unit, 16);
          background-color: map.get(color.$layout-surf, 'raised');
          border-radius: map.get(var.$radius, 'md');

          .vm-withdraw-reason-list {
            @include mx.flex(flex, column, flex-start, flex-start);
            gap: map.get(var.$unit, 16);
            width: 100%;

            .reason-etc {
              width: 100%;

              .vm-withdraw-reason-etc-box {
                margin-top: map.get(var.$unit, 16);
              }
            }
          }
        }
      }
    }
  }

  &-actions {
    @include button-actions-style;
  }
}

/* === 이용약관 모달 (공통팝업) MO_CO_01010101_M === */
// stylelint-disable no-duplicate-selectors
.vm-signup-terms {
  &-body {
    max-height: fn.rem(275);
  }

  &-article {
    &[hidden] {
      display: none;
    }

    &:not([hidden]) + .vm-signup-terms-article:not([hidden]) {
      padding-top: map.get(var.$unit, 24);
      margin-top: map.get(var.$unit, 24);
      border-top: 1px solid map.get(color.$layout-border, 'quaternary');
    }
  }

  &-section {
    @include typo.typography('b4r', 'Noto Sans KR', 0, map.get(color.$text-colors, 'secondary'));
    padding: map.get(var.$unit, 16) map.get(var.$unit, 8) map.get(var.$unit, 16) map.get(var.$unit, 16);
    background-color: map.get(color.$layout-surf, 'raised');
    border-radius: map.get(var.$radius, 'lg');

    & + .vm-signup-terms-section {
      margin-top: map.get(var.$unit, 24);
    }
  }
}

// 약관동의 모달 제목 스타일
.k-window.k-window-titleless:has(.vm-signup-terms-article) {
  .vm-modal-title {
    @include typo.typography('b2b', $color: map.get(color.$text-colors, 'primary'));
  }
}
