// -----------------------------------------------------------------------------
// pages-mo/_history.scss
// - 모바일 최근 본 상품 페이지
// -----------------------------------------------------------------------------

@use 'sass:map';
@use 'sass:math';
@use '@/assets/scss/abstracts/variables' as var;
@use '@/assets/scss/abstracts/mixins' as mx;
@use '@/assets/scss/abstracts/functions' as fn;
@use '@/assets/scss/base/colors' as color;
@use '@/assets/scss/base/typography' as typo;
@use '@/assets/scss/components/icon' as icon;
@use '@/assets/scss/components/button' as button;

// 최근 본 상품 페이지 - 기본배경
.vm-wrap:has(.main-content-history) {
  background: color.$color-white;

  .vm-content-wrap {
    background: color.$color-white;
  }
}

// 최근 본 상품 목록
.vm-history-detail {
  &-products {
    .vm-product {
      &-items {
        padding-top: 0;
        box-shadow: none;
      }
    }
  }
}
