<!-- prettier-ignore -->
<% 
  const _src = srcPath; 
  const _public = publicPath;
  const _imageSrc = typeof imageSrc !== 'undefined' ? imageSrc : `${_public}/resources/img/mro/renewal/temp/temp-ex01.jpg`;
%>

<div class="vm-modal-common-banner">
  <img src="<%= _imageSrc %>" alt="" />
</div>
