<!-- prettier-ignore -->
<% 
  const _src = srcPath; 
  const _public = publicPath;
  const _winId = typeof winId !== 'undefined' ? winId : '';
  const _imageSrc = typeof imageSrc !== 'undefined' ? imageSrc : `${_public}/resources/img/mro/renewal/temp/temp-ex01.jpg`;
  const _imageHref = typeof imageHref !== 'undefined' ? imageHref : '';
%>

<div class="vm-main-modal-content">
  <a href="<%= _imageHref %>" class="vm-main-modal-link">
    <img src="<%= _imageSrc %>" alt="" />
  </a>
  <button type="button" class="vm-main-modal-close"  onclick="VmKendoWindow.close('<%= _winId %>')"  aria-label="닫기">
    <%- include(`${_src}/views/components/icon.ejs`, { iconName: 'x' }) %> </span>
  </button>
</div>
