<% const _src = srcPath; const _public = publicPath; %>

<div class="gnb-left-item">
  <button type="button" class="gnb-btn brand" data-toggle-btn data-toggle-target="gnb-brand" aria-expanded="false">
    <span class="icon left"> <%- include(`${_src}/views/components/icon.ejs`, { iconName: 'label' }) %> </span>
    <span class="text">브랜드</span>
    <span class="icon right"> <%- include(`${_src}/views/components/icon.ejs`, { iconName: 'arrow-down' }) %> </span>
  </button>

  <div class="gnb-panel gnb-panel-brand" data-toggle-box="gnb-brand">
    <div class="gnb-panel-inner">
      <div class="gnb-panel-head">
        <strong class="gnb-panel-title">브랜드</strong>
      </div>
      <div class="gnb-panel-body">
        <ul class="gnb-panel-list">
          <li><a href="/brand/1">브랜드 1</a></li>
          <li><a href="/brand/2">브랜드 2</a></li>
          <li><a href="/brand/3">브랜드 3</a></li>
          <li><a href="/brand/4">브랜드 4</a></li>
          <li><a href="/brand/5">브랜드 5</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
