<div data-toggle-scope data-toggle-group="true">
  <button
    type="button"
    data-toggle-btn
    data-toggle-outside="true"
    data-toggle-group-except="true"
    data-toggle-target="panel"
    aria-expanded="false"
  >
    토글 버튼
  </button>

  <div data-toggle-box="panel">토글 패널</div>
</div>
