name: Node.js CI

on:
  pull_request:
    types: [closed]
    branches: [ main ]

jobs:

  pages-mo:
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout"
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: "Setup pnpm"
      uses: pnpm/action-setup@v2
      with:
        version: 8

    - name: "Use NodeJS 18"
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    
    - name: "Install dependencies"
      run: |
        pnpm i

    - name: Generate build
      run: pnpm build

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./dist
            keep_files : true