<% const _src = srcPath; const _public = publicPath; %>
<!-- prettier-ignore -->

<div class="bottom-step-bar-price is-price">
  <div class="step-bar-price">
    <div class="step-bar-price-inner">
      <span class="label">환불예정금액</span>
      <span class="value">1,025,000원</span>
    </div>
  </div>

  <div class="step-bar-actions">
    <!-- prettier-ignore -->
    <%- include(`${_src}/views/components/button/button.ejs`, {
      size: 'xl', 
      variant: 'primary', 
      text: '취소신청 완료',
      attrs: 'data-cancel-submit'
    }) %>
  </div>
</div>
