<% const _src = srcPath; const _public = publicPath; %>

<!-- prettier-ignore -->
<div class="vm-bottom-bar">
  <% if (type === 'tab-bar') { %>
    <!-- prettier-ignore -->
    <%- include('./tab-bar.ejs', { 
      currentTab: typeof currentTab !== 'undefined' ? currentTab : '' 
    }) %>
  <% } else if (type === 'step-bar') { %>
    <%- include('./step-bar.ejs') %>
  <% } else if (type === 'cancel-bar') { %>
    <%- include('./cancel-bar.ejs') %>
  <% } %>
</div>
